[2019-04-25 07:22] abbluiz commented on #884
It seems like a complicated matter. If it is resolved, maybe consider changing it to CC0? It's basically public domain and (way) more clear than WTFPL, compatible with GPLv3

https://www.gnu.org/licenses/license-list.html

[2019-04-25 07:45] five-c-d commented on #856
This is exactly the kind of thing, that I'm trying to avoid, here in github:  endless political arguments.

<details><summary>politics stuff</summary><p>

I think that mozilla removing the addon was politically wrong.  We agree.  But the conclusion you draw is therefore "delist firefox because mozilla foundation which is the sponsor of the software engineers who write firefox are doing things that

[2019-04-25 07:48] five-c-d commented on #884
Yes, that is going to be my suggestion, if the intent is to have maximum ability to survive all the weird copyright jurisdictions around the world.  (Or dual-licensed WTFPL+CC0 maybe.)  But first I'd like to get the can-the-project-lead-re-license-from-copyleft-to-uber-permissive unilaterally thing worked out... I think we need signoffs, or maybe there was clickwrap I don't know about in the pull-

[2019-04-25 07:57] abbluiz commented on #884
Section 6 of this website made it somewhat more clear for me

https://opensource.guide/legal/

[2019-04-25 12:12] Meteor0id opened #885 "✨ Feature Suggestion | Provide use cases, screenshots and list of features for all listed social networks"
## Description:
Currently there are 3 social networks listed and one more is mentioned. The descriptive text on privacytools.io does describe some philosophy behind each network, but falls short for people looking to make an actual choice: it is not listed for what use cases these networks are designed, how difficult they are to set up, which features they support, what they look like, etc.

The u

[2019-04-25 12:22] Meteor0id commented on #880
Quite debatable.

I think the solution is to start with a few paragraphs of summing up the basics, and than continue onwards into details. Like well written articles should always do.

Privacytools.io should always provide a little more info than a user was looking for. Privacytools.io also has a job of educating people; pushing them to learn more, understand privacy related criteria more in dept.

[2019-04-25 13:25] atomGit commented on #816
wow, nice catch - i either didn't know that or forgot about it - i'd say link to libreho.st only

what does 'PTIO' mean? i even tried the urban dic. and couldn't find it :)

[2019-04-25 13:28] atomGit commented on #816
OH dummy me - privacy tools i o  - got it

i don't know how to answer your 2nd question though - what do you mean by "join"?

[2019-04-25 13:37] Shifterovich commented on #856
@five-c-d My approve was only UI-wise, I haven't had the time to look into this issue yet, so I can't really comment.

[2019-04-25 13:59] atomGit commented on #816
NM - it's early and body must be experiencing a severe lack of caffeine ... YES, absolutely, is my answer - i think asking libreho.st to include PTIO in it's listing is well-worth exploring

and thanks again for catching my oversight

[2019-04-25 14:25] libBletchley commented on #882
## create a sitemap, perhaps?
There is a convention for this.. when a website makes navigation deep or complex (e.g. with [structural navigation](https://www.oreilly.com/library/view/designing-web-navigation/9780596528102/ch04.html), they have a "***sitemap***" which then dispenses with uncommon jargon and shows the user a flat structure.  A site map would be useful, although it's not exactly what

[2019-04-25 14:59] five-c-d commented on #882
Browsers and OSes are top-level because most people HAVE to have them.  Not everybody needs voip, not everybody needs webmail, but 99.99% of people need a browser and need an OS.  Please open a new thread though, this one is about the sitemap

This is a genius name, and I'm kicking myself for not having thought of it  :-)   Nice work.

Right now the /classic portion is just a bunch of server-side-

[2019-04-25 15:30] five-c-d commented on #885
@Meteor0id nice to see you :-)    Agree 100%.   There has been some discussion about a couple of ways to accomplish what you are describing, over in the IM+VoIP area, and also over in the browser area.  The main suggestions are to setup either

1.  some kind of pros-n-cons bulleted list, for the top3 tools at least, instead of blurbs
2.  some kind of comparison-table with sortable columns, and fil

[2019-04-25 17:54] five-c-d commented on #798
I am against this entire line of thinking.  :-)   I think that privacyToolsIO should be about tools, and about whether those tools are privacy-respecting, and then giving some indication of what the tools are suited for:  splitting the listings into categories (mobile OS versus laptop OS versus liveCD ... VoIP versus IM versus webmail service versus email client).  Then, within each category, high

[2019-04-25 17:55] Mikaela commented on #846
Note: Privacytools.io is hosting a WriteFreely instance at https://write.privacytools.io/about

[2019-04-25 18:53] pahakalle commented on #882
Would something like this look good? <img width="469" alt="Screenshot 60" src="https://user-images.githubusercontent.com/1533244/56760685-66e39880-67a4-11e9-85cc-443637d2eb0c.png">

[2019-04-25 19:00] JonahAragon commented on #882
I think the navbar is getting a bit cluttered and not the best space for new options (especially with #877).

[2019-04-25 19:11] 3j9fkyahunqoxwqu commented on #841
Hello
AFAIK geo permission won't granted automatically and if a website asks for it, browser will ask from user.
Setting default deny for geo is bad for fingerprinting because it makes the user completely distinct from oyhers while having low benefit.
Anoyther problem with it is geo is mostly absent in laptops/drsktops (although my main reason was above i wrote this also for more reasons.)

Thanks

[2019-04-25 19:20] 3j9fkyahunqoxwqu commented on #779
Hello

@libBletchlay, although signal has some problems, it is one of most secure ways for someone that is in the live/death situation.
Replacing it with some other softwares that leak some meta data and/or not audited is really dangerous.

[2019-04-25 19:33] 3j9fkyahunqoxwqu commented on #535
In this article (that may be bisaed because it written by cliqz, the company that bought ghostery) they compared its speed with other content blockers and the results wasn't good enough, although they didn't included https everywhere and other parts of this addon in the measures.

[2019-04-25 19:37] five-c-d commented on #843
As usual, I think you misunderstand me:  you listed an issue called "software removal:  github".  The category of software-removal issues is intended for tools that are listed, which should no longer be listed.  You have filed such issues, as I recall ;-)

Github is not software the privacyToolsIO recommends to the readership, it is just, some software that is *optionally* utilized by privacyTools

[2019-04-25 19:54] five-c-d commented on #872
There are two ways to get around menu-size limitations:  reduce the size of the menu-items (smaller font), or reduce the number of menu-items.  Smaller font or less whitespace is a bad idea, because people with poor/elderly eyesight won't be able to read the items, as will people in high-glare or unstable-screen situations (outside or in transit or walking ... or walking down the aisle of a moving

[2019-04-25 20:00] libBletchley commented on #779
1. PTIO is not for life/death situations.  It's for avoiding ***mass surveillance***.
1. you're wrong.  Most particularly if your life depends on the anonymity of you and your correspondents you're stuffed.

Metadata is leaked with Signal.  Signal leaks *who* is talking to *who* to OWS by way of a centralized network on which all users are forcably identified, who can then be cross-referenced to g

[2019-04-25 20:12] Herohtar commented on #779
That is also wrong; sealed sender prevents exactly this scenario.

[2019-04-25 20:23] five-c-d commented on #779
Oh?  Link please.  I notice you elide any evidence of your accusation.

You don't seem to know what you are talking about, can you please explain how you imagine this attack vector would work?  I'm running signal4android (either playstore flavour or sideload flavour) and.... what happens, how does evil OWS compromise me?  Compare explicitly to what happens on wireapp4android (web flavour and apk f

[2019-04-25 20:29] libBletchley commented on #779
That's security by obscurity.  OWS designed their system such that it must authenticate who connects to their network.  When the "envelope sender" is replaced with other data (a certificate), OWS can log that if they want, so you're still trusting them in the end.

[2019-04-25 20:29] pahakalle commented on #872
As a simple fix.
Adding this to all the long dropdown menus <sup>(should only be the software one)</sup> should fix this.
[code]

[2019-04-25 20:31] five-c-d commented on #779
How would you accomplish this?  How would they do so?  I don't see how they could.  Please lay it out in clear language what you are asserting the attack-vector is

[2019-04-25 20:38] libBletchley commented on #779
I've already stated it in this thread.  The quotes "free for everyone" among other quotes.

You're quite lost.  Google and OWS will follow court orders.  Google identifies users before they get access to the repository.  From there Google can treat any of their users uniquely if compelled to do so.

You have no hope of understanding this because at least 3 times you've been told that a flawed desi

[2019-04-25 20:47] Herohtar commented on #779
That's not what that term even means.

And that's not how sealed sender works. The sender info is a certificate to start with. With sealed sender that certificate is encrypted inside the "envelope" along with the message, and then the message is sent to the recipient **without** the server authenticating the sender. There is no sender identity associated with the outside (unencrypted) part of the

[2019-04-25 20:52] scafroglia93 opened #886 "💬 Discussion | http://vpnscam.com/"
I wanted to let you participate in this readings that I could make on this site.
I believe it is only right to investigate or at least to remove in advance some links to the services mentioned in PrivacyTools

We respect the ethics boys

[2019-04-25 20:56] libBletchley commented on #779
i didn't say what it meant.  But from context you seem not to know.

That's not how it's [been described](https://techcrunch.com/2018/10/29/signal-sealed-sender-feature-messaging-security/).  But even if it works the way you claim, the sender or the sender's data still must be authenticated.

[2019-04-25 21:05] Herohtar commented on #779
That's [exactly how it was described](https://signal.org/blog/sealed-sender/), and the article you linked describes that behavior as well. It is poorly worded, but if you read it carefully you will see that they talk about the certificate being part of the envelope that is then encrypted.

[2019-04-25 22:04] five-c-d commented on #779
<details><summary>yes, if the OS is pwn'd then the endpoint is pwn'd, which applies to all messenger-apps.  Signalapp has some special features that almost none of the others offer, though</summary><p>

And this is applicable to Jami and also to Wireapp, as well, which you know.  Every app that offers a playstore variant, could theoretically be targeted.  Any app which does not have a playstore va

[2019-04-25 22:17] angela-d commented on #884
This is a goofy complaint.

As the one whose commit caused this nonsense, I have stated on record that I would not care if somebody re-submitted my "work."

Stallman is an awesome guy and I agree with most of his views, but there *is* a grey area (imo) for situations like this.

- The goal of this project (on the surface, at least) is to inform users
- Nobody (that we *know of*) profits from any "

[2019-04-25 23:00] angela-d opened #887 "✨ Feature Suggestion | Browser Battles"
## Description:

#856 has become too long.

Since there is seemingly an endless debate on what browsers are featured, could the moderators / team members of PTIO finally lay it out on what requirements have to be met in order for a browser to be featured?

Alot of the arguments are stemming from what appears to be personal preference.  Why Brave and Firefox?  Both aren't pro-privacy by any stretch

[2019-04-25 23:50] BurungHantu1605 commented on #884
Who cares, @five-c-d? Do what the fuck you want. I can't believe you've spent so much time for this nonsense.

[2019-04-25 23:57] five-c-d commented on #884
It is a risk to the website itself, in the longer term.  Anybody that contributed from August 2015 through March 2018, was contributing under GPLv3, which is a copyleft license.  Github terms of use are that the contributor (not the project leader) owns the copyright.  DMCA takedown of a derivative work is not outside the range of possibility.

That's why.  It **is** nonsense, like most lawyer-stu

[2019-04-26 00:06] angela-d commented on #884
It is not.  Did you contribute under another name?  If not, why does it matter?

What's your angle?  Are you trying to drum up scene points and get on the team so you can sneak in malware suggestions or something?
These anonymous users that pop out of nowhere with this "esteemed" info and trying to change major things about PTIO are really weird.

Do you see a scale of difference?  PTIO is suggest

[2019-04-26 00:23] five-c-d commented on #884
This is not about you Angela, your commit was rejected because of a license-incompatibility (I'm still presuming that is the case).  GPL'd material cannot be merged into a permissively-licensed project.  Any programmer knows this, who understands copyleft.  This is about everybody who had a commit that **was** merged, and thus, is a copyright-holder of a portion of the **current** version of the w

[2019-04-26 00:37] JonahAragon commented on #884
We could comply with any DMCA takedown requests easily. If we received a *valid* copyright takedown from a former contributor, I don't see it being a huge deal. Service providers typically take down entire sites/profiles because they don't have the time (nor probably ability) to edit their customer's websites to remove only the offending content. If someone complained about content on *our* site,

[2019-04-26 00:42] angela-d commented on #884
Did I say it was about me?  I explicitly mentioned that same commit you're referring to.

You weren't even around when that occurred, why are you so sure that's the case?  Shifterovich said nothing when he closed the commit.  Wouldn't he have just said "License incompatibility - cannot merge" if that were the issue?  No one else's commits have been rejected on those grounds.  Or was there somethin

[2019-04-26 00:47] five-c-d commented on #884
The problem is that, if Alice made a pull-request 100 lines of changes in January 2016 -- long enough to be considered copyrightable though courts differ on exactly HOW long is necessary -- every version of the site after April 2016 when that was merged, is a derivative work.

The bigger problem is that, if somebody wants to screw with privacyToolsIO, they can purchase copyright-assignment from a

[2019-04-26 00:54] angela-d commented on #884
@five-c-d Play devil's advocate for a second.  You're Google and want to shut PTIO down.

What, exactly, is copyrighted?  An html table that says Tor is the most privacy-consious browser?  How can you claim copyright to such a thing?

The html table that made it?  Is html really "original works" in today's web?

The copyright argument goes both ways.  They'd need to show proof they own said copyri

[2019-04-26 01:08] JonahAragon commented on #884
I disagree with this idea. Git keeps very close track of the exact changes a contributor makes. I would argue that only the specific text they contributed would fall under their copyright, and only contributions from before the license change, because GitHub's terms of service make it clear that contributions automatically fall under the new license, which is currently effectively public domain (a

[2019-04-26 01:11] JonahAragon commented on #872
This really seems like a Bootstrap 4 upstream issue more than anything.

[2019-04-26 01:18] JonahAragon commented on #843
I'm going to close this issue for the same reason @Shifterovich closed #763: I think @BurungHantu1605 and the rest of the team is pretty firm on sticking with GitHub.

The entire premise of this thread is that we somehow recommend and endorse all of GitHub's actions. GitHub is a tool we use for development, just as Reddit and Twitter are tools used for outreach. Nothing more.

[2019-04-26 02:02] five-c-d commented on #884
WIPO law grants automatic copyright as soon as something original is put into 'writing' or fixed form.  This paragraph -- that I'm writing just now -- is idiosyncratic enough to be copyrightable.  If you modify it, it is under the github TOS, which is how you received a copy of this paragraph.  If I contribute code via pull-request, github TOS say that I-the-contributor retain copyright-ownership,

[2019-04-26 02:19] angela-d commented on #884
You might get your point across better with more concise replies.

A permissive license was utilized in place of a more restrictive one.  There was no mention of "everything" at any point.  Past commits are GPLv3, new ones are public domain.

Since the site was largely redone after the license switch, you are once again in a grey area as 99% of the codebase likely changed.  What about commits that

[2019-04-26 03:44] five-c-d commented on #884
<details><summary>Angela</summary><p>

which, I submit, violated the terms of the GPL... but this is the greyzone

No, the GPL **requires** that modified works must be GPL.  That is what strong copyleft means.  It is not optional, except in the very rare circumstance that the work in question is ***entirely*** under control of a single copyright-holder, or a group of copyright-holders which agree

[2019-04-26 03:47] JonahAragon commented on #884
I'm not sure if you've actually looked at the [list of contributors for that time period](https://github.com/privacytoolsIO/privacytools.io/graphs/contributors?from=2015-07-05&to=2018-04-05&type=a), but there are virtually no major contributors outside the team. The "risk" is as small as it gets already. Someone could probably buy the copyrights from the bottom 60 (out of 70) contributors on that

[2019-04-26 04:15] five-c-d commented on #884
Yes, I looked.  And I agree with your assessment, were the legal system a sane thing.

<details><summary>pretty sure it ain't sane</summary><p>

But imagine that you are a webhost.  Some lawyer is explaining that the code of their client was [insert jargon here] and an immediate DMCA takedown is needed.  The webhost either has to comply or shoulder some liability by giving up the safe harbor provi

[2019-04-26 04:15] #884 closed

[2019-04-26 09:52] mnair69 commented on #864
Thanks @five-c-d for opening up /e/ for a discussion here.
As a member of the /e/ support team let me share my comments on some of the points raised here
- About telegram and Signal being installed as default apps on the ROM - We are currently working at coming out with a feature where in the user can uninstall system apps. Not that it is a revolutionary innovation but the advantage here is that t

[2019-04-26 11:57] abbluiz commented on #887
If one is inclined, one can install Firefox with all the defaults set to be privacy-focused. I would suggest working on a guide on how to install Firefox with all the default config set to good privacy options. PTIO could mantain their own version of user.js file or Firefox install script and the user would be one click/script run away of having a better privacy-focused browser

[2019-04-26 12:37] amun1 opened #888 "🆕 Software Suggestion | Spot-On (GoldBug) and Smoke"
Spot-On (encryption suite supporting chat, e-mail, file transfer,...):
https://sourceforge.net/projects/spot-on

GoldBug (more simplified graphical user interface for the Spot-On kernel than the Spot-On application itself, included in github repository of Spot-On):
http://goldbug.sourceforge.net

Smoke (android app semi-compatible with Spot-On):
https://textbrowser.github.io/smoke

Looking at all

[2019-04-26 19:43] Mikaela commented on #887
Potential duplicate or subset of https://github.com/privacytoolsIO/privacytools.io/issues/780 ?

[2019-04-26 20:01] Mikaela commented on #816
I am assigning @JonahAragon for being the admin and probably the best person to attempt:

I think they also wish to have an introduction on [their forum/discourse](https://talk.libreho.st/) where whether they would like to be included could also be asked in the scenario that they don't want us in (I hope in that case they would say why).

[2019-04-26 22:20] angela-d commented on #887
@Mikaela I would say its a subset.  My post is primarily a suggestion to list the smaller forks alongside the bigger projects - with facts of why the browser was suggested.

@abbluiz

You can do a lot to Firefox to make it private - but my point is that those are not *defaults* and such changes are not sanctioned by Mozilla.  So championing Firefox as a privacy king is nonsense.

Lately (business

[2019-04-27 07:58] beerisgood commented on #887
@angela-d so you prefer a non customized browser against a fully customized?

Yes Mozilla make some bad things but at same time good things too.

Also it's better to use Mozilla/cloudflare DNS then Google DNS. Can you chance that in chrome/ chromium forks?

[2019-04-27 17:02] angela-d commented on #887
I am not sure where you would get that from.

You're missing my point.  **Why aren't *any* of the smaller forks listed?**  Be in Firefox forks or Chromium forks.

[2019-04-27 17:11] JonahAragon commented on #887
Chrome does not have built-in DNS servers at all, unlike Firefox. Chrome will use your system's DNS servers, as all browsers *should*. DNS is an OS issue, not a browser issue, so I'm not sure why Mozilla is messing with it at all.

[2019-04-28 00:51] r00t34 opened #890 "🆕 Software Suggestion | Riseup.net as an Email Provider"
## Basic Information

**Name:Riseup**
**Category:Email Provider**
**URL: https://riseup.net**

## Description
Hi All,

I wanted to see riseup.net in Email Providers section. Doesn't riseup deserve that?

Thanks.

[2019-04-28 09:36] beerisgood commented on #887
@angela-d forks aren't listed because of security. They're always behind the mainline

@JonahAragon If Google doesn't use their DNS yet (which i can't believe), they will include it. Please test it:
https://dnsleaktest.com & https://www.grc.com/dns/dns.htm
Also even if Mozilla/ Cloudflare DNS isn't the best, it still protect your DNS with encryption and it can be changed/ disabled

[2019-04-28 11:04] 4udr4n commented on #880
Why not provide a good/better/best tiered system for recommendations?

Good would be solutions such as Signal, Brave, Protonmail, Startpage - all multi-platform alternatives which vastly increase privacy over the usual suspects without increasing complexity or cost. So long as they are framed as being improvements but not perfect, they should suffice to help newcomers without putting off those wit

[2019-04-28 19:15] angela-d commented on #887
The argument can also be made, **privacy** tools is about privacy first; while collaborative, privacy and security are not the same thing.

Which is *also* why I suggest a chart, comparing pros & cons of the big browsers alongside the small forks.  Let the user decide which best fits their threat model.

Mozilla proves time and again they're treading dangerous waters with users' privacy.

Why is i

[2019-04-28 22:28] beerisgood commented on #887
It's so hard to believe cause Google gives a shit about privacy.
Mozilla have some bad configs too but you can change/ config everything. Not so in chrome/ chromium

[2019-04-28 23:26] BurungHantu1605 commented on #890
https://www.privacytools.io/providers/#ukusa

[2019-04-29 02:22] Thorin-Oakenpants commented on #856
replying to the long post at https://github.com/privacytoolsIO/privacytools.io/issues/856#issuecomment-484704400 by a now ghost

**ghacks user.js is NOT Librefox and Librefox does not use the ghacks user.js as intended**

Librefox simply used our **comprehensive** list , of which a lot is inactive and only there as a FYI, and quite a few of them as warnings not to tinker with, combined it with ite

[2019-04-29 10:01] Mikaela commented on #856
I am open to other suggestions than OMEMO as long as they fill the requirements of me + people I currently communicate with XMPP+OMEMO. It may not be the best, but to quote someone from Matrix, _perfect is the enemy of good_ and I am in understanding that the current setup (between people I use OMEMO with) is roughly equivalent to Signal.

On popularity of XMPP, you may be interested in [XMPP.org/

[2019-04-29 15:01] blacklight447-ptio commented on #844
I agree that purism should largely be avoided where possible, since it is possible to get an x86 based computer which provide more software freedom, for alot less money. Cryptogs.de for example. For modern computers, one could take a look at the Talos II and the Talos lite from Raptor, these computers are based upon the power 9 architecture and allow you to run a fully libre stack. These are sadly

[2019-04-29 16:32] blacklight447-ptio commented on #856
Btw, i recall that there was something with firefox esr that it only got critical and high security updates, leaving the medium and Low. Don't pin me on this yet. though, ill try and see if I can find it again tonight, but its something to keep in mind.

[2019-04-29 18:35] five-c-d commented on #856
<details><summary>links that outline when security-fixes land in firefoxESR</summary><p>

@blacklight447-ptio , you are mostly correct, only the critical / high-impact security fixes are ALWAYS backported (by mozilla at least... not sure about what TorBrowser project does with their lightly-soft-forked flavour... and the major Linux distros also have their own repo which contains firefoxESR on the

[2019-04-29 19:00] blacklight447-ptio commented on #856
@five-c-d i have some tie's with the tor devs, ill ask them.

[2019-04-29 19:09] Thorin-Oakenpants commented on #856
The key words in that are **security-fixes which need to be** - this is true. Security fixes for items not affecting ESR are not backported. But not every security fix that could apply is either - some due to complexity, and some due to being really really really minor. As for Tor, they sometimes need to backport them themselves - because it's a different threat model - otherwise all they would ge

[2019-04-29 19:22] blacklight447-ptio commented on #856
@Thorin-Oakenpants The tor browser tema does not backport anything themselves, they onlt fix stuff on VERY rare occasions where for example a proxy could be bypassed.

[2019-04-29 19:33] Thorin-Oakenpants commented on #856
@blacklight447-ptio no worries :) My mistake - I started off talking about "security-fixes" as per the quote and ending up talking about fixes in general.

[2019-04-29 19:41] five-c-d commented on #856
@blacklight447-ptio ...sure I'm also a fan of FirefoxESR.  But should it replace FirefoxStable, in the recommendations, as the top2 choice?  Given that we already have TorBrowser listed as the top1 choice, and it is basically a purposely-very-light soft-fork of FirefoxESR?

If we **do** change the recommendations from TorBrowser + FirefoxStable + Brave, to instead be TorBrowser + FirefoxESR + Brav

[2019-04-29 19:56] blacklight447-ptio commented on #856
As discussed one the privacytoolsio matrix room, what we could potentionally consider is making a script that will configure firefox with privacytools.io recommend baseline(so for example the about:config prefs). Anyhow, as I understand it, there is currently no real issue aslt thabd that would make firefox a privacy unfriendly choice, and pushing users to alternative browsers will probbaly also h

[2019-04-29 20:07] dm17 commented on #856
Did you have a read over this thread? To be specific, why is this feature list not demonstrative of "privacy unfriendliness" (considering they are changes *from* FF mainline):
https://github.com/MrAlex94/Waterfox/#user-content-features

[2019-04-29 20:08] five-c-d commented on #872
Okay, there are 3 ways to get around menu-size limitations:  wait for the upstream CSS project to get their scrollbars working when there are a huge number of menu-items, is way#3  ;-)

But I still think that the correct solution to "there are too many items in this submenu" is to rebalance the menu-structure, either moving menu-items to another sub-menu (changing the "browser" category to be a "c

[2019-04-29 20:11] dm17 commented on #856
I read that as: "should PTIO censor more privacy-focused browsers from the masses who are unlikely to find them without PTIO?"

[2019-04-29 20:11] blacklight447-ptio commented on #856
@dm17 I scanned over it, but im just putting it out there as an option nonetheless.

[2019-04-29 20:13] dm17 commented on #856
If you ask Google and Microsoft, then Firefox is an alternative browser... Could have unforeseen consequences...

Can you please respond to my reply to this @blacklight447-ptio?^
Thanks.

[2019-04-29 20:18] blacklight447-ptio commented on #856
@dm17 Im kind of unsure what you want me to reply against sorry :sweat_smile:

[2019-04-29 20:21] five-c-d commented on #856
@blacklight447-ptio they opened this thread, wanting to replace Firefox (delisting entirely) and instead use Waterfox, which is a fork of somewhere-between-ESR-and-stable firefox, plus some portions that are only in Waterfox.  Do you have an opinion on whether Waterfox should not be listed, should be WorthMentioning, or should be in the top3, is basically the question.

p.s.  As to whether Firefox

[2019-04-29 20:23] dm17 commented on #856
How can this list of changes exist:
https://github.com/MrAlex94/Waterfox/#user-content-features

While at the same time, "there is currently no real issue that would make firefox a privacy unfriendly choice," as you say?

[2019-04-29 20:34] blacklight447-ptio commented on #856
Well i see waterfox's "features" a bit of a mixed back, for example they turn of eme, thats nice for people opposing drm, but will cause people to not be able to use netflix anymore, which in turn can scare them back to chrome. Also they support npapi plugins, which can be seen as a security hazard, they also remove pocket, which while seen as unnecesary bloat by some(me included) it is also seen

[2019-04-29 22:06] JonahAragon commented on #882
I think the current link on the homepage is good enough actually, so I'm closing this. It may not be obvious why we moved to multiple pages currently, but hopefully in the future things will be more clear.

1. Multiple pages is good for permalinks, both SEO and sharing wise. Compared with anchors, which don't work super well, linking someone to `/providers/vpn/` will always make sure they reach th

[2019-04-29 22:06] #882 closed

[2019-04-29 22:25] angela-d commented on #887
For now.  The route they're headed, this is not a promised future.  Hence the request for an explanation as to why smaller forks are not also posted.

I won't disagree, but if the justification for Brave being posted is because it has a Chromium base, what's wrong with Ungoogled Chromium, too?

[2019-04-29 22:49] beerisgood commented on #887
Ungoogled Chromium is Chromium too and even doesn't remove all Google shit.

Edge restart, building on chromium may the only build which remove all Google stuff.
No other done this yet

[2019-04-29 23:41] five-c-d commented on #882
Which is great.

Superb.

Ah.  Here is where I get nervous.  Mostly I see privacyToolsIO as a way to give somebody that is using chrome on windows 10 home, unencrypted emails, unencrypted calls, no vpn, no FDE, has a facebook and spills their guts, has a twitter and spills their guts, et cetera, etc ...

***one*** place where they can, in half an hour of skipping down The One Big Bunch Of Listings

[2019-04-30 00:05] JonahAragon commented on #882
Okay.

<details><summary>(Click me) Actually these new cards will be backwards-compatible with the old "quick top3" recommendations on the classic site.</summary>

That means they can appear as either...

![image](https://user-images.githubusercontent.com/3637842/56934146-99490a80-6ab0-11e9-8520-c54a452ed08d.png)

or...

![image](https://user-images.githubusercontent.com/3637842/56934176-b1b92500-

[2019-04-30 00:17] five-c-d commented on #882
Still recommend sitemap  ;-)  but yes, summary is fine

![privacyToolsIO_pro_vs_con](https://user-images.githubusercontent.com/42419492/56934675-820b1c80-6ab2-11e9-8871-a829dedd353e.jpg)

Would also argue that there is room for the basic pros-n-cons right on the summary page, as long as they are strictly limited in number/quantity.  (This is just a quick example off the top of my head, and note th

[2019-04-30 00:25] JonahAragon commented on #882
That doesn't really make sense, sitemap is already like, a well known term in web development, i.e. https://www.privacytools.io/sitemap.xml :)

I don't think so, but that should probably be made. I was imagining removing stuff from the summary like "Our VPN Provider Criteria", "What is a warrant canary?", "Browser Fingerprint...", the FF tweaks, etc..... basically everything that isn't 1) a tool r

[2019-04-30 12:00] blacklight447-ptio commented on #781
Interesting, tried it out but it still seems in early alpha and not ready for practicle use yet, what about Briar? Maybe thats a replacement

[2019-04-30 12:04] Mikaela commented on #781
I think Briar is Android app and currently has no way to add contacts who aren't physically in the same space, while Richochet and Cwtch are desktop apps, so it wouldn't work as a replacement in my opinion.

[2019-04-30 12:20] blacklight447-ptio commented on #781
@Mikaela There is already a headless client in the works btw. But they are currently focused on the remote contacts feature, which I predict should be ready somewhere this year.  after that briar will become a very interesting project to follow, as it will provide e2e encryption, will be peer to peer, so have no server to seize, and will hide almost all metadata because everything hides inside the

[2019-05-01 19:54] Atavic commented on #886
Related to: https://github.com/privacytoolsIO/privacytools.io/issues/559

I totally agree to what's said here:
https://github.com/privacytoolsIO/privacytools.io/pull/238#issuecomment-322075926

Jurisdiction is my main issue:
https://github.com/privacytoolsIO/privacytools.io/issues/654#issuecomment-448306817

Some VPN say they keep no logs... how can you blindly trust them?
https://github.com/priva

[2019-05-01 20:00] Atavic commented on #887
That's a wrong use of Tor.

Debatable, still the leading alternative to Google.

Moreover Brave is a walled garden.

IceCat is the best choice, it has privacy addons bundled.

[2019-05-01 21:06] jospoortvliet commented on #526
There are loads of good (and bad...) Nextcloud providers. Probably best to link to nextcloud.com/signup (easiest) or nextcloud.com/providers (most choice) for people who want one.

[2019-05-01 21:10] jospoortvliet commented on #197
It was a one-time thing, we now offer it for users on-demand: https://scan.nextcloud.com - only scans when you hit the button.

Our updater has improved a lot so most people are updating, I think, though any hacker can of course still use shodan and other services to scan for ownCloud and Nextcloud servers and hack them if they haven't been updated and didn't respond to the message from their coun

[2019-05-01 21:17] pauljohncleary opened #891 "🆕 Software Suggestion | IdBloc.co as "Worth Mentioning" in Password Managers or Email Providers"
## Basic Information

Name: **IdBloc**
Ctegory: **Password Manager / Email**
URL: **https://idbloc.co**

## Description
IdBloc is a service that allows users to use a different email address for every website, mailing list or app (basically anywhere you're asked for an email address). It is a bit like a password manager but for email addresses. Each email address is a random 128-bit number which i

[2019-05-01 21:20] jospoortvliet opened #892 "💬 Discussion | re-order confusing categories file-sync and selfhosted-cloud"
There are two sections that are similar:
* file sync
* selfhosted cloud

If you look at the options, these do file management (sync, store, bit of editing) primarily:
* SparkleShare
* Syncthing
* Pydio
* Tahoe-LAFS

And one, Nextcloud (I'm affiliated) is an 'app platform' which is similar to Office 365 and Google Apps with Calendar, Contact, Mail, Notes, online document editing and, yes, file stor

[2019-05-01 22:27] JonahAragon commented on #197
Agree, this doesn't seem like a big deal. Public services can be scanned by anybody anyways.

[2019-05-01 22:27] #197 closed

[2019-05-01 22:30] JonahAragon commented on #891
Are you affiliated with this provider?

[2019-05-01 22:35] JonahAragon commented on #526
@jospoortvliet that kind of defeats the point of making provider recommendations on this site in the first place. Either we make a recommendation after researching them ourselves, like Disroot/wölkli, or don't make one at all and just recommend the software itself (which is what I'd lean towards personally).

[2019-05-01 22:59] angela-d commented on #887
Sure it is, but how its displayed on PTIO, a privacy newbie would not know that.

That's debatable too, as its updated more infrequently than Waterfox and stuff the non-free JS extension that is default will be overwhelming to your average user, since the majority of the web now runs on bloated JS code.

The point of this thread is to get info from Privacy Tools mods/team members to explain why no

[2019-05-02 09:30] Mikaela commented on #526
Somewhat related to https://github.com/privacytoolsIO/privacytools.io/issues/816 ?

[2019-05-02 15:43] pauljohncleary commented on #891
Yes, I created it

[2019-05-02 18:14] thestinger commented on #832
@zaidoon1

Please note that you're taking information from an article with various errors and misquotes.

This is a misquote completely reversing the meaning of the quoted statement.

Here is what I actually stated in context:

https://www.reddit.com/r/Android/comments/b8fhiv/grapheneos_the_true_of_successor_of_copperheados/ejxoooy/

This is the sentence being misquoted:

[2019-05-02 18:17] thestinger commented on #832
The URL of the GrapheneOS project is https://grapheneos.org/. You're giving the URL of the update service, going along with the [Updater app](https://github.com/GrapheneOS/platform_packages_apps_Updater). I tried to make it clear that the releases being listed at https://seamlessupdate.app/ was entirely temporary but it was misinterpreted as being the GrapheneOS site or something tied to the name

[2019-05-02 18:54] thestinger commented on #832
@zaidoon1

That's not true. GrapheneOS is fully licensed as an open source project

The Auditor app is not yet permissively licensed but that's a completely standalone project hosted here, and primarily focused on verifying the stock OS across various devices:

https://attestation.app/about

It supports GrapheneOS and will also support CalyxOS in the near future. As I've made clear, it will be per

[2019-05-02 18:55] thestinger commented on #832
@five-c-d

That's not true. GrapheneOS is fully licensed as an open source project

The Auditor app is not yet permissively licensed but that's a completely standalone project hosted here, and primarily focused on verifying the stock OS across various devices:

https://attestation.app/about

It supports GrapheneOS and will also support CalyxOS in the near future. As I've made clear, it will be per

[2019-05-02 19:23] thestinger commented on #832
@five-c-d

This is completely false. GrapheneOS is already licensed as an open source project. You're confusing GrapheneOS with the Auditor app (https://attestation.app/about) and developers certainly often require that funding is provided in order to release the project under an open source license. I'm also not talking about donations but rather the work being funded, which is not a donation, bu

[2019-05-02 19:26] zaidoon1 commented on #832
my apologizes for the misquote.

[2019-05-02 19:32] zaidoon1 commented on #832
This has now been

I have corrected the link. Thanks again.

[2019-05-02 19:53] thestinger commented on #832
@five-c-d Please stop spreading misinformation about GrapheneOS and misrepresenting the statements / positions of the project. You're misinforming people and you should correct or retract the false claims that you're made here and perhaps elsewhere. If you don't, it will become more clear that you are just acting dishonestly and unethically.

I find it particularly interesting that you are slander

[2019-05-02 20:39] thestinger commented on #832
@zaidoon1 Thanks, I know you were just basing it on that article but it had some accuracy issues and their misquote is super annoying since it totally changed the meaning of my words.

[2019-05-02 23:47] five-c-d commented on #832
@thestinger I'm actually in favor of your project, and think it is worth listing here, but I've never used Copperhead (when you were there or subsequently), and I don't own a Pixel so there is basically zero chance I'm able to work on GrapheneOS myself.

Am perfectly happy to correct anything that needs correcting, but the person being hostile here is you.  The internet is full of misinformation,

[2019-05-03 04:20] five-c-d opened #896 "💬 Discussion | what should /summary fka /classic highlight?"
Here is <a href="https://www.privacytools.io/classic/">the current /classic</a> page, which is a throwback to the 2015-thru-2018 site design where everything was all in one page.  As part of the design-revamp, most tools are now split into their own subpages, for ease of linking (and SEO and so on), but also to allow "more room" for expanding page-content.  I liked the old layout, because it was '

[2019-05-03 04:25] five-c-d commented on #882
Oh sure it does, if you understand what I'm aiming at.  I'm suggesting you generate the 'summary' HTML from the (also generated presumably) sitemap-dataset.

<details><summary>here is XML, which with XSL can become human-renderable, not just search-crawler-friendly</summary><p>

These are the leafnodes of your sitemap.xml ==

* privacytools.io/providers/vpn
* privacytools.io/browsers
* privacytool

[2019-05-03 05:57] five-c-d commented on #880
Potentially related is #896 about having a /summary page with a nice top3-oriented overview aimed at readership that does not have a lot of time to spend.  Should the /summary also be squarely aimed at endusers that want increased privacy without much cost&complexity?  Possibly yes, though to me these are slightly different things (being short on time does not mean being short on expertise and tec

[2019-05-03 06:37] blacklight447-ptio commented on #880
@five-c-d Just to make it clear, we should absolutly NOT under ANY circumstance recommend people to use a VPN with tor, it gives  a false sense of security, and can harm users.

[2019-05-03 07:11] five-c-d commented on #880
We should probably split the discussion about tor+vpn versus vpn+tor versus just plain tor, away from the discussion about recommendation-listing-splitting  :-)

<details><summary>some links on torBrowser with VPN usage</summary><p>

*  https://protonvpn.com/blog/tor-vpn
*  https://www.bestvpn.com/guides/using-vpn-tor-together
*  https://www.deepdotweb.com/jolly-rogers-security-guide-for-beginners

[2019-05-03 07:34] blacklight447-ptio commented on #880
It is says that one can use it in case someone cannot connect to tor, but it should absolutly not be used for increasing anonimity, it does not help, it only slows the network down, and even if we give it as an option(which we shouldn't) it should only be presented as a way to connect to tor where bridges don't work. Advicing To use a vpn with tor is a dangerous idea and should not be done. https:

[2019-05-03 08:23] ghost opened #897 "✨ Feature Suggestion | SSL Improvements"
So just on a whim, I ran Qualys SSL Labs [testing](https://www.ssllabs.com/ssltest/analyze.html?d=www.privacytools.io&hideResults=on) on the main site.  Although it scored very well, it does not yet support several features, such as using an ECC-based ChaCha20 encrypted cert which is less-cpu intensive, while being stronger and running HPKP with preloading enabled. It also might to be a good idea

[2019-05-03 11:18] thestinger commented on #832
It doesn't fundamentally require Pixels at all. I don't know where you get that idea. As stated by the project, they're the initial devices chosen for official support based on their hardware security and support for alternative operating systems. Many devices supporting unlocking the bootloader don't have support for locking it with another OS and enabling verified boot, along with missing other

[2019-05-03 11:37] thestinger commented on #832
Since you want to make this thread about the Auditor app, here is the list of supported devices for verification:

* BlackBerry Key2 (BBF100-6 model)
* BQ Aquaris X2 Pro
* Google Pixel 2
* Google Pixel 2 XL
* Google Pixel 3
* Google Pixel 3 XL
* Huawei Honor 7A Pro (AUM-L29 model)
* Huawei Honor 10 (COL-L29 model)
* Huawei Honor View 10 (BKL-L04 and BKL-L09 models)
* Huawei Mate 10 (ALP-L29 model)

[2019-05-03 13:18] chinaar commented on #887
To be honest, I think that the criticisms from Mozilla here are a bit overstated.  They have certainly made some blunders in the past, but these can more accurately be described as tone-deaf PR blunders rather than privacy blunders.

Regarding Mozilla's use of Google Analytics and Cloudflare, they have special contracts with both of these companies that require them to treat user data gathered in

[2019-05-03 15:12] Thorin-Oakenpants commented on #887
Everything @chinaar said.

I know we hold Mozilla to a higher standard, but lets put things in perspective. So Mozilla made a blooper with e.g. Mr Robot, maybe screwed up the PR on it afterwards. As long as they learn from it (and they supposedly have by building in internal checks). And yet chrome do way more nefarious things, intentionally, and while they do get attention, just shrug it off, rol

[2019-05-03 15:45] beerisgood commented on #887
Please pin/ mark/ sticky THAT post from @chinaar and @Thorin-Oakenpants
Awesome! :+1:

[2019-05-03 15:59] Thorin-Oakenpants commented on #887
^^ oh it was @five-c-d  : hell no, do not stick the PK or ghacks user.js in the "worth mentioning" (whatever that means exactly), but hell yeah, link to them at some point (with an advanced user warning or something)

What I can do is create a https://github.com/ghacksuserjs organization new repo e.g. privacytoolsio-user.js .. and make it super duper simple, super small, very very sane prefs (FF/E

[2019-05-03 16:00] chinaar commented on #887
@Thorin-Oakenpants agreed, please do open an issue with a newly proposed user.js for PTIO. I think it would be of great benefit, as I also think that many of the current user.js files are not sane.

I just thought I'd chime in regarding @angela-d's statement that Chromium v Gecko doesn't matter.

I completely disagree, and in the current browser market, Chromium-based browsers should not be recomm

[2019-05-03 16:07] Thorin-Oakenpants commented on #887
not that i'm going to hang around in this thread, but let's not get off topic

What happened to that? :grinning:  I disagree. Forget about all the politics and everything else, and just focus on the goals in mind
- privacy ability and ease of adding that privacy
- secure (the main browers all are)
- maintained

If a chromium browser meets that, then FFS recommend it

I'm out of here, unsubscribed.

[2019-05-03 19:11] five-c-d commented on #832
<details><summary>aside:  there is a section for android-addons, yes</summary><p>

This is actually somewhat of an open question, i.e. what the decision-making process consists of, exactly.  Right now there *is* no written-in-stone set of requirements.  But there are pretty strong unwritten requirements that the code needs to be available, and that the project preferably-but-not-necessarily is rea

[2019-05-03 19:56] thestinger commented on #832
No, not currently, because unlike the Auditor app it depends on changes to the underlying OS. Most of the hardening is done via OS hardening work in repositories like https://github.com/GrapheneOS/platform_bionic and https://github.com/GrapheneOS/hardened_malloc (Chromium doesn't use TCMalloc on Android) including a lot of changes inside Bionic and elsewhere that still need to be added back. It's

[2019-05-03 20:24] five-c-d commented on #832
No, I would agree, although "with tweaks" would be essential.  iPhone+gmailApp+fbookApp, is **not** more private than LineageOSfrom2013+tutanota+mastodon, all things considered.  But you *can* run privacy-respecting apps on an iPhone, and for everyday endusers that do not care much about free-as-in-freedom, this might be their best way forward.  Apple lock-in problem is quite severe, but security/

[2019-05-03 20:43] JonahAragon commented on #832
I use an iPhone personally (for security reasons) but I'm not sure if recommending one is within the scope of this project because most/all(?) of the projects we recommend are mainly recommended because they're *verifiably* better alternatives as a result of them being open source. We typically would want people to be able to view the source themselves if they had the technical ability to and see

[2019-05-03 20:46] thestinger commented on #832
I don't think so, when the security model is so severely crippled along with the poor security for builds and updates.

The issue is with a lot more than firmware, and they generally don't bundle all of the vendor / firmware updates *even when they are available* such as for Pixel devices. The expectation from them is that users will flash the vendor and firmware images every month on their own, d

[2019-05-03 20:55] thestinger commented on #832
Only Pixels are comparable to iPhone security though, so it's not like there are a lot of options in the Android world. Most people are probably also not going to be very happy with tons of mainstream apps not being available, although it's true that it is best if they don't use the vast majority of those. They can still use apps like Facebook and WhatsApp on GrapheneOS if they really want to do i

[2019-05-03 21:05] thestinger commented on #832
The Android security patch level includes the kernel, vendor and firmware updates. It's split into a YYYY-MM-01 patch level for the fixes included in the AOSP tags and YYYY-MM-05 for device-specific fixes. For example, look at https://source.android.com/security/bulletin/2019-04-01. LineageOS merges in the AOSP tags, so they get those fixes, for the most part (other than the fact that they are bre

[2019-05-03 21:07] JonahAragon commented on #897
HPKP [is dead](https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/he9tr7p3rZ8/eNMwKPmUBAAJ). We can definitely change out the cipher suites though, I'll research that this weekend.

[2019-05-03 22:24] angela-d commented on #887
It is a weird a user drops in here defending Mozilla and then has their account deleted.

Deleted user:

Not relevant to the topic of this thread.

As a user, I object to a third party handling my browsing data.  I want my browser to be a BROWSER and nothing more.

So there has to be a breach before a user is labled a "conspiracy theorist" for not wanting their data passed around like a cheap whor

[2019-05-03 23:06] JonahAragon commented on #887
Or deleted it themselves. No conspiracy necessary.

[2019-05-03 23:09] vecna13 commented on #708
I would like to see LibreJS compliance as an ideal criterion, even if there are exceptions. I think it would be worth at least having an indicator as to whether or not given software is LibreJS compliant.

[2019-05-04 04:33] asddsaz opened #898 "Organizational"

[2019-05-04 04:33] #898 closed

[2019-05-04 04:43] asddsaz opened #899 "Organizational | Non-Profit"
I would like to bring up the idea of setting up a legally binding process for privacytools.io to run on.
If it became a [US non-profit](https://www.wikipedia.org/wiki/501(c)_organization) it would be able to file [Articles of Incorporation](https://www.wikipedia.org/wiki/Articles_of_incorporation) with [Bylaws](https://www.wikipedia.org/wiki/By-law) and a [board of directors](https://www.wikipedia

[2019-05-04 15:29] strypey commented on #559
Arguments have been made in the discussion on adding ProtonVPN (#238) that the page ought to avoid recommending any specific commercial service. Instead, it could focus on a discussion of why a user might choose to use a VPN service, what they can and can't do, the pros and cons of a commercial service vs. self-hosting/ community-hosting (eg RiseUp's gratis service for activists using BitMask), an

[2019-05-04 16:05] JonahAragon commented on #899
How will this benefit us exactly? Forming a corporate entity is not a guarantee of funding, etc so I'm not sure how it *ensures* the long-term continuation of this project.

[2019-05-04 19:56] ViniciusALS commented on #830
The Portugues translation is done and running. You can find it on github at https://github.com/PrivacidadeDigital/privacidade.digital or see the actual website in [Privacidade Digital](https://www.privacidade.digital/).

[2019-05-04 22:10] dm17 commented on #856
HN constrains comments to fairly mainstream views, and yet still contains a lot of relevant criticism:
https://news.ycombinator.com/item?id=19826827

A whole thread full of problems, most of which the alternative browsers aren't experiencing.

[2019-05-04 22:11] dm17 commented on #856
Yes, it is at least worth mentioning...

[2019-05-04 22:27] JonahAragon opened #901 "💬 Discussion | Discourse Comment/Discussion Board on Sub-pages"
Now that we have a Discourse forum, one thing we could do is embed a "comments" functionality on the pages of our site for people to discuss the tools we recommend. Picture it like Disqus integration, but self-hosted. Discourse has built-in support for this via Javascript that could be very easily and automatically added to all our pages with Jekyll: https://meta.discourse.org/t/embedding-discours

[2019-05-05 03:22] #832 closed

[2019-05-05 03:42] JonahAragon opened #904 "Meta-Issue: Hardware Section"
### Description

I'm making this issue to track hardware related issues to build a new "Hardware" standalone recommendations section. We're also tracking these issues and pull requests in [Milestone 2](https://github.com/privacytoolsIO/privacytools.io/milestone/2).

We need to split hardware into multiple sub-categories, because there's just too much to cover in a simple top 3 recommendations sect

[2019-05-05 03:54] #830 closed

[2019-05-05 04:53] #897 closed

[2019-05-05 05:54] BurungHantu1605 opened #905 "🌐 Website Issue | Icons out of place on mobile devices"
## Description
Icons look out of place currently on mobile devices.

## Screenshots
Looks neat:
![good](https://user-images.githubusercontent.com/11730911/57189124-15be6c00-6f3d-11e9-8b39-2c09a7b0b1cd.jpg)

Does not look neat at all:
![bad](https://user-images.githubusercontent.com/11730911/57189134-2373f180-6f3d-11e9-9ebd-19bcc6662291.jpg)

[2019-05-05 08:05] Mikaela commented on #905
I have no idea how would I start fixing this, so I am unassigning myself and setting "help wanted" label.

[2019-05-05 11:51] Shifterovich commented on #905
I'm not that good with BS4 but basically we want the buttons and the icons to be in the same div (maybe .row or .col-12) and put the buttons and the icons in separate divs, something like div.col-md-6. And also make the icons section right aligned (ideally with flexbox) but center aligned (.justify-content-center) when the div "collapses" (when size is  < md).

Currently the icons are right-aligne

[2019-05-05 13:40] BurungHantu1605 commented on #901
Let's give it a try. I like it.

[2019-05-05 14:19] Mikaela commented on #139
@beardog108 Are you still maintaining the Zeronet mirror? It seems to default to /classic, so I think it's a bit outdated.

[2019-05-05 14:31] Shifterovich commented on #139
Since we now have an actual server, @JonahAragon and @BurungHantu1605 could set up all these mirrors?

[2019-05-05 14:37] JonahAragon commented on #905
They should probably be left aligned on mobile, not centered. I’ll see if I have time to take a look later if nobody else figures it out, but I’m sure there’s some way to do that that’s built-in to BS4.

Definitely need to switch to the grid system if that isn’t what we’re currently using anymore.

[2019-05-05 14:41] JonahAragon commented on #139
Probably yeah. We have Tor up, what other ones do we need? I’m not super familiar with darknets so I’m not sure what’s “in” right now.

[2019-05-05 15:36] Shifterovich commented on #139
I2P and ZeroNet, in my opinion. Both are extremely simple to set up. I suggest using i2pd for hosting the I2P service. It's written in C, so it has a much lower overhead than the "official" Java I2P. Also you don't need all the Java I2P features to host a service.

[2019-05-05 15:58] Mikaela commented on #139
From darknets I agree on I2P (even if I am not sure on I2Pd as I am having https://github.com/PurpleI2P/i2pd/issues/1275), I guess ZeroNet is currently "in" and I would also like to see [Yggdrasil](https://yggdrasil-network.github.io) (https://github.com/privacytoolsIO/privacytools.io/issues/685) even if it's more of a graynet and [IPFS](https://ipfs.io) (https://github.com/privacytoolsIO/privacyt

[2019-05-05 22:55] asddsaz commented on #899
@JonahAragon Many ways, US Non-profits legally must be very transparent (excluding religious charities).

With the release of privacytools.io services transparency is very important.

Crafting a legal entity can help set up a legal process in case the owner/chair/president becomes deceased. It can also enable privacytools.io to apply for certain grants that they may not have otherwise had access t

[2019-05-05 23:01] asddsaz commented on #904
Most of the projects listed rely heavily on non-free software.
Please view: #616

Non-free List:
Talos II - No Certification or Freedom audits.

Google Pixel - I don't feel like I need to expand on this one.

There is a reason Purism chose NitroKey. Everybody else listed is to non-freedom respecting.

[2019-05-05 23:08] asddsaz commented on #904
If it is necessary to add a non-free phone.
I could stand by one of the old galaxy phones.
Maybe list the [S2](https://tehnoetic.com/mobile-devices/tehnoetic-s2-phone-replicant) or [N2](https://tehnoetic.com/mobile-devices/tet-n2) or [S3](https://tehnoetic.com/mobile-devices/tehnoetic-s3-phone-replicant)?

[2019-05-05 23:14] asddsaz commented on #904
A device to add: [EOMA68](https://www.crowdsupply.com/eoma68/micro-desktop)

[2019-05-05 23:25] gjhklfdsa commented on #904
Must agree with @asddsaz  Google Pixel is non-free regardless of how you look at it.

If I recall properly Yubikey is non-free.
Is USB Armory or U2FZero fully FLOSS to FSF standards?

[2019-05-06 00:17] JonahAragon commented on #904
Of course the Google Pixel is non-free, but it's also the most *secure* option available out of *any* Android phone so I wasn't sure if that should factor in. Requirements are unclear.

[2019-05-06 00:21] danarel commented on #890
Another thing to keep in mind is that you have to be invited to join RiseUp. It's not just open to anyone.

[2019-05-06 06:42] BurungHantu1605 commented on #454
hi guys, i've removed zerobin recently because of this message from the dev:

Source: https://sebsauvage.net/wiki/doku.php?id=php:zerobin

Seems like PrivateBin is the only choice at the moment? I've decided to link to our installation, too.
https://www.privacytools.io/providers/paste/

Should we remove Ghostbin? Replace it with something or just leave PrivateBin as the only choice?

[2019-05-06 07:46] BurungHantu1605 opened #906 "🌐 Website Issue | uBlock Origin removed two VPN providers from our list"
## Description
https://forum.privacytools.io/t/are-these-vpns-untrusted/337
https://www.privacytools.io/providers/vpn/
https://github.com/uBlockOrigin/uAssets/issues/5537

[2019-05-06 10:09] #890 closed

[2019-05-06 10:09] BurungHantu1605 commented on #906
https://github.com/uBlockOrigin/uAssets/issues/5537

[2019-05-06 15:49] decentral1se commented on #816
Delighted to see this! <3

[2019-05-06 17:16] blacklight447-ptio commented on #904
Well first of all we want to seperate secure from free, and see what we see as more important, should one run libresoftware thats barely maintained, or rather run not fully libresoftware thats actively maintained and known to be secure.

[2019-05-06 17:20] blacklight447-ptio commented on #859
How is on the metadata side?

[2019-05-06 20:08] Mikaela commented on #513
Do we wish to support not-OpenNIC servers? At the moment there is no individual server provider mentioned [on the site](https://www.privacytools.io/providers/dns/).

I wonder if it would be better to direct people thinking about DNS servers to e.g. [DNSPrivacy.org's list](https://dnsprivacy.org/wiki/display/DP/DNS+Privacy+Public+Resolvers), but they again seem to list also services like Google DNS

[2019-05-07 02:39] gjhklfdsa commented on #904
[Replicant](https://www.wikipedia.org/wiki/Replicant_(operating_system)) has one of the worlds best bug bounty programs and is backed by the [FSF](https://www.wikipedia.org/wiki/Free_Software_Foundation).

More info: https://www.wikipedia.org/wiki/Replicant_(operating_system)#Security

As for Android devices, the Fairphone does a very good job in the security department.
https://www.wikipedia.org/

[2019-05-07 16:45] ookangzheng commented on #856
I don't want to judge anything, just my thought.. Life is short, relax and enjoy ~~ 😉

[2019-05-07 21:39] gjhklfdsa opened #909 "💬 Discussion | Reddit Alternatives"
I've looked through the listed [decentralized social networks](https://www.privacytools.io/providers/social-networks/) and realized there isn't a single [Reddit](https://www.wikipedia.org/wiki/Reddit) alternative. I figured this would make a good discussion thread.

**Some interesting decentralized projects (possibly open-source?)**:

- [AKASHA](https://beta.akasha.world/)
https://github.com/Akash

[2019-05-08 01:23] thestinger commented on #832
@five-c-d

https://twitter.com/GrapheneOS/status/1125928692671057920

Is what I was talking about. I couldn't leak it here in advance though.

[2019-05-08 01:50] five-c-d commented on #832
Right, congratulations on that, and congratulations#2 because :-)  grapheneOS is now in the listings of privacyToolsIO, also.  I heard about the attestation-server being libre-licensed on Mastodon, indirectly, so it is not news to me, but I appreciate you remembering that was one of my worries.  But of course, your not-a-leak was pretty transparently hinting that you were expecting Big News to bre

[2019-05-08 02:10] YugiFanGX opened #910 "💬 Discussion | Hidden metadata on printed documents (yellow dots)"
https://en.wikipedia.org/wiki/Printer_steganography

There are anonymization tools like DEDA (https://github.com/dfd-tud/deda). But this leads us to the question:
Which printers are safe? Are there printers which are based on libre software?

[2019-05-08 02:13] five-c-d commented on #904
I think that the hardware-section is a grand idea, but I would strongly suggest that it should be tied to the software-sections.  People don't **buy** "hardware" what they buy is "something to run the apps that I need".

In the case of privacyToolsIO, we have a huge long *list* of all the apps that a privacy-conscious person might need.  Thus, the key question that the hardware-section should answ

[2019-05-08 02:18] YugiFanGX opened #911 "🆕 Software Suggestion | Metadata Anonymization Toolkit (MAT)"
## Basic Information

**Name:** Metadata Anonymization Toolkit (MAT)
**Category:** Misc
**URL:** https://0xacab.org/jvoisin/mat2

## Description
MAT is free software, which allows the removal of metadata of images (jpg, png), audio (mp3, ogg), torrent and several document file types (pdf, docx etc)

Mat only removes standard metadata from your files, it does **not**:

    anonymise their content

[2019-05-08 02:27] five-c-d commented on #899
Right now you are accepting donations without registering as a non-profit, which means you are supposed to report the donation-income as taxable.  But more crucially, the donor must report the expenditure, as an expense.  If you register as a 501.c.4 in the USA, you can become an educational foundation, and accept donations which are tax-deductible.  You can also accept dark money, from all the pr

[2019-05-08 02:55] five-c-d commented on #880
That is your position, yes  :-)   But it is NOT what privacyToolsIO listings, actually say.  They list, very first thing after the intro, VPNs.

TorBrowser, and other TorNetwork tools, are waaaay down the /classic portion of the page.

Right.  And **my** point is that, privacyToolsIO encourages VPN usage.  Prominently!  So you should open a discussion, not say you consider it closed and pointless

[2019-05-08 03:52] gjhklfdsa commented on #904
@five-c-d Last I checked [Replicant](https://www.wikipedia.org/wiki/Replicant_(operating_system)) supported [F-Droid](https://www.wikipedia.org/wiki/F-Droid).
Therefore [F-Droid](https://www.wikipedia.org/wiki/F-Droid) apps would be available to install. Plus, you can still install [Yalp Store](https://github.com/yeriomin/YalpStore).

[2019-05-08 04:23] gjhklfdsa opened #912 "💬 Discussion | Remove Non-Free Search Engines"
Most of the recommended search engines on the privacytools.io website are [non-free](https://www.wikipedia.org/wiki/non_free_software).
Including [StartPage](https://www.wikipedia.org/wiki/Startpage.com), [DuckDuckGo](https://www.wikipedia.org/wiki/DuckDuckGo), and [Qwant](https://www.wikipedia.org/wiki/Qwant).

**Despite there being several amazing [free software](https://www.wikipedia.org/wiki/F

[2019-05-08 10:17] Mikaela commented on #911
[Ships with Tails.](https://tails.boum.org/blueprint/doc/mat/)

[2019-05-08 10:28] Mikaela commented on #909
Issue on Voat at https://github.com/privacytoolsIO/privacytools.io/issues/711.

And to your second list, I would add [Tildes.net](https://tildes.net/).

[2019-05-08 10:32] blacklight447-ptio commented on #880
@five-c-d You can use tor browser safely and login, tor browser gives every site its own circuit and seperated state. Also you VASTLY under estimating the current capabilties of the tor network, latency is only about 3 seconds these days. And I have been able to watch 1080p videos on it on frequent basis. So to recommend the heavily limited free protonvpn servers over tor for speed reason, is rath

[2019-05-08 10:38] blacklight447-ptio commented on #911
1+ for mat. Though i recall that developement had paused/halted because the developer was struggling with health problems, does anyone have updates on this situation?

[2019-05-08 10:42] blacklight447-ptio commented on #912
While I like open source, I doubt how much actule difference this will make. How can we verify that the one hosting the search engine runs this code?

[2019-05-08 12:55] five-c-d opened #914 "💬 Discussion | should VPN-section recommend Tor-use, versus VPN-use?"
Side-discussion, motivating me to open this issue, found over here == https://github.com/privacytoolsIO/privacytools.io/issues/880#issuecomment-488965108

@blacklight447-ptio has these four recommendations, which I've edited for clarity, let me know if any corrections are needed please, and I will edit:

1.  we should shove the VPN listings all the way down, to the very bottom of the /classic and

[2019-05-08 17:11] jingofett commented on #454
Ghostbin now displays a message that it will be shutting down this month.

I guess PrivateBin is the only choice. Is there a way to integrate it with ShareX?

[2019-05-08 21:18] five-c-d commented on #904
Yeah, I think Replicant is decent in terms of software-support.  Like with GrapheneOS, you start with FDroid, and if you need more than that, you can install Yalp/similar.  The main limitation of Replicant, is that if you **want** to run replicant, you have to get very specific hardware:  an old samsung S3, or whatever.  You cannot just install Replicant on "any android handset" ... but once you *

[2019-05-08 21:37] blacklight447-ptio commented on #904
We should indicate notify the users what the criteria were once this is all set and done, so it might be worth writing a blog post on what we chose and why, and put a link to that above the hardware section.

[2019-05-08 21:56] gjhklfdsa commented on #912
LibreJS, it currently has limited support among search engines but many have made some progress to support it or have open issues.

Jive Search: https://github.com/jivesearch/jivesearch/issues/89

Yacy and Sarchy: https://github.com/yacy/yacy_search_server/pull/56

Gigablast (no response): https://github.com/gigablast/open-source-search-engine/issues/146

Many are also [self-hostable](https://www.

[2019-05-08 22:27] gjhklfdsa commented on #904
@five-c-d Debian isn't really made for mobile.

And if privacytools.io is gonna recommend hardware they can recommend hardware with support for Replicant. This doesn't mean that users cannot install LineageOS on their old phones.

Not sure what the question is.

[2019-05-08 22:29] gjhklfdsa commented on #904
@blacklight447-ptio I'm a big fan of the RYF Certification process.
Sets things out pretty clear: [ryf.fsf.org](https://www.ryf.fsf.org/)

[2019-05-09 10:38] woctezuma opened #917 "💬 Discussion | Warning about Privacy Badger"
I have noticed that a warning about Privacy Badger had been removed.

The warning was:

I had added this warning in PR #360 because of issue #335.

I have found out that it was removed silently after [a seemingly cosmetic-only commit](https://github.com/privacytoolsIO/privacytools.io/pull/903/files#r282432425).

[2019-05-10 18:19] Thorin-Oakenpants commented on #808
actually the reason the ghacks user.js doesn't use this (and in fact recently removed all Tracking Protection (TP) prefs, none of which were active, i.e they were all commented out) is

- The same pref is used for different levels, and thus duplication of prefs to cover all options = messy
- TP lists (and other prefs, not just list ones) are proliferating (e.g crypto, fingerprinting)
- TP is under

[2019-05-10 19:51] Thorin-Oakenpants commented on #815
My 5 cents

- `security.ssl3.rsa_des_ede3_sha`  - do not meddle with FF ciphers, all you do is change your cipher fingerprint. I'm sure you can pull this info from [Mozilla's telemetry](https://telemetry.mozilla.org/) (I do this to look at stats like IPv4 and IPv6 info, or TLS version requests), and I'm sure you will find the threat is zero to none in the wild.
- `plugin.scan.plid.all` - no need t

[2019-05-10 19:59] JonahAragon commented on #832
@five-c-d funny story, the one I got was mislabeled and was actually a Verizon edition, no unlockable bootloader for me! 😬

So I'm returning that. It's a blessing I suppose, since all of @thestinger's comments made me want to get a Pixel 3 instead, with its fancy new Titan M chip and all. So I'll either get that "soon" or get a Pixel 3a if GrapheneOS supports it, although [I'm not holding my breat

[2019-05-10 20:08] thestinger commented on #832
I'm working on potentially getting funding for android-prepare-vendor which would including paying someone to work on replacing the prebuilts with building from AOSP and the Qualcomm open source releases. Obviously, firmware can't be built from source due to signature verification, which is important for the security model anyway (and a lot is closed source). Most of the other components in there

[2019-05-11 01:24] ghbjklhv opened #920 "✨ Feature Suggestion | P2p Filesharing Client Recommendations"
**Feature**: Bittorrent/P2p File-sharing Client Recommendations

**What I can recommend**:
There are very few clients directed at privacy.
To get the ball going maybe add:

- [XD Client](https://xd-torrent.github.io/)

- [OFFLoad](http://offload.sourceforge.net/) - Uses [OFFSystem](https://www.wikipedia.org/wiki/OFFSystem) (not Bittorrent)

- [The Owner Free File System](off.system/) - Reboot of [

[2019-05-11 01:43] ghbjklhv opened #921 "🆕 Software Suggestion | Add OFFSystem to Self-Contained Networks"
**Feature**: Add popular file share management tool - [The Owner Free File System](http://offload.sourceforge.net/) (reboot of [OFFSystem](https://www.wikipedia.org/wiki/OFFSystem)) to [self contained networks](https://www.privacytools.io/classic/#darknets).

[2019-05-11 12:47] johnozbay commented on #860
While I do see the reason behind this request, and agree with some portions of it, there are incredibly important and legitimate use cases for web workers especially in the field of privacy and security.

In short, all web-crypto libraries use or rely on service workers in one form or another to handle processing-heavy operations in the service-worker thread, rather than the main UI thread, so tha

[2019-05-11 15:17] 3j9fkyahunqoxwqu commented on #815
I agree with @Thorin-Oakenpants comment, i think the geo prefs should not get touched by us even their default choice setting, because that will greatly can get used for fingerprinting without much improvement to privacy as @Thorin-Oakenpants said, the browser will prompt for it.

[2019-05-11 21:11] JonahAragon commented on #912
It should be noted that while we prefer open source applications in general, it is not a requirement to be listed. We list the best overall tools in each category because if they are privacy-respecting and *people will use them*, then they are better for most users.

Not that we can't discuss this issue, but "because they're not open source" can't be the *only* reason we remove tools. Open source

[2019-05-12 04:41] BurungHantu1605 commented on #906
fixed

https://github.com/ryanbr/fanboy-adblock/commit/849daf4bfada55b61d2b7acf7622852c9ddd03b8

[2019-05-12 04:41] #906 closed

[2019-05-12 11:47] hugoncosta commented on #917
I too agree that the warning should stay. On the other hand, we could also add that you can, in fact, block Google Analytics with PB.

![screenshot](https://i.imgur.com/9s16USY.png)

[2019-05-12 12:16] Mikaela commented on #843
Is it just me or is this issue unfindable with search? I again looked for this a long time to point to https://github.com/privacytoolsIO/privacytools.io/issues/843#issuecomment-485375779 (my list of GitLab issues) and I had to come here through another issue even if I wrote search term `
❌ Software Removal | github` where I copy-pasted the beginning from another issue. Maybe GitHub doesn't like th

[2019-05-12 12:24] beerisgood commented on #917
Or better: use uBlock Origin which can do the same and isn't crap

[2019-05-12 13:11] five-c-d commented on #843
Can confirm this is "invisible" somehow.

*  https://github.com/search?q=org%3AprivacytoolsIO++notabug&type=Issues
*  no resulting search-hit includes 843 anywhere

Github's internal search-engine is awful though.

*  https://duckduckgo.com/?q=notabug+site%3Agithub.com%2Fprivacytoolsio&t=hj&ia=web
*  top search-result hit is 843

That could be the root cause why github-search is refusing to show 8

[2019-05-12 13:35] Mikaela commented on #843
Maybe if I assign it to myself, reopen and close again...

[2019-05-12 13:38] Mikaela commented on #843
Ridiculous and not a good solution.

![Screenshot from 2019-05-12 16-38-02](https://user-images.githubusercontent.com/831184/57582983-30539080-74bb-11e9-9d0c-630892c74ffc.png)

[2019-05-12 13:39] Mikaela commented on #843
And being open changes nothing, I think I will need to contact support after reading if I can find any documentation about this issue.

[2019-05-12 13:39] #843 closed

[2019-05-12 14:02] five-c-d commented on #843
I am able to see 843 with the following URL == https://github.com/privacytoolsIO/privacytools.io/issues?q=sort%3Aupdated-desc  So it *is* still "in github" and visible to the githubSearch

[2019-05-12 22:31] FrostKnight commented on #375
To be fair, I am not against @mattatobin or the idea that the new firefox is crap... But I think he just shot himself in the foot with an AR15 being as agressive as he was with the aruging, etc...

I disagree though with privacytools.io that Basilisk Browser and forks shouldn't be on the list.  Though I also agree the blocklist that is within palemoon is crap.

 Aka, some addons which are extremel

[2019-05-12 22:33] FrostKnight commented on #375
But one that is more regularly updated of course. :) and is available for most distros.

[2019-05-13 00:56] mattatobin commented on #375
More fake news.. noscript is level 1 which is just a Stability OR Security warning because it is known to cause stability issues and support nightmares.

[2019-05-13 02:20] beerisgood commented on #375
@FrostKnight but only for mainline browser and not for old engine based forks ;)

[2019-05-13 02:46] mattatobin commented on #375
More fake news

[2019-05-13 03:07] tya99 commented on #856
This can be closed as WONTFIX, issue resolved.

- https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/
- https://hacks.mozilla.org/2019/05/technical-details-on-the-recent-firefox-add-on-outage/

[2019-05-13 03:10] dm17 commented on #856
Why? Especially after this week's problems at Mozilla - which had again debunked many of the claims in this thread. I don't think this should be closed short of some action items that have been discussed above.

[2019-05-13 03:12] tya99 commented on #856
The reason being is because it was an accident, it has been explained and there is nothing to be gained from advertising *insert shitty firefox fork*.

Code signing is there in the long run to protect users from malicious addons.

[2019-05-13 03:14] dm17 commented on #856
Pretty pathetic skipping all of the above argumentation; care to actually make an argument? The above statements demonstrate how non-shitty some of these Firefox forks are... Especially when privacy is a goal.

[2019-05-13 03:27] tya99 commented on #856
One thing I have observed is there has been a concerted effort by new accounts to have Firefox removed from privacytools.io, particularly by new accounts/new users. I am curious to know is why libBletchley has deleted their account.

Those alternatives are not mature enough, widely available (multiple platforms) etc. The fact that none of those alternatives appear in distribution repositories shou

[2019-05-13 03:37] dm17 commented on #856
I'm not a new user; I joined GitHub in 2012. I will not delete my account either. If you want to get conspiratorial, then it would be against the side of Mozilla/Firefox (the huge company engaging in censorship and does not nearly have the privacy features as the browsers talked about in this thread).

Waterfox, in this example, is available on OSX, Windows, Windows portable, and Linux. How is tha

[2019-05-13 03:50] tya99 commented on #856
Yes and it is for a completely different threat model. Most obviously Tor Browser includes includes Tor. It also aims to keep one anonymous so the purpose is quite different to Firefox.

I'm not going to re-iterate what other people have said against Waterfox/other forks. I did read over the thread and I'm not convinced anything should change.

If you want to use a shitty fork go use it then but i

[2019-05-13 04:04] FrostKnight commented on #375
It does not do any such thing actually. Unless you have it setup the way it is by default. Doing those two things I mentioned, allowing all video and enabling all scripts, makes it work for anyone without the nightmare you say it is. I have that setup on my mother's windows 10 laptop in firefox, and she doesn't complain at all. So nice try, but what you are saying is the real fake news. No worries

[2019-05-13 04:06] FrostKnight commented on #375
That would be fine, if it is set for full privacy and security by default and rips out as much tracking nonsense as possible and/or disables the tracking nonsense. I guess in essence, a browser like Icecat like I said only very frequently updated. :)

[2019-05-13 04:07] tya99 commented on #375
@FrostKnight  you're wasting your time arguing with @mattatobin, he has nothing better to do than go around reddit, HN and github spruiking Palemoon/etc. Any argument you make will be simply responded with "fake news".

[2019-05-13 04:10] FrostKnight commented on #375
True, I guess I was bored and hoping I could help him in my spare time. I wonder if he likes the usa president. I wonder if that is why he keeps using that phrase. xD

[2019-05-13 04:13] FrostKnight commented on #912
I use searx, but as long as they don't spy/have severe issues, I see no problem with keeping duckduckgo. Startpage and ixquick are different though, because I don't know much code they use that is actually freely licensed.  That being said, duckduckgo isn't completely free either.

[2019-05-13 04:18] tya99 commented on #375
Mental illness is no laughing matter.

[2019-05-13 04:22] dm17 commented on #856
Yes, so that supports my argument and does not support yours. Are you an authority at PTIO? You certainly speak with that kind of tone. I'm not familiar enough to know who runs it - and my thread was started from the idea that users visiting PTIO should not have to be so well researched and knowledgeable to know what to pick and how to use it.

[2019-05-13 04:37] tya99 commented on #856
Tor Project actually has a fairly renowned reputation, the other Firefox forks do not by comparison.

I have contributed in the past. I am stating my opinion on the matter. The fact is you're not the first person to come and spruik some fork of Firefox. Many of those forks have since become unmaintained.

The arguments have occurred on and off over the last 5 years, with the result staying the sam

[2019-05-13 04:41] KonoromiHimaries opened #924 "🆕 Software Suggestion | Add loki-net"
[code]

[2019-05-13 05:36] mattatobin commented on #375
HN? Also, i rarely use reddit. I don't like how the site operates.

Additionally, I don't use Pale Moon as my default browser and haven't for almost all of 2019 thus far. I am working on and using my Navigator.

Also, I have lots to do. I am here because I was notified and people such as your self are continuing to spread lies.

Stop doing that and I shall stop responding.

[2019-05-13 05:51] blacklight447-ptio commented on #856
funny that after all this time. @dm17 comes back to the same old arguments. If you ask me, I would vote to just close this issue. There was no real evidence provided, and the claim that firefox is privacy unfriendly has not been confirmed. Let alone make the small telemetry "issues" be worth the slow done in critical security updates provided by shitty firefox forks.

[2019-05-13 05:59] tya99 commented on #375
https://news.ycombinator.com/item?id=19527053

[2019-05-13 06:54] blacklight447-ptio commented on #924
So where would one add this, self contained networks? Also I would feel a bit uncomfortable with adding new networks, atleast not without some big warnings.

[2019-05-13 06:56] blacklight447-ptio commented on #920
I warn against using bittorrent based file sharing for privacy purposes, they often leak you ip address by design(not because they are evil, but just because that how they were built to work.)

[2019-05-13 07:42] beerisgood commented on #375
I recommend that we're stop talking about Pale Moon, cause mattatobin have a lot to do :D

Also he never use NoScript, but don't recommend it. I guess it's then fake that it's recommend and default in Tor browser?

[2019-05-13 08:02] KonoromiHimaries opened #925 "🆕 Software Suggestion | Add Iron Browser"
[code]

[2019-05-13 08:13] KonoromiHimaries opened #926 "🆕 Software Suggestion | Add OOSU10"
## Basic Information

**Name:** OOSU10
**Category:** https://www.privacytools.io/operating-systems/#win10
**URL:** https://www.oo-software.com/en/shutup10

## Description

O&O ShutUp10 means you have full control over which comfort functions under Windows 10 you wish to use, and you decide when the passing on of your data goes too far. Using a very simple interface, you decide how Windows 10 shoul

[2019-05-13 08:20] Mikaela commented on #926
Could you describe in your own words what is it and why it should be added?

[2019-05-13 08:23] Mikaela commented on #925
I am under impression that they are very slow with security updates and not that good?

[2019-05-13 08:24] Mikaela commented on #924
What is it and why should it be added? Is it more like Tor or I2P? What makes it in-scope unlike https://github.com/privacytoolsIO/privacytools.io/issues/685?

[2019-05-13 08:31] KonoromiHimaries opened #927 "💬 Discussion | Best set of filters list to protect privacy with ublock origin"
I noticed that no filters list are recommended
[code]

the default settings is not enough to protect privacy

[2019-05-13 09:54] KenanSulayman commented on #633
jfyi https://hal.inria.fr/hal-02100345/document

[2019-05-13 10:34] beerisgood commented on #926
I'm against such tools
Better make the settings (registry + GPOs) by yourself

Also using PiHole helps a lot against tracking & telemetry

[2019-05-13 13:22] mattatobin commented on #375
Sorry dude, I have never seen anything you linked to before just now. I certainly didn't write it.

I don't use arbitary nicknames or anything and haven't for nearly 20 years. I use my name or something with my name in it like "New Tobin Paradigm".

[2019-05-13 16:00] Atavic commented on #927
[Filterlists Repo](https://github.com/collinbarrett/FilterLists)
Select uBo under Software on filterlists.com

[2019-05-13 16:56] gjhklfdsa commented on #920
@blacklight447-ptio XD uses I2p.

@ghbjklhv I wouldn't add qBittorrent to main, tho.
Too easy for somebody to leak their IP.

[2019-05-13 17:13] gjhklfdsa commented on #912
@JonahAragon To chime in a bit here.
How many reasons are needed to remove something? If not just one?

Cuz, we don't list VPNs in the United States and discourage utilization of US services.
Yet DuckDuckGo is US based and doesn't hide you searches at a local level.[1](https://choosetoencrypt.com/search-engines/duckduckgos-biggest-privacy-flaw/)

Plus services like Qwant reserve the right to chang

[2019-05-13 18:32] allo- opened #928 "Discussion | ProtonMail, ProtonVPN and ProtonMail are called out by vpnscam.com"
## Description

There are blog posts about the companies behind ProtonMail, ProtonVPN and apparently NordVPN.
Have a look at these articles, regarding how these services may belong to a data mining company:

- http://vpnscam.com/heres-why-you-cant-trust-nordvpn-and-protonvpn-protonmail/
- http://vpnscam.com/hola-vpn-and-nordvpn-partners-in-data-mining-bot-network/
- http://vpnscam.com/is-nordvpn-a

[2019-05-13 18:48] blacklight447-ptio commented on #928
Looked into this a while ago, seemed to be nothing more then yet another smear campaign by PIA to boost their own services.

[2019-05-13 18:52] allo- commented on #928
Is there another thread for it? I think this should be worth some fact checking, because when half of it is true, this is a huge issue. I am especially worried when recommending a mail provider, because you cannot easily change a mail address.

I am not super convinced by the articles, but I am concerned as long as no one points out an obvious flaw in them.

[2019-05-13 20:20] JonahAragon commented on #926
IMO we should be strongly discouraging Windows 10 use in the first place rather than provide recommendations on how to manage it, which ultimately seems like a flawed concept given that Microsoft could change/add things at any time via Windows Update in the future that breaks these protections.

[2019-05-13 20:24] JonahAragon commented on #633
"You should not rely on this code" is a given yes, the "WireGuard is not yet complete" and "It has not undergone proper degrees of security auditing" is the bigger concerns in the quote there.

Not that OpenVPN is too much better as you mentioned, but it's in far, *far* wider use than WireGuard currently is.

[2019-05-13 20:27] #925 closed

[2019-05-13 20:29] JonahAragon commented on #856
I have to agree, removing Firefox as a recommendation makes no sense at this time.

Adding Waterfox as a worth mentioning browser... maybe? But that's a separate issue I think, or should be.

[2019-05-13 20:29] #856 closed

[2019-05-13 20:43] #375 closed

[2019-05-13 21:12] blacklight447-ptio commented on #779
Any updates on this,I have still not read any real evidence that signal would not be privacy friendly, except for some pseudo  annoyances. Wheter a phone number is bad completely depends on ones threatmodel, and at most would be an anonymity issue, not a privacy issue. Further more can signal be easily used by its apk version which also includes an auto updater. My vote is the close this issue.

[2019-05-14 01:42] gjhklfdsa opened #929 "🆕 Software Suggestion | LibertyBSD"
**Description**: Add LibertyBSD to OSes.
**How?**: I recommend changing the OpenBSD description to:

This is very similar to the way [Parabola](https://www.wikipedia.org/wiki/Parabola_GNU/Linux-libre) is listed as a free'd version of [Arch](https://www.wikipedia.org/wiki/Arch_Linux).

[2019-05-14 14:12] Mikaela commented on #909
I was also made aware of Lenmy today which is going to federate.

https://github.com/dessalines/lemmy

[2019-05-14 14:39] Mikaela commented on #909
Oh, notabug.io was also mentioned in the Matrix chat https://github.com/notabugio . They also linked to https://github.com/reddit/ so apparently Reddit has some open source code.

[2019-05-14 15:27] Mikaela commented on #779
How about we click the close button until something worse happens and it can be easily replaced?

[2019-05-14 15:27] #779 closed

[2019-05-14 18:22] daveloyall commented on #754
@strypey, would you provide a link to FedEvent?  It's easy to find links to [Mobilizon](https://framagit.org/framasoft/mobilizon) and [GetTogether](https://github.com/GetTogetherComm/GetTogether).  Regarding NextCloud, I assume you're referring specifically to [their 'social' application](https://github.com/nextcloud/social), correct?

Thank you!

[2019-05-14 18:27] l0phty1 commented on #911
dev looks very active, busy amount of commits and issues responsiveness, also main dev's blog which alerted me to new release 0.9.0 on 10 May https://0xacab.org/jvoisin/mat2/tags/0.9.0

This would be a great addition for PTIO to recommend.

[2019-05-14 18:33] Vanecx commented on #754
FYI, Framasoft just launched a few hours ago its crowdfunding for Mobilizon, you can find it [here](https://joinmobilizon.org/en/), they've already reached 30% of their first goal (20.000€).

[2019-05-14 20:54] Atavic commented on #904
The concerns should be with Intel as a whole, see [Zombieload](https://github.com/IAIK/ZombieLoad), another weird bughole.

[2019-05-14 20:59] atomGit commented on #928
skeptical - vpnscam.com was apparently registered by Privacy Protect, LLC (which is fine, just sayin') - server is non-SSL (at least i can't load over https) and located in the British Virgin Islands - the server runs  Phusion Passenger which is some sort of commercial server framework or whatever that runs from a min. of $228/yr. up to 10s of thousands/yr., however this may be paid for by the hos

[2019-05-14 21:19] atomGit commented on #928
also, potentially in vpnscam.com's favor, that flow chart appears only on their website (and possibly on a forum post elsewhere) according to reverse image searches - you'd think maybe if a VPN competitor went through all the trouble to write those posts and create that graphic that they'd use it elsewhere perhaps??? also the post content seems unique after a quick search (doesn't appear to be a c

[2019-05-14 21:36] atomGit commented on #927
that results in over 200 pages of filters - ouch

[here's](https://12bytes.org/articles/tech/firefox/the-firefox-privacy-guide-for-dummies#neutering_the_wild_world_web_and_the_fox) what i run/suggest if the OP is interested - scroll down just a lil

[2019-05-14 21:40] atomGit commented on #926
my translation...

IMO we should be strongly discouraging Windows

it's proprietary and so cannot be trusted to protect privacy... then again, there are be bigger problems than the OS (proprietary hardware and firmware)

[2019-05-14 21:48] atomGit commented on #917
^ what he said - i'd suggest dumping the Badger as long as uBlock/uMatrix are used (along with some other junk like CanvasBlocker, FPI, etc...) - but maybe i'm not thinking about the noobs?

[2019-05-14 22:03] atomGit commented on #914
i might be the idiot in the room, but according to my understanding, TOR was developed by the U.S. Naval Research Laboratory and continues to be funded by gov/mil

then there's the exit nodes problem in that apparently a lot of them are suspect/known to be malicious/run by gov/intel

then there's the logical problem, why would the gubment give this tech to the public if it were full-proof?

some o

[2019-05-14 22:10] allo- commented on #928
On the other hand, the site has only a few articles, when it looks like it tries to report on as many VPNs as possible. But if they try to seriously write about them, there are only a few articles, because they have no facts about the others (or they are just fine).

This might be a shared (blog) hosting. Whois-Protection is not unusual for privacy aware people (OTOH the VPNs themself should be as

[2019-05-14 22:14] atomGit commented on #912
**gigablast** is dead - unmaintained for a long time
**yacy** is an excellent idea i think (future is p2p apps?), but at this time it's essentially useless as a search engine since it's index is so small
**searx** is the best of the meta search engines IMO, but it relies largely on the commercial indexes (google, etc., though you can adjust that)

the other 2 i have to check out - thanks for menti

[2019-05-14 22:21] allo- commented on #928
More URLs with pro and contra arguments:
https://restoreprivacy.com/lawsuit-names-nordvpn-tesonet/
https://news.ycombinator.com/item?id=18010648
https://news.ycombinator.com/item?id=17254113
https://www.reddit.com/r/ProtonVPN/comments/8ww4h2/protonvpn_and_tesonet/
https://medium.com/@gaetanosabin/did-nordvpn-and-protonmail-violate-gdpr-and-us-privacy-laws-by-doxing-vpn-affiliate-2fe7b0d51d1f
https

[2019-05-14 22:22] allo- commented on #928
Feel free to change the Tag from "Software removal" to "Discussion".

[2019-05-14 22:31] blacklight447-ptio commented on #914
@atomGit it just happens to be so that  I wrote a blog post on this FUD:https://write.privacytools.io/my-thoughts-on-security/slicing-onions-part-1-myth-busting-tor

Ill plug some of the article below here:
Although Tor is one of the best ways out there to protect your privacy and security these days, it sadly suffers from a bad reputation. This is the result of a number of myths which we’ll now a

[2019-05-14 22:50] atomGit commented on #711
not entirely true, though it seems to be devolving even more as of late - as for pizzagate, look into that deeper than what you read or watch on more mainstream sites/news media - at its core it was never really about a pizza joint in DC with secret tunnels, it's about the larger pedo rings operating globally, especially those with ties to government

there are (or at least were) a small number of

[2019-05-14 22:55] danarel commented on #928
So many sites and activists have looked into this and reported on it and you're 100% correct.

[2019-05-15 11:29] atomGit commented on #914
thanks much for the info @blacklight447-ptio - read all of your blog post and understand TOR a bit better - i have some comments ...

we know what the disclosed capabilities of government are, however we don't know what their undisclosed capabilities are

regarding the cost aspect of spying on TOR users, i would certainly posit that the expense means absolutely nothing to a government that is spen

[2019-05-15 11:44] blacklight447-ptio commented on #914
@atomGit ,I can give some more insights in this. Unlike what you might think, expense certainly IS an important thing in war, especially when it is known that spending that money in another area like hacking tools , which give a way better valua. Also it doesnt matter if the government would run some nodes, as the nodes dont know who you are, and most traffic these days is encrypted anyway.

And e

[2019-05-15 12:10] Mikaela commented on #914
I tried to read this thread from the beginning and I added :confused: to comments that I viewed as too long to get what they were actually trying to say.

I would like to quote [the Torproject FAQ](https://2019.www.torproject.org/docs/faq.html.en#WhyCalledTor):

And on party X attacking Tor by running the majority of nodes, that is known as a [Sybil attack](https://en.wikipedia.org/wiki/Sybil_atta

[2019-05-15 15:31] Spydar007 commented on #507
Irrelevant by #931

[2019-05-15 15:31] #507 closed

[2019-05-15 15:32] Spydar007 commented on #454
Ghostbin removed via #931

[2019-05-15 20:13] FrostKnight commented on #844
I have heard something interesting about AMD, their richland processors:
https://freundschafter.com/cybersecurity-cpu-and-system-alternatives-without-intel-me-iamt-and-amd-psp-secure-technology/

IF this is true, the richland processors can be used without a non-free bios, if people do the work of liberating them completely.

[2019-05-15 20:14] FrostKnight commented on #929
except, that LibertyBSD ditched libressl in favor of openssl.  Which I have heard is not secure due to mulitiple vulnerabilities.  Worth researching though!

[2019-05-15 20:17] FrostKnight commented on #845
I use libreboot and coreboot. They are awesome. But coreboot I do admit is harder to work with. If you want to use arch based systems I mean...

[2019-05-15 22:03] pahakalle commented on #845
There is as well [Heads](https://github.com/osresearch/heads)
"A minimal Linux that runs as a coreboot or LinuxBoot ROM payload to provide a secure, flexible boot environment for laptops and servers."

[2019-05-15 22:12] pahakalle commented on #844
You can always partialy deblob Intel ME/TXE firmware images with [me-cleaner](https://github.com/corna/me_cleaner) but it does require external flashing

[2019-05-16 00:05] gjhklfdsa commented on #912
@atomGit I'll have to disagree with you on Yacy.
However, 2+ free software search engines are more than enough.

SearX is great, however I prefer Jive Search's UI.
More sleek IMHO.

I used SearX for a long time. :)

[2019-05-16 00:14] atomGit commented on #912
maybe their index has gotten significantly bigger since i last checked - i'd like to test again, but the instance at yacy.snopyta.org is down - do you know of another instance? or, better yet, a list of instances? or perhaps you're running an installed version?

[2019-05-16 00:42] asddsaz commented on #904
@Atavic Hopefully [Risc-V](https://en.wikipedia.org/wiki/RISC-V) and projects like the EOMA68 will be better.

[2019-05-16 07:30] youngbasta opened #932 "🆕 Software Suggestion | PureOS, Librem"
## Basic Information
A privacy and freedom respecting company. Has their own 100% libre software, and hardware if you buy their laptops or phone. Also their own OS, called PureOS.

**Name:**
PureOS
Librem5
Librem13
Librem15

**Category:**
Operating System

**URL:**
https://puri.sm
https://pureos.net/

## Description
I think at least the PureOS OS should be featured in the list as it is the same as

[2019-05-16 07:32] blacklight447-ptio commented on #932
Wasn't pure os basically with a skin over it?

[2019-05-16 07:38] blacklight447-ptio commented on #848
We could potentionally make an about page, with a little history of who started the project, why and how it was started, and what   our mission is. Below that we could even list some of the team members and (optionally)? List some way to contact them.

[2019-05-16 09:26] youngbasta commented on #932
Over what?

[2019-05-16 12:05] atomGit commented on #914
@blacklight447-ptio said...

i would posit that your words fall on the other side of the spectrum in that they downplay known and potential threats - the perception that something is secure doesn't make it so

and if playing the role of a devils advocate and presenting evidence to back my statements is scaremongering in your eyes, than i stand guilty without reservation

you got it backwards - gov

[2019-05-16 12:21] blacklight447-ptio commented on #914
Again, all you do is scare mongering, the point of this issue is that people should use Tor, as it is better for anonymity then a vpn, throwing around yes but government this and potentional multi trillion undisclosed bug, that is not helping anyone, rather, it is scaring away users from secure platforms because of this toxic user mentality.

if you have read my blog like you said you did, then yo

[2019-05-16 13:10] atomGit commented on #914
you're twisting my words to suit your agenda to get Tor listed without recognizing that i am not arguing with your agenda  - **i never said people shouldn't use Tor**

i largely agree that Tor is a far superior alternative to a VPN - no argument there - and your accusation that i'm "trying to make sure tor will not be posted" is bullshit - i'm disclosing issues as i see them because, as you admitt

[2019-05-16 13:57] blacklight447-ptio commented on #914
" i never said people shouldn't use Tor"
I never said you did, what I DID said was that your basically throwing in stuff the either was known for a long time, or else is basically nothing more then a conspiracy.

" and your accusation that i'm "trying to make sure tor will not be posted" is bullshit" again, i never said that.

"i'm disclosing issues as i see them because, as you admitted, Tor is i

[2019-05-16 14:48] atomGit commented on #914
for what it's worth, i agree with point 1 - regarding point 2, i think there should be a strong but brief warning (it's up to them to research), but i'm not going to make any suggestion as to how to word it

... for novices to use, yes - not necessarily hard, but inconvenient, slow, discovering nodes, waiting to connect to the network, etc... i think there's certainly some major niggles that could

[2019-05-16 14:49] five-c-d commented on #914
Yes, we all agree on this one.  I agree with atomGit that TorNetwork should not be presented as the silver bullet to anonymity, because it just flat out is not a silver bullet.  Sometimes it fails to work, unless the enduser knows about built-in bridges, and sometimes THOSE fail to work also so the user has to know about *non*-built-in bridges, and sometimes it just ***completely*** fails to work

[2019-05-16 15:16] five-c-d commented on #932
Sort of, it is a libre-only variant.  From the original post ==

Currently the desktop-OS-listings have Qubes + Debian + Trisquel as top3.

The proposal here, is to have PureOS added to the WorthMentioning, and it would say something like "PureOS is a respin of Trisquel/Debian, made by Puri.sm the social-non-profit, which also produces Librem15 + Librem13 laptops, etc etc".

Related:  proposal to

[2019-05-16 16:12] blacklight447-ptio commented on #932
@five-c-d From what i understood, debian was also fully libre, with only a repo that you can optionally enable for closed source stuff?

[2019-05-16 16:14] blacklight447-ptio commented on #914
Im planning to write a little proposal on this, may take a while.

[2019-05-16 16:15] atomGit commented on #914
side note - this needs changed i think (https://www.privacytools.io/providers/vpn/):

"give you a better privacy" definitely needs changed, but how about...

Warning: A VPN provider will not make you anonymous, however it can help to protect your privacy. No VPN provider can be considered to be completely trustworthy and therefore one should not rely entirely upon their advertised policies, includ

[2019-05-16 16:31] blacklight447-ptio commented on #914
@atomGit While im not fan of the "dangerous" description, In a world of two extremes, the answer often lies somewhere in the middle. So Ill compromise, and say that this describtion would be fine with me.

[2019-05-16 16:39] atomGit commented on #914
yeah, but i did try to narow it down when i said "potentially dangerous for novices" which seems to be true if misused - i.e. the browser bundle + the wrong add-ons, etc.

anyway, it's just a proposal, so feel free....

one thing missing maybe is a mention of how Tor insulates users from the destination - hides the IP - i couldn't figure out how to work that in without making it too long and maybe

[2019-05-16 16:39] five-c-d commented on #914
65 words, current prose aka T1 == The Tor network is a group of ...[above]

135 words by atomGit aka T2  == The onion router (Tor) is comprised ...[above]

87 words by fivecd aka T3 == Tor is a network designed to provide significantly enhanced privacy. All data is encrypted, hopping through several volunteer-operated nodes before it reaches its final destination. Tor is often used by ordinary peo

[2019-05-16 16:52] atomGit commented on #914
86 words...

Tor is a network designed explicitly to provide significantly enhanced privacy. All data is encrypted, hopping anonymously through multiple volunteer-operated nodes before reaching its final destination. Tor is often used by ordinary people to circumvent censorship and oppressive governments, as well as investigative journalists, political activists, whistle-blowers and those wishing

[2019-05-16 16:54] Mikaela commented on #904
and [cpu.fail](https://cpu.fail/)

[2019-05-16 16:58] five-c-d commented on #928
This is true, if you don't have your own domain-name.  You can signup for alice AT protonmail DOT com ... and then tell all your friends and contacts, okay here is my new email.  That is easy enough, but when you want to shift over to a new webmail, you have to do it all over again, which means it is harder (switching-costs).

The workaround is to get your own domain-name, and then, signup for pro

[2019-05-16 17:01] allo- commented on #928
@five-c-d Nope, I cannot change the labels, because I am not a team member. I could only add the label, because the repo uses github templates, that allow to post with an initial tag. So it need a maintainer to change it now.

[2019-05-16 17:04] five-c-d commented on #928
@Mikaela , unless you think this label belongs, can you please change it?

*  "...added the **x software removal** label 3 days ago"

See request above, and <a href="https://github.com/privacytoolsIO/privacytools.io/issues/928#issuecomment-492432270">above-above</a> from the OP

[2019-05-16 17:11] allo- commented on #928
Yes and no.

You need to proof something to go to court. But you only need a small hint, to get suspicious. When you cannot proof that the NSA is targeting you, you may still want to make it hard for the NSA to read your e-mails. And some hints that a VPN and its associated services may be insecure are a reason to think twice before becoming a customer.

On the other hand, this is the same reason

[2019-05-16 17:20] Mikaela commented on #928
Sure, but you may be more likely to get responses from team members who are already contributing to the specific discussion, in this case `@blacklight447-ptio` (https://github.com/privacytoolsIO/privacytools.io/issues/928#issuecomment-491941437).

[2019-05-16 17:22] blacklight447-ptio commented on #914
Im all for this one, it provide a nice balance between describing the benifits of tor while not overselling it as  an end all be all solution

[2019-05-16 17:34] Mikaela commented on #917
PrivacyBadger is supposed to only block trackers, not advertisements. I can understand sites containing advertisements to get money and I don't want to block wellbehaving ads (even if they are a minority), so I am against removing it entirely without a similar alternative with equivalent functionality.

I assigned @BurungHantu1605 earlier due to author of that change.

[2019-05-16 17:36] five-c-d commented on #928
Thanks  :-)   And I knew that blacklight was listed as a DiscourseForum moderator, but I didn't know they had commit-access to github.  See also, #848  ...  hint hint  :-)   Is there going to be an "Official List" sometime?  @allo- the label says discussion now, if you can please edit the title? Then everything will match and we can go back to, you know, discussing.

Searching for those on protonm

[2019-05-16 17:52] atomGit commented on #917
there's a lot of lists for uBO - you don;t necessarily have to block ads - you can block trackers and other nasties only, but it's a bit more learning and config-ing for the newbies - if interested though, i'll gladly provide some filter list resources for tracker/nasty only blocking

[2019-05-16 17:52] Mikaela commented on #928
Look for the _team_ flair on the left of the react button.

![Screenshot_2019-05-16 ❌ Software Removal ProtonMail, ProtonVPN and ProtonMail · Issue #928 · privacytoolsIO privacytools io](https://user-images.githubusercontent.com/831184/57875731-21dedf00-7803-11e9-8337-04f706467f51.png)

There is also https://github.com/orgs/privacytoolsIO/people (of which I am not sure if it's publicly visible) an

[2019-05-16 18:00] blacklight447-ptio commented on #928
@Mikaela funny enough, im not visible on that page, nor due I seem to be able to edit tags. But the later might be because im on a mobile client atm.

[2019-05-16 19:25] jmichael2497 commented on #746
this categorization division would be helpful.

i've been trying to figure out a good way to manage some casual affinity groups without requiring people to provide a phone number or email address to join the group chats.

though conversely someone else wants to setup a group where people must provide a phone number to the admins to help enforce accountability of behavior.

so there you go, two use

[2019-05-16 19:53] blacklight447-ptio commented on #746
Ehhh, I would more like it if we were to focus more on threatmodeling rather then making even more sections.

[2019-05-16 20:38] five-c-d commented on #928
<details><summary>Offtopic:  definitely no team-flare, and cannot alter labels, means needs adding? </summary><p>

@blacklight447-ptio ...no it is not you, there is no [Member] thing to the lefthand side of the reaction-emoji-dropdown, like I see for @Mikaela (and that you cannot edit tags/labels confirms).  So you are added in the discourse-forum-backend as "official" but you are not yet added to

[2019-05-16 22:03] atomGit commented on #559
this needs changed i think (https://www.privacytools.io/providers/vpn/):

"give you a better privacy" definitely needs changed, but how about something a little more...

Warning: A VPN provider will not make you anonymous, however it can help to protect your privacy. No VPN provider can be considered to be completely trustworthy and therefore one should not rely entirely upon their advertised poli

[2019-05-16 22:46] jmichael2497 commented on #746
but wouldn't threat modeling necessitate more sections or differentiation somehow?

at the very least, the "gold standard" could be most private by default such as decentralized, anonymous, no metadata...

while "honorable mentions" could be included in the same section for super simple but not maybe centralized and not so anonymous with at least some metadata avoidance.

[2019-05-17 01:18] gjhklfdsa commented on #932
Just to be clear, Purism's laptops are far from fully free.
**Examples:**
[Bluetooth](https://www.wikipedia.org/wiki/Bluetooth) requires non-free drivers
https://forums.puri.sm/t/does-bluetooth-work-if-no-any-idea-when/5612

[Intel ME](https://www.wikipedia.org/wiki/Intel_Management_Engine#Claims_that_ME_is_a_backdoor) despite being partially removed via [ME Cleaner](https://github.com/corna/me_cl

[2019-05-17 01:22] gjhklfdsa commented on #932
No, it is generaally more geared towards end users while Debian is consider a universal OS.

IMHO, trying to meet everyone's needs is impossible. Although, I do run Debian.

As I understand it, PureOS is also FSDG certified and makes it a bit easier to install apps with their PureOS app store.

Many repos like `non-free` and `contrib` are also missing from PureOS.
They also refuse to recommend ins

[2019-05-17 01:26] gjhklfdsa commented on #932
I would appreciate GnewSense to be listed as a fully free'd alternative to Debian.
https://www.wikipedia.org/wiki/GNewSense

[2019-05-17 02:04] five-c-d commented on #932
Please open a different thread, so we don't get side-tracked from PureOS... but it looks like the last gNewSense release was in 2016, and they have the same goals as Trisquel, so if you do propose it, please explain why gNewSense is superior to seemingly-very-similar Trisquel?

So basically, for <a href="https://www.privacytools.io/operating-systems/">desktop-OS listings</a>, we have:

*  top3 ==

[2019-05-17 02:10] five-c-d commented on #886
Duplicate discussion was opened later == https://github.com/privacytoolsIO/privacytools.io/issues/928 , maybe merge them into one?

[2019-05-17 03:57] gjhklfdsa opened #934 "🆕 Software Suggestion | Greenhost"
## Basic Information

**Name:** Greenhost
**Category:** Hosting
**URL:** https://greenhost.net/

## Description
I would like to discuss the possibility of adding Greenhost to the list of hosting providers.

They are a sustainable hosting provider with a high focus on internet freedom and the enviorment.

[2019-05-17 03:59] gjhklfdsa opened #935 "🆕 Software Suggestion | Exoscale"
## Basic Information

**Name:** Exoscale
**Category:** Hosting
**URL:** https://www.exoscale.com/
**Open Source**: Only partially: https://community.exoscale.com/open-source/

## Description
I would like to discuss adding Exoscale to the list of hosting providers.

[2019-05-17 04:04] gjhklfdsa commented on #929
@FrostKnight I've never heard this. Can you please send link?

[2019-05-17 04:10] gjhklfdsa opened #936 "🆕 Software Suggestion | GNewSense"
**Description**: Add [GNewSense](https://www.wikipedia.org/wiki/GNewSense) to OSes.
**Why?** [GNewSene](https://www.wikipedia.org/wiki/GNewSense) is a fully free'd version of Debian.
**How?**: I recommend changing the Debian description to:

**But isn't Debian fully free'd**: Yes and no, this is what the FSF has to say:

This is very similar to the way [Parabola](https://www.wikipedia.org/wiki/Par

[2019-05-17 04:13] gjhklfdsa commented on #932
Common misconception, Ubuntu is based on Debian. Trisquel is based on Ubuntu.
Therefore much of the code is the same. However, much of the code included in Ubuntu or Trisquel and not Debian is not included in GnewSense.

As for the report on when it was last released. I can only say that Debian doesn't make a new major release but every few years. I would assume this is the reason for them not hav

[2019-05-17 04:39] blacklight447-ptio commented on #746
@jmichael2497 Most private doesnt make it the best, don't forget the usability is a major component of secure messaging.

[2019-05-17 04:46] blacklight447-ptio commented on #932
lets now go over this question, what would Pure OS bring to the table, when its compared to other os's we already list.

[2019-05-17 06:38] FrostKnight commented on #929
here is LibreSSL's vulnerability list over time: https://www.cvedetails.com/version/250810/Openbsd-Libressl-2.7.3.html
Here is OpenSSL's vulnerability list over time: https://www.cvedetails.com/product/383/Openssl-Openssl.html?vendor_id=217

Also, OpenBSD is known for focusing heavily on security, if they forked OpenSSL, it was for a reason. ;)

Also here is a more updated remote issue based list:

[2019-05-17 08:26] blacklight447-ptio commented on #936
So what it brings to the table is the removal of an optional contrib repo?

[2019-05-17 08:29] blacklight447-ptio commented on #935
privacy agreement:https://www.exoscale.com/privacy/

[2019-05-17 09:20] Mikaela commented on #934
*(Oh, this is not a pull request, but I guess those labels won't hurt...)*

[2019-05-17 09:28] Mikaela commented on #936
They appear to be on GNU's list.

* https://www.gnu.org/distros/free-distros.html

I was thinking of [Trisquel](https://trisquel.info/) but they are based on Ubuntu instead.

[2019-05-17 15:42] strypey commented on #754
@daveloyall it was in the third link I posted, a couple of comments down, but here you go:
https://github.com/shiburizu/fedevent

It's labeled as a prototype and I'm not sure if it's still in active development, nothing has been committed to the repo there since the code was dumped over the wall 4 months ago.

[2019-05-17 15:56] losuler opened #938 "❌ Software Removal | W10Privacy"
## Reason for removal
I feel as if [W10Privacy](https://www.winprivacy.de/english-home/) (which is featured under the [Don't use Windows 10](https://www.privacytools.io/operating-systems/#win10) section) should be removed as it is not open source. I understand a piece of software being open source or free software [isn't a requirement](https://github.com/privacytoolsIO/privacytools.io/blob/master/

[2019-05-17 17:16] youngbasta commented on #932
It's pretty sad how you guys make comments on this privacytools.io git page and so shouldn't you already know what PureOS is? Atleast what Purism is.

FYI, PureOS isn't just a spin-off of Debian, sure it is based on Debian, it has binary-blobs removed, but most importantly, it comes with privacy features preinstalled like for example- DuckDuckGo out-of-the-box, uBlock Origin and HTTPS.  It is basi

[2019-05-17 17:29] blacklight447-ptio commented on #932
@youngbasta You should know that most of us (especially me in particular) are not big fans of Purism, as I consider it a company that is not trustworthy, an I meet all Purism products with a natural distrust, anyhow explaining why that is is out of the scope of this issue.

Anyway to continue, what PureOS does
remove the contrib repo and has a firefox install with some plugins, is this correct?

[2019-05-17 18:52] jmichael2497 commented on #746
of course usability is important, which is why i suggested (ideally having several) "gold standard" and "honorable mention".

for example pgp may be "the best" but usability not so much.

some tools that are "less than ideal", but make it easy or invisible to the user in using something like pgp, with maybe less effectiveness of course should be considered.

just added for clarification, but basic

[2019-05-17 20:31] Mikaela commented on #938
Also discussed for a few comments in https://github.com/privacytoolsIO/privacytools.io/issues/926#issuecomment-491769142 .

~ @JonahAragon

[2019-05-17 21:05] blacklight447-ptio commented on #926
@atomGit Tbh, the threat of a closed source os is more dangerous then closed source hardware.

[2019-05-17 21:29] Atavic commented on #935
^ That license agreement is for the site users.

The company is based and operated in Switzerland, is subject to the Swiss Code of Obligations. Datacenters are located in other EU countries.

[2019-05-17 21:40] atomGit commented on #926
i'm no authority on this stuff by any means, but i'm curious whether you'd say the same for smartphones (or any device with a cellular radio in it)?

the reason i ask is because it is my understanding that the base-band/radio firmware is a) proprietary (and there's only 2 companies making it primarily), b) full of security holes, c) has low-level access to various hardware (radio, sensors, mic, ca

[2019-05-17 21:49] blacklight447-ptio commented on #926
Thing is, is that we hardly hear about things like baseband expliots in the wild, they are certainly possible, but those are very, very rare. But attacks on your os however are a lot more common.

[2019-05-17 22:36] atomGit commented on #926
well, there's what we hear and what we don't hear - we know how highly the NSA regards our phones, as well as that they certainly aren't going to be the ones sharing their exploits which we can obviously surmise exist

and we also know (i believe) that the baseband is less secure than the user-facing OS - if there are less in-the-wild exploits directed at the baseband, i would guess that's because

[2019-05-17 23:07] Peter-Easton commented on #926
Baseband fears were definitely the big thing, but that was before ARM processors had widespread deployment of SMMU (System Memory Management Unit) which was drafted at the turn of last decade and was specifically designed to guard against the attack you've mentioned. Provided the driver is written sanely (I've been told that Google of all people, **Google** open source their device drivers, and ma

[2019-05-18 00:04] Peter-Easton commented on #926
Looks like your reply made it while I was still typing mine. I looked at your paper you had posted. It is pretty old at this point and discusses baseband attacks against the iPhone 4 and HTC Dream. The HTC Dream was released to market more that a decade ago by this point and the iPhone 4 follows closely behind.

Devices have changed significantly over the past ten years.

[2019-05-18 02:24] gjhklfdsa commented on #936
Not just that, it also gets all the benefits of being an FSF endorsed distro.
Its bounty program is largely backed by the large Free Software Foundation.
Since it is FSDG endorsed any backdoors or spyware but be removed promptly.

Plus, I think many users think that since an OS is Linux/GNU it is fully free'd.
Many users also seem to assume that then all the software repos and recommendation are t

[2019-05-18 02:26] gjhklfdsa commented on #935
@blacklight447-ptio Is something wrong with their privacy agreement?

[2019-05-18 02:33] gjhklfdsa commented on #932
@blacklight447-ptio Plus, it is more user friendly than many of the other distros.
Arch, Debian, OpenBSD, Whonix, e.c.t aren't really made for end users.

I will say that Trisquel is the exception. But, it still lacks in certain areas.
PureOS does add some important features especially with their mobile version on the way.

[2019-05-18 02:41] gjhklfdsa commented on #932
This is most likely off topic but, I've been looking into a lot of laptop suppliers.
There really aren't that many.

Name | OS | Coreboot/LibreBoot | Works without Non-free Drivers | RYF Certified
--- | --- | ---
Dell | Ubuntu + Windows | No | Not a Priority | No
System76 | PopOS + Ubuntu | WIP | Not a Priority | No
Technoethical | Trisquel | LibreBoot | Yes | Yes
Minifree | Trisquel | LibreBoot |

[2019-05-18 03:16] atomGit commented on #926
i appreciate your comments Peter and i started to feel a little warmer at first, but when i poke around on the interwebs i find more recent things that are very worrying

this article is from 2017 and is about research by the same guy that wrote the paper referenced earlier...

[Baseband Zero Day Exposes Millions of Mobile Phones to Attack | Threatpost](https://threatpost.com/baseband-zero-day-exp

[2019-05-18 05:21] tya99 commented on #746
It's not about making a "best" or "worst" list.

The more secure messengers are likely to come at the cost of certain features. This should purely be about a user being able to easily decide what is good enough for them.

That would not even come into it. PGP is not an instant messenger firstly, secondly for instant messaging it's actually not a very good option. The reason is because there is no

[2019-05-18 07:15] Mikaela commented on #936
How do fully free OSes handle CPU vulberabilities that are addressed by microcode updates? I am not sure whether `<amd|intel>-microcode` is in contrib or nonfree in Debian (as I won't boot laptop yet).

[2019-05-18 17:06] quantumpacket commented on #926
I use this tool on my Windows VM just to shutdown/disable unnecessary features to speed up the system. As for privacy well the software itself says it needs to be run after each update or boot as Windows will revert things. So far when you boot Windows re-enables automatic updates. That being the case and the fact both are closed source it's not really a proper solution for privacy.

[2019-05-18 17:46] Atavic commented on #216
Privacy Browser is an open source Android web browser focused on user privacy:
https://www.stoutner.com/

[2019-05-18 17:59] beerisgood commented on #216
@Atavic privacy browser is available in F-DROID.
Same for "FOSS browser" which I like more as second browser beside Fennec from F-DROID

[2019-05-18 18:52] gjhklfdsa commented on #929
@FrostKnight I meant, where did you see that LibertyBSD doesn't use or work with LibertySSL.

[2019-05-18 19:11] Atavic commented on #216
Yes, I didn't check... BTW there are too many issues opened, I think I'll list some by topic this weekend.

[2019-05-18 21:12] FrostKnight commented on #929
https://pub.allbsd.org/LibertyBSD/6.1/packages/amd64/

For example, search openssl and then search libressl. Tell me what you see. I see only openssl. ;)

[2019-05-18 21:49] five-c-d commented on #936
I also have questions about the update-cadence of gNewSense, and whether it is still active?  Is there a place showing how often security-patches are applied, to the current release?  Where is the roadmap for when the next gNewSense release will ship?

[2019-05-18 23:01] five-c-d commented on #932
Yes, pretty sure everybody in this thread has heard of Purism, and from what I know, PureOS is their rebranded OS project that runs on their hardware.  They just launched a rebranded thing called "Librem One" which is a mixture of Jitsi+RiotAndroid+MatrixSelfHosted + encryptedEmail + ActivityPub+Fediverse + "end2end" VPN (sigh... not sure if they still use PIA or something else now), which is tryi

[2019-05-18 23:04] five-c-d commented on #928
*Now* I can see [Member] aka team-flare  :-)

@blacklight447-ptio  if you think it is a  good idea, can you merge 886 with 928, or maybe 928 with 886, please?

[2019-05-19 07:48] blacklight447-ptio commented on #928
@five-c-d Well i want to , but they forgot to add me to the editorial team, so i gotta wait for that to be resolved.

[2019-05-19 10:23] Mikaela commented on #936
Somewhat un/relatedly we have [a supporting comment for Trisquel at the forum](https://forum.privacytools.io/t/what-linux-distro-do-you-all-use/80/55?u=mikaela).

[2019-05-19 14:49] Atavic opened #941 "Discussion | Labels to add to some issues:"
There are so many issues opened, so similar discussions can
get some *labels*:

*Firefox*
https://github.com/privacytoolsIO/privacytools.io/issues/121
https://github.com/privacytoolsIO/privacytools.io/issues/339
https://github.com/privacytoolsIO/privacytools.io/issues/341
https://github.com/privacytoolsIO/privacytools.io/issues/525
https://github.com/privacytoolsIO/privacytools.io/issues/310
https

[2019-05-19 14:59] Atavic commented on #941
More on *Firefox* settings, about:config etc.

https://github.com/privacytoolsIO/privacytools.io/issues/917
https://github.com/privacytoolsIO/privacytools.io/issues/878
https://github.com/privacytoolsIO/privacytools.io/issues/860
https://github.com/privacytoolsIO/privacytools.io/issues/815
https://github.com/privacytoolsIO/privacytools.io/issues/785

[2019-05-19 14:59] Atavic commented on #941
*VPN*
https://github.com/privacytoolsIO/privacytools.io/issues/664
https://github.com/privacytoolsIO/privacytools.io/issues/521
https://github.com/privacytoolsIO/privacytools.io/issues/559
https://github.com/privacytoolsIO/privacytools.io/issues/480
https://github.com/privacytoolsIO/privacytools.io/issues/460
https://github.com/privacytoolsIO/privacytools.io/issues/886
https://github.com/privacyto

[2019-05-19 15:00] Atavic commented on #941
*XMPP*
https://github.com/privacytoolsIO/privacytools.io/issues/60
https://github.com/privacytoolsIO/privacytools.io/issues/141

[2019-05-20 07:15] GETandSELECT commented on #300
development of Tomato derivates was long time not active. Now FreshTomato (new derivate) release regularly new builds. See http://freshtomato.org

I personally like very much Tomato based Firmware, but I an not an expert.

[2019-05-20 09:11] blacklight447-ptio commented on #928
I would just close this issue. This is because there has no has been no real solid evidence provided to start distrusting protonmail or Protonvpn. And it seems most claims originated from a smear campaign by PIA.

[2019-05-20 11:36] Mikaela commented on #941
Thank you for the suggestion and especially grouping those issues. I suggested this once in the team room and didn't get feedback and I didn't have the energy to start going through the issues.

[2019-05-20 11:39] Mikaela commented on #843
https://github.com/privacytoolsIO/privacytools.io/issues?q=label%3AGhost+is%3Aclosed :smiling_imp:

[2019-05-20 21:17] Atavic commented on #941
For me the problem arises from the many opened issues.

[2019-05-20 22:59] #917 closed

[2019-05-20 23:10] #928 closed

[2019-05-21 02:18] sorenstoutner commented on #216
I am the developer of Privacy Browser.  I can answer any questions you might have about it.

[2019-05-21 04:00] JonahAragon commented on #914
If somebody here is able to create a Pull Request with these changes I think we can merge them in.

[2019-05-21 19:53] Atavic commented on #216
:+1: I just find it *perfect* and is running on phone and tablet (that won't accept icecat or fennec installs for unknown reasons).

[2019-05-22 12:36] StopTrackingUs commented on #899
Have you considered becoming an autonomus arm of another user liberation/privacy non-profit?  It would save 100% of lawyer fees and your donations would be covered back to the date the non-profit originally got their status.

[2019-05-22 14:21] five-c-d commented on #899
No need to become an autonomous arm of some organization, privacyToolsIO can reap 90% of the tax benefits with a one-paragraph contractual arrangement -- just, make a deal with some existing privacy-organization, to accept earmarked donations on behalf of privacyToolsIO, using **their** 501c4 or 501c3 or UkCharity or BelgiumNGO or whatever legal status, and their payment processor, and their banki

[2019-05-22 18:34] StopTrackingUs commented on #899
We are not a big name in the industry, but we do have 501c3 status so if any of the big names turn the project down we would be open to assist.  Is there a reason why privacytools does not run it's own servers or are server cost related to co-location?

[2019-05-22 22:32] danarel commented on #932
instability...

[2019-05-23 08:15] abuisman commented on #121
What I am missing in all lists are the performance implications of add-ons. Privacy badger, for example, adds, at least on my machine, a significant amount of time to page loads (think ~1s). This is in combination with uBlock Origin.

I'll try to see if I can get some dependable performance metrics sometime soon.

[2019-05-23 11:15] Mikaela commented on #899
Do Non-Profits exist in other countries or would applying for it make sense outside of the USA?

In Finland an association would be relatively simple to begin, but collecting donations is not. [Federated Networks Association](https://feneas.org) is [thinking about how to do it](https://git.feneas.org/feneas/association/issues/55).

It might also be worth to take a look at [the other Librehosters a

[2019-05-23 11:29] five-c-d commented on #899
Yes, there are UK-based charities like Privacy International, and for instance [EDRi](https://en.wikipedia.org/wiki/European_Digital_Rights#Members) member-groups -- as well as NYOB methinks -- are various kinds of EU-based not-for-profit entities.

If you are becoming your **own** tax-entity, then choice of jurisdiction really matters.  If you are negotiating an earmark-deal with existing ones, t

[2019-05-23 11:32] beerisgood commented on #121
@abuisman try without privacy badger ;)

[2019-05-23 14:56] blacklight447-ptio commented on #899
Maybe we could make use of this?
https://github.blog/2019-05-23-announcing-github-sponsors-a-new-way-to-contribute-to-open-source/

[2019-05-23 17:27] JonahAragon commented on #899
@StopTrackingUs define "own servers", we run all our infrastructure on _dedicated_ servers from OVH. Who are you affiliated with? Feel free to send me an email: `jonah@privacytools.io`.

@blacklight447-ptio cool, joined the waitlist. I'm also going to investigate `FUNDING.yml` for this repo...

[2019-05-23 17:37] Zig-03 opened #945 "Host a PeerTube instance (video.privacytools.io perhaps?)"
Just like you are hosting a Mastodon instance at [social.privacytools.io](social.privacytools.io) I'm suggesting to host a PeerTube instance for everyone to upload videos on. In case you are limited in terms of storage, you could set a low quota on user upload size.

[2019-05-23 17:56] JonahAragon commented on #945
This is the main concern, although I'm also not super keen on hosting content in general because moderating a platform for copyrighted content is time-consuming and we need to focus on other things, especially since we don't quite cover all expenses with donations. Maybe if we were making a comfortable level of monthly donations we could add bigger services like this.

I would also very much like

[2019-05-23 18:01] JonahAragon commented on #899
I'm looking into [Open Collective](https://opencollective.com/) and it looks like taking donations through there and tracking expenses would be pretty beneficial for us. We'd still have to partner with a (preferably non profit) organization to manage finances but the site facilitates that kind of thing apparently.

[2019-05-23 18:44] Zig-03 commented on #945
I believe this should make the moderator's life so much easier https://github.com/Chocobozzz/PeerTube/issues/138 + someone from the community could volunteer to moderate it for you.

[2019-05-24 06:07] abuisman commented on #121
@beerisgood that is what I did, how else do you think I found out about the difference? ;)

For now, I am using firefox’s built in ad blocking and new protections against crypto mining and I block all third party cookies. That last thing is what I used privacy badger most for anyway

[2019-05-24 06:18] beerisgood commented on #121
Remember that the internal feature (disconnect list) only block few ads. You should use uBlock Origin instead.
Even the gHacks.js team recommend that way

[2019-05-24 10:06] five-c-d commented on #899
I have seen one of the projects that is housed on OpenCollective, it has good transparency when it comes to expenditures -- possibly a little TOO good for a privacy-oriented website run by privacy-oriented people  :-)   https://opencollective.com/wikijs#budget  But it is pretty cool if you are okay with what level of detail it reveals

[2019-05-24 19:50] Atavic commented on #121
Also the internal disconnect list has whitelists (connections that will be always allowed).

[2019-05-24 20:22] Atavic commented on #924
It's an evolved I2P for me. Seems related to #685 but not to #798 IMHO

[2019-05-25 15:43] abuisman commented on #121
@beerisgood and @atavic I meant instead of privacy badger. I also have ublock origin running with blocks for all third-party requests by default. I then allow them 1-by-1 to make websites work

[2019-05-26 11:03] bissembert1618 opened #947 "✨ Feature Suggestion | Add Grin and Beam coins"
## Description:
Please add as donation method the following coins:
- Grin
- Beam

[2019-05-26 11:29] Perelandra0x309 opened #948 "💬 Discussion | Instant Messaging page"
Hello all,
I would recommend the IM page be updated with information and recommendations of some apps and I wanted to open a discussion about it before posting a pull request.  There are some great security focused messengers that deserve some mention.

In looking at the 3 websites referenced (full disclosure- I run the securechatguide.org website) There are some apps that all websites agree provi

[2019-05-26 12:58] Mikaela commented on #948
I would prefer seeing a draft pull request so the changes would be more obvious and easier to comment upon than a screenshot.

What are these abbreviations?

I am moving my family to Wire before removing my WhatsApp account and I agree on it, but I am under impression that Wickr and Threema aren't open source and wouldn't recommend them.

We have an issue about Keybase at https://github.com/privac

[2019-05-26 13:00] Mikaela opened #949 "🌐 Website Issue | Wire has misleading warning, contacts are not stored in plaintext, chat participants are"
I read WhatsApp and Wire privacy policies earlier today and I think Wire said that they hash contacts.

I am opening this as a note to self or if someone else takes a look at the linked article and compares this.

[2019-05-26 13:16] Mikaela commented on #763
In case someone comes to this issue, we have a Gitea instance where the project is currently mirrored.

* https://git.privacytools.io/privacytoolsIO/

[2019-05-26 13:23] Mikaela commented on #949
I think our warning is misleading or misunderstood from the actual problem.

* https://www.vice.com/en_us/article/gvzw5x/secure-messaging-app-wire-stores-everyone-youve-ever-contacted-in-plain-text

So Wire knows between whom chats are happening, not the actual contacts as their privacy policy says:

* https://wire.com/en/legal/#privacy

I will leave this open until this is resolved or I can find

[2019-05-26 17:06] Perelandra0x309 commented on #948
Certainly

TP = thinkprivacy.io, SMA = securemessagingapps.com, SCG = securechatguide.org

They are partially open source- the encryption/messaging protocols are open. Audits have been done.

Sounds like libBletchley doesn't recommend any app which isn't perfect.

Briar is Android only, perhaps that disqualifies it.  But it is secure in that if used as intended you must physically meet with a pers

[2019-05-26 17:42] blacklight447-ptio commented on #948
About briar, remote contacts is a feature that should be done in a few months. Also a think desktop app is already in the works. The lack of an Ios app is because of a limitation of ios as an operating system the briar requires.

[2019-05-27 03:15] gjhklfdsa commented on #936
@Mikaela I would assume "CPU vulberabilities" are fixed the same way as in other major OSes like GUIX and Trisquel.

[2019-05-27 03:20] #949 closed

[2019-05-27 03:26] gjhklfdsa commented on #936
I'm not certain where to find information about security patches.
However, here is the next release notes: https://www.gnewsense.org/ReleaseNotes/Next

[2019-05-27 07:05] blacklight447-ptio commented on #936
@gjhklfdsa the thing is, the full fixes require closed source micro code, so supposedly it either doesnt have those fixes and is vurnable against those expliots, or its has them, but is not "fully" free.

[2019-05-27 14:06] filips123 opened #952 "✨ Feature Suggestion | Host ZeroNet proxy instance"
[ZeroNet](https://zeronet.io/) is "Open, free and uncensorable websites, using Bitcoin cryptography and BitTorrent network". You could run open ZeroNet proxy on privacytools website.

Also, add ZeroNet as a suggestion on your site.

[2019-05-27 20:20] ghbjklhv commented on #936
@blacklight447-ptio In that case, I believe we can presume the GNU foundation wouldn't support such a thing.

But, this isn't doesn't appear to be a factor in recommending software.
Otherwise OSes like Trisquel wouldn't be a suggestion.

Plus, many Debian users delete the `contrib` and `non-free` repos.

[2019-05-27 22:29] ghbjklhv commented on #633
@JonahAragon Beta has never really been a reason to remove software on privacytools.io

Just look at Brave or Riot or even TorBirdy.  These are all considered beta but also heavily recommended in the privacy community.

[2019-05-28 05:24] infinitewaveparticle commented on #763
Every time someone complains about something privacytools is doing the debate always leads to the same question: Should PTIO be a niche community of privacy hawks or should it aim to educate the greatest amount of people? Burying PTIO on an obscure self-hosted instance will undoubtedly mean only people searching for privacy tools will find it, while using platforms such as github and Twitter means

[2019-05-28 05:26] infinitewaveparticle commented on #763
*only people who already know a good bit about privacy will find it*

Grow the community or make it exclusive? That is the question. I say grow as much a possible and add the disclaimer.

[2019-05-28 05:31] infinitewaveparticle commented on #763
@five-c-d I would love to see a privacy-respecting business section of PTIO

[2019-05-28 05:34] infinitewaveparticle commented on #917
Or you can just use AdGuard or Blokada or Netguard and block every google (and every other ad, tracking, telemetry, analytics, etc) server at the dns level.

[2019-05-28 05:35] infinitewaveparticle commented on #917
AdGuard also modifies cookies and spoofs your IP - and you can connect to a VPN via proxy.

[2019-05-28 05:38] infinitewaveparticle commented on #917
https://github.com/AdguardTeam/StealthMode

[2019-05-28 10:01] blacklight447-ptio commented on #633
Yeah, people often forget that beta does not mean insecure, just that is has not yet reached its target goal. it can be perfectly secure when its beta software, however, as Jonah pointed out, the developers themselves state that you should rely on it yet, so i am unsure if we want to recommend it. A worth mentioning might be okay though, with a warning.

[2019-05-28 10:05] blacklight447-ptio commented on #952
While I don't want to bash on cryptocurrency s, a network involving them often set off alarms in my head. Could you explain what Zeronet would over over Tor? and what do those .bit addresses add over v3 .onion services? To get the conversation started :).

[2019-05-28 10:08] blacklight447-ptio commented on #947
Could you make a case for these coins as why they should be added?

[2019-05-28 10:10] blacklight447-ptio commented on #936
Then i would like to ask you if you could research wheter Gnewsense pushes micro code update to fix the cpu exploits, and if they do, what else they try to fix the issue.

[2019-05-28 11:15] blacklight447-ptio commented on #929
As this is a fork, Would anyone be able to tell whether libertybsd gets their updates at the same time as openbsd? or is there any delay?

[2019-05-28 11:38] dawidpotocki commented on #929
LibertyBSD from what I see is now on 6.1 (April 11, 2017) while OpenBSD is on 6.5 (May 1, 2019) release. Also their git links on the page are giving 404.

[2019-05-28 12:43] filips123 commented on #952
It doesn't use cryptocurrencies. It only uses Bitcoin's cryptography and BitTorrent network.

The main advantage over classic onion sites is that sites are distrubited and hosted by visitors.
They can also be interactive and with dynamic content. You can see slides about this on [Google Docs presentation](https://docs.google.com/presentation/d/1_2qK1IuOKJ51pgBvllZ9Yu7Au2l551t3XBgyTSvilew/pub?start

[2019-05-29 00:47] gjhklfdsa commented on #936
@blacklight447-ptio I'll try asking through the email list and forums.

I would assume, as @ghbjklhv pointed out non-free code is prohibited.
Therefore, of course they wouldn't include any non-free micro-code.

IMO, this is really more of a feature. I don't want my OS to do anything that I may not want it to.
If you want, you should be able to install the fixes yourself. :)

[2019-05-29 06:47] blacklight447-ptio commented on #936
Probbaly, but most users are not aware of it, and the patches are quite important, so if they are not included, then it should atleast come with a major warning.

[2019-05-29 20:10] gjhklfdsa commented on #936
@blacklight447-ptio I'm just basing my response on precendent.

Neither Trisquel or Parabola have a "major warning".

Also, the software suggestion is more about listing gNewSense as a free'd alternative to Debian.

The whole point is that it only includes free software, this is similar to how Parabola is listed as a free'd version of Arch.

[2019-05-29 20:17] gjhklfdsa commented on #952
I think you are assume ZeroNet is like TOR when it is more like an easier-to-use and more adopted alternative to FreeNet.

It is based on BitTorrent with many privacy hardening features.
NameCoin is used for the domains management.

I personally, only use ZeroNet over .onion trackers which is very easy to set up:

Allegedly, they will have full i2p support soon as well. :)

[2019-05-29 20:21] KonoromiHimaries opened #954 "🆕 Software Suggestion | Redox"
## Basic Information

**Name:** Redox
**Category:** Operating System
**URL:** https://gitlab.redox-os.org/redox-os/redox

## Description

![](https://gitlab.redox-os.org/redox-os/assets/raw/master/screenshots/redox%20running.jpeg)

[2019-05-29 20:23] gjhklfdsa commented on #952
I'm not fully certain what your point is, but [ZeroNet](https://www.wikipedia.org/wiki/ZeroNet) uses NameCoin for making domains more human-friendly.

NameCoin is actually fairly well adopted in the clear-net.

[2019-05-29 20:33] gjhklfdsa commented on #954
I gotta say, Redox is so far doing a great job in security.

One being that they use a micro kernel over a monolithic.
Any security expert will tell you abut the security advantages of a micro kernel.

Plus, they are free software. Although, this might change later on and start using non-free firmware.

[2019-05-29 20:34] gjhklfdsa commented on #954
Wouldn't recommend adding to main since it is still highly experimental but, I think it would make a great addition to worth mentioning.

[2019-05-29 20:39] gjhklfdsa opened #955 "🌐 Website Issue | Revert to WTFPL"
**Feature**: Revert license to [WTFPL](https://www.wikipedia.org/wiki/WTFPL).
Nothing was wrong with [WTFPL](https://www.wikipedia.org/wiki/WTFPL), why was it changed?

[2019-05-29 20:50] asddsaz opened #956 "🌐 Website Issue | Switch to Zlib License"
**Feature**: Switch to the Zlib license
I realize, we recently switched from the WTFPL.

I wanted to recommend another license over CC0 which isvery long.
The Zlib license, a WTFPL equivalence non-offensive license:
If you don't know what it is, take 30 seconds to read it:

[2019-05-29 20:51] #956 closed

[2019-05-29 20:54] asddsaz opened #957 "🌐 Website Issue | Utilize the Unlicense"
**Feature**: Switch to the Unlicense license
**More Info**: https://www.wikipedia.org/wiki/Unlicense#License_terms
I realize, we recently switched from the WTFPL.

I wanted to recommend another license over CC0 which can be fairly long.
The unlicense license, a WTFPL equivalence non-offensive license:
If you don't know what it is, take 30 seconds to read it:

[2019-05-29 20:58] asddsaz commented on #957
As I understand it, WTFPL has no restrictions. Therefore, you can easily change the license.

[2019-05-30 16:30] Mikaela commented on #740
Keybase has found its way to my i3 config and is one of the three chat apps I support enough to autostart (after deleting Facebook Messenger and Facebook WhatsApp, I like how it stays in the tray and there are nice people in their teams, so I guess I should raise this thread and try to comment (even if it's a bit weird with the other party being a :ghost:, but I hope others may have insight).

Doe

[2019-05-30 16:54] Mikaela commented on #955
Quoting @JonahAragon from https://github.com/privacytoolsIO/privacytools.io/pull/940

@Shifterovich from #919:

Wikipedia:

* https://en.wikipedia.org/wiki/Unlicense#Reception

[2019-05-30 16:54] #955 closed

[2019-05-30 16:55] Mikaela commented on #957
I am going to treat this as a duplicate of #955 as my response https://github.com/privacytoolsIO/privacytools.io/issues/955#issuecomment-497401537 applies here too.

[2019-05-30 16:55] #957 closed

[2019-05-30 16:56] Mikaela commented on #936
I don't know when they were added, but I guess microcode may not have been very timely issue at that time, while I was now thinking of it, because it hasn't been that long time since zombieload. I think a major warning should be added for them too if they don't handle this well.

[2019-05-30 17:11] Mikaela commented on #947
I would refer to https://github.com/privacytoolsIO/privacytools.io/issues/798 as a reason why they shouldn't be added until otherwise proven.

[2019-05-30 17:13] Mikaela opened #958 "README is outdated"
* [ ] wrong license
* [ ] points to Reddit instead of the forum

[2019-05-30 17:24] Mikaela commented on #763
I think @BurungHantu1605 wrote about this somewhere and the goal is something that can be shown and be understood by anyone.

[2019-05-30 17:59] victorhck commented on #958
fits the PR #959 for that?

[2019-05-31 01:42] gjhklfdsa commented on #912
@atomGit https://yacy.net/en/Searchportal.html

[2019-05-31 02:16] asddsaz commented on #956
@Mikaela You are just quoting others responses.

[2019-05-31 02:19] asddsaz commented on #957
@Mikaela You are just quoting others responses.

But, anyway here is my response:

Shitty or just offensive because it says f*ck?

Releasing our work into the public domain seems like the correct path. WTFPL currently grants users an unlimited license to use our work, which is maybe fine, but CC0 actually revokes all copyright wherever possible, and falls back to an unlimited license where that's

[2019-05-31 02:20] asddsaz commented on #957
@Mikaela That issue is about WTFPL no Unlicense.

It it possible for this issue to be reopened?

[2019-05-31 16:41] Meteor0id opened #961 "🆕 Software Suggestion | How does webbrowser Bromite compare to Firefox and Brave?"
## Basic Information

**Name:** Bromite
**Category:** Webbrowser
**URL:** https://www.bromite.org/

## Description
Bromite claims to be aimed at privacy. It has an Android version as well.

[2019-05-31 17:04] Meteor0id commented on #848
I find this question of "who is behind privacytools.io" a very valid issue to address. Which experts are part of the decision making? How reliable is the advise of privacytools.io? Can we check that there is no influence of any app maker or hosting company to bribe their way onto the list?

Reading @Mikaela 's top comment, I am glad she opened this issue. But from her description it becomes she is

[2019-05-31 17:24] blacklight447-ptio commented on #848
@Meteor0id This is easier said then done though. First you have to esthablish if bringing in "experts" can actully guarantee anything at all, as ive seen people be described as "experts" while in reality they are total idiots( like paval durov for example) and i have seen anonymous people make and do amazing things. Also we don't want people who wish to anonymous to become unable to help the team

[2019-05-31 17:48] KonoromiHimaries opened #962 "🆕 Software Suggestion | Wexond"
## Basic Information

**Name:** Wexond
**Category:** browser
**URL:** https://github.com/wexond/wexond

## Description

Wexond is an extensible and privacy-focused web browser with a totally different user experience, built on top of Electron, TypeScript, React and styled-components. It aims to be fast, private, beautiful, extensible and functional.

![](https://camo.githubusercontent.com/1dabe8bc

[2019-05-31 18:14] Meteor0id commented on #848
With experts I mean people who have done research in the field of privacy, and who would lose their reputation and who would think twice because they have something to lose when some company offers a bribe to get them listed on privacytools.io.
People who's reputation is enhanced by running privacytools.io and who wouldn't even think about spreading lies about software.

[2019-05-31 18:21] blacklight447-ptio commented on #848
And thats the point where we discuss everything in the open where everyone is able to join the research and discussion. I happily encourage experts in the field to join the team, but i don't want people who have opted not to become a public figuire to become unable to join our forces. Privacy is about choice, if we force all people to have a public esthablised identity, we take away choice, and wi

[2019-05-31 18:43] Meteor0id commented on #848
That is a misunderstanding of what privacy is.

If you choose to give out public advise to others what tools they might want to use, than you should be publicly accountable for that advise.

Privacy is about shielding other aspects of your life which do not relate to the thing you are publicly doing.

It is not possible to give public advise while staying anonymous yourself. There would be no way

[2019-05-31 18:50] blacklight447-ptio commented on #848
@Meteor0id It is very much possible to give advice without being having estheblished identity, also i think you look at our way of advicing the wrong way.

We don't want people to listen to us because this or that guy from x project or has x degree happens to be on our team. We want people to listen to our advice by logic. We everything we do is public and transparent, and we do this because not o

[2019-05-31 18:56] five-c-d commented on #848
This is actually on the drawing-board, albeit at a very early stage, see #899 ... the first step is to find a group that exists, which is willing to act as a proxy entity to accept earmarked donation-monies.  In the long run, though, might become a separate entity, sure

This is the misunderstanding of the internet  :-)   And also, I notice somebody named "meter0id" giving out privacy-advice, quit

[2019-05-31 19:04] Meteor0id commented on #848
@blacklight447-ptio  I completely agree with that approach.

But who decides the conclusion on these open transparant discussions? Who decides if a github issue leads to change or is discarded? Who gets to label and prioritise?

Maybe not experts, but certainly there should be some accountability in place who gets trusted with those powers. It could be some voting system, but that is highly comple

[2019-05-31 19:15] five-c-d commented on #848
The people on the about-page (To Be Done), some of whom are named and have recognizable emails and employment-affiliations and such, some of whom are almost 100% anonymous.

Participants here on github.  If a change is stalled, leave a comment.  If an issue was closed and needs re-opening, then leave a comment saying why.

There is:  the list itself.  If the advice is bad advice, it will mess up t

[2019-05-31 20:30] JonahAragon commented on #848
tl;dr: forcing the people to run a privacy website to reveal their names and information publicly doesn't make sense.

---

https://github.com/orgs/privacytoolsIO/people

Yes, discussions take place on this GitHub repository in public, and pull requests are approved by team members, typically more than one of them.

I invited her with @BurungHantu1605's approval as a result of her activity in this

[2019-05-31 20:56] atomGit commented on #848
accountable how?

where privacy enters and exits i think is up to the individual

there is if they're promoting sketchy software or lying - and i'm not seeing how identifying ones self or having a title prevents that

it seems that you're wanting to give PTIO more credibility, and i get that, but i mostly disagree with your reasoning

it is obviously and ultimately always up to the reader to decid

[2019-05-31 21:03] five-c-d commented on #848
There might be some, actually.  You might try emailing folks that are famous for one thing or another, and see if they would like a page where they recommend *their* favorite tools, and/or critique the privacyToolsIO recommendations.

<details><summary>feature request:  Guest Blogger Of The Month?</summary><p>

This could be folks in academia, that want to get more visibility for their name ... ww

[2019-05-31 21:22] Mikaela commented on #848
I am having a bit busy time and I haven't read even my Github emails entirely (sorry if someone is awaiting especially me), but I would like to add to the previous comment:

* https://mikaela.info/#im and https://mikaela.info/browser-extensions (heavy eternal WIP, see mikaela.github.io issue tracker) and maybe some other pages may answer your curiosity on which tools I would recommend at least par

[2019-05-31 21:59] Shifterovich commented on #955
To elaborate on my comment about it being a shitty license, in #919 we found that it doesn't include a warranty claim unlike actually reasonable licenses like MIT.

[2019-05-31 22:08] Meteor0id commented on #848
That's because normally, if you want to know who is behind something, you request the company register, where the names and some contact information of the current director or the board are listed. That is how you unusually check out an organization and find out who are affiliated with it. If there is no registered organization behind a website, there is no way to do that. The only registration th

[2019-05-31 22:32] five-c-d commented on #948
Lots of good improvements here.  I disagree with some of the suggestions:

1.  just because a project-team SAYS they are 'beta' does not actually mean they really are.  Riot is far more mature of a codebase than most of the other items listed.  They should not be dropped to the bottom of the section, on the basis of the beta-label, it should be on the basis of whether **privacyToolsIO** folks beli

[2019-05-31 22:46] atomGit commented on #848
that sentence can be finished another way; by appointing a director you create a singular overseer instead of community oversight

that reasoning has failed so miserably and so completely in virtually every mainstream institution that i can think of - once you create a positions of power, you create single points of control which those self-serving people who want to control the org will find very

[2019-05-31 23:46] nchristensen commented on #920
[BiglyBT](https://github.com/BiglySoftware/BiglyBT/wiki/I2P) (A fork of [Vuze](https://en.wikipedia.org/wiki/Vuze)) support I2P with a plugin. I believe the I2P console also provides a Bittorrent client.

[2019-05-31 23:46] JonahAragon commented on #848
This would be awesome actually IMO, although I'm not sure who'd be interested. You mentioned a few, and maybe I could reach out to them... Think it should be limited to people related to the tools we recommend? I think guest-blogging might be a hard sell to most, they're very busy people :/

[2019-06-01 00:05] Perelandra0x309 commented on #948
five-c-d,
Thanks for your thorough and thoughtful reply.  I would like to comment on your points, but perhaps before getting too far into details of specific apps, it is a good idea to discuss how many apps in each section to limit selections to, and what sections there should be.  Then with a finite number of slots available we can fit in the best options.

I think part of the difficulty is the d

[2019-06-01 00:39] five-c-d commented on #848
There is a page for that already  :-) &nbsp;&nbsp; www.privacyTools.io ...which says right at the top...

*  You are being watched.
*  Private and state-sponsored organizations
*  are monitoring and recording your online activities.
*  privacytools.io provides services, tools and knowledge
*  to protect your privacy against global mass surveillance

The mission it to beat global mass surveillance.

[2019-06-01 00:40] five-c-d commented on #848
Well, if you are hoping that Bruce Schneier and Edward Snowden will drop everything and start guest-blogging for you, then yes, you are probably gonna be disappointed.  But I don't think that is outside the realm of the possible, either!  My suggestion is that you put together a simple email, and then send it out to one person a day.  Start at the top with Snowden, because if he says "yes" then th

[2019-06-01 01:13] JonahAragon commented on #848
If we want to get technical I guess, *I* actually handle most of the money now. I think BurungHantu found it difficult to remain anonymous and operate accounts like Stripe 😛

Yeah, this is definitely something I'll look into.

Well, I don't remember if I mentioned this on GitHub but the phone I got was a Verizon phone so I can't unlock the bootloader. Also I forgot about it, so I still haven't ret

[2019-06-01 01:27] five-c-d commented on #848
No more excuses, I demand results!  :-)

And please look into purchasing a secret lair, if BurungHantu is nice you can let them visit every once in awhile ;-)

What are the chances of this becoming a privacyToolsIO service, where anonymous bloggers that want to accept earmarked donations, can apply to privacyToolsIO for their own iframe'd payment-processing subdomain?  I'm thinking e.g. political

[2019-06-01 04:43] Perelandra0x309 commented on #948
1- The key management in group chats isn't finished yet, and I wouldn't say it's ready for normal users.  It is quite a process to verify every device, practically impossible I would say in large groups.  You also need to be aware that bridges to other messaging systems like IRC is not encrypted at all.  For a normal user it is too easy to make a mistake and not realize which room are or are not e

[2019-06-01 11:15] KonoromiHimaries opened #964 "🆕 Software Suggestion | Kiwi Browser"
## Basic Information

**Name:** Kiwi Browser
**Category:** browser
**URL:** https://github.com/kiwibrowser/android

## Description

still support `extensions` to protecting privacy
https://www.privacytools.io/browsers/#addons
https://github.com/NanoAdblocker/NanoCore/issues/238#issuecomment-497933410

[2019-06-01 11:42] erciccione commented on #932
@blacklight447-ptio Could you expand on why you don't consider them trustworthy?

[2019-06-01 17:08] JonahAragon commented on #848
let me just drop this right here https://www.privacytools.io/donate/

This sounds like a nightmare. Presumably we'd need to collect information from Alice for the legal reasons you mentioned, and then it's no different from any other payment processor.

[2019-06-01 17:25] JonahAragon commented on #957
https://github.com/privacytoolsIO/privacytools.io/issues/955#issuecomment-497873261

@Mikaela also addressed the issues with the Unlicense in the comment she linked as well.

- https://en.wikipedia.org/wiki/Unlicense#Reception [emphasis mine]

[2019-06-01 17:29] JonahAragon commented on #957
In any case, the CC0 is not very long (IMO), is very thorough, and is virtually universally understood within the community. You don't need to be intimately familiar with the license text to understand that work licensed under the CC0 license is in the public domain for all intents and purposes.

[2019-06-01 17:41] JonahAragon commented on #964
Unclear to me how this is better than even Chrome... Source hasn't been updated since January :/

[2019-06-01 18:15] five-c-d commented on #848
Yes, it would be a nightmare.  But whether you, as in, Jonah Aragon, would need to collect that info, would strongly depend on whether ***you*** were processing the payments.

<details><summary>think like a VPN or webmail provider, except, with no-logs payouts? </summary><p>

Just like a lot of privacy-respecting VPNs and webmail providers are pretty careful about picking their legal jurisdiction,

[2019-06-01 20:32] JonahAragon commented on #848
The goal is either to foster a larger community among the people here/visiting the site ([forum](https://forum.privacytools.io/), [chat](https://chat.privacytools.io/), [write](https://write.privacytools.io/read), [social](https://social.privacytools.io/)), support federated technologies (matrix, activitypub, tor, ipfs), or in some cases just to create centralized services that I [personally] trus

[2019-06-02 00:26] JonahAragon opened #966 "💬 Discussion | [Hypothetical] Affiliate Links"
I just wanted to get all your opinions on the ***hypothetical*** possibility of using affiliate/referral links to the tools/services we recommend when applicable. For example, Brave is [giving away](https://brave.com/refer/) $5/referral until the end of this year. Because of our recommendation of Brave's browser currently, we're sending hundreds of users to their site every month. Presumably that'

[2019-06-02 01:41] BurungHantu1605 commented on #966
Another benefit of more income from affiliate: We could fund small privacy open source software / service projects in form of donations, too.

[2019-06-02 01:53] l0phty1 commented on #966
Would you stop trusting privacytools.io if this were to happen?  No
Do you mistrust recommendations tied to an affiliate link in general? sometimes/depends.

What kind of proper disclosure if any should be implemented if we did this?

my thoughts... there are pros and cons to referral/affiliate linking (that lingering unasked question) and really all three of your questions fall into an answer to

[2019-06-02 06:42] blacklight447-ptio commented on #966
I wouldnt advise this. Stuff like this can very easily start rumors and drama in the community about us selling out and what not, I say take the save route and keep our hands away from the dirt.

[2019-06-02 06:45] blacklight447-ptio commented on #962
I have never heard of this browser, and it seems to be nothing more then yet another chromium fork. Appart from the fact that it claims to be private, why would we want to add this.

[2019-06-02 06:46] blacklight447-ptio commented on #964
Yeah, unless @konoromi can provide a strong case for inclusion into privacytools.io, I would close the issue.

[2019-06-02 06:50] blacklight447-ptio commented on #954
Also, while redox is nice, it really is not meant to be used as an actule os yet.

[2019-06-02 06:55] blacklight447-ptio commented on #924
As the initiator of the issue seems to be unresponsive and provides no real case to add loki, ill close this issue. If anyone disagrees, they can comment to ask for it to open up again.

[2019-06-02 06:56] #924 closed

[2019-06-02 06:57] blacklight447-ptio commented on #929
My vote goes to adding it as worth mentioning for software freedom purists.

[2019-06-02 06:59] blacklight447-ptio commented on #886
Closing because its seemingly  a duplicate, you can comment if you want it to open again.

[2019-06-02 06:59] #886 closed

[2019-06-02 07:00] blacklight447-ptio commented on #947
@bissembert1618 I would like to to make a case for these coins and explain why they should be added. If you don't in two days, I will close the issue.

[2019-06-02 07:01] blacklight447-ptio commented on #867
As the original post and poster is gone, is this issue to be closed, or will we continue without him? @jonah

[2019-06-02 07:03] blacklight447-ptio commented on #961
@meteor0id would you like to start off the discussion by making a compelling case to include bromite into privacytools.io? :)

[2019-06-02 07:06] blacklight447-ptio commented on #767
As  the orignal poster seems to be gone, and no discussion has taken place for a few months, I am now closing this issue. If anyone is willing to take it up and make a case for mailcow, they will be free to comment here, and I will reopen the issue.

[2019-06-02 07:06] #767 closed

[2019-06-02 07:12] blacklight447-ptio commented on #778
So far I see no real case to make add smart https or httpz to privacytools.io, or let them replace https everywhere. Anyone okay with me closing this issue

[2019-06-02 07:12] blacklight447-ptio commented on #765
@white-clouds any updates? Can I close this issue yet?

[2019-06-02 07:15] blacklight447-ptio commented on #736
I see no compelling arguments to add tox to privacytools.io here. As we try to stay conservative about how many things we recommend to prevent the site for getting cluttered, I dont see why tox would be  worth adding next to the messengers in its current state, so i will be closing this issue, if anyone disagrees, then they can comment to reopen the issue, and make a case for tox inclusion into pr

[2019-06-02 07:16] #736 closed

[2019-06-02 07:51] tya99 commented on #914
Perhaps this should link to a reason as to why, like [Should I use a VPN with Tor? Tor over VPN, or VPN over Tor?](https://old.reddit.com/r/TOR/wiki/index#wiki_should_i_use_a_vpn_with_tor.3F_tor_over_vpn.2C_or_vpn_over_tor.3F).

[2019-06-02 07:57] blacklight447-ptio commented on #914
Why link to reddit when our community provided contant would do :p
https://write.privacytools.io/my-thoughts-on-security/slicing-onions-part-2-onion-recipes-vpn-not-required

[2019-06-02 08:52] Mikaela commented on #778
I am okay and can close it.

[2019-06-02 08:52] #778 closed

[2019-06-02 08:53] Mikaela commented on #867
I think if someone wants to see this, they will open a new issue.

[2019-06-02 08:53] #867 closed

[2019-06-02 08:58] Mikaela commented on #948
Could we focus the discussion on #951 for simplicity unless it gets closed?

[2019-06-02 09:11] KonoromiHimaries commented on #964
https://www.privacytools.io/browsers/#browser
brave for android dosen't support extension to protect privacy
firefox for android, rumor circulates that just as chrome stops supporting ublock origin in a some time

is there any other alternative for ublock origin in android? no, adblock does not provide sufficient protection.

[2019-06-02 09:12] blacklight447-ptio commented on #964
Well brave blocks ads by its own so doesnt need ublock realistically.

[2019-06-02 09:20] KonoromiHimaries commented on #964
adblock dosen't support advanced filters, example. https://filters.adtidy.org/extension/chromium/filters/3.txt

[2019-06-02 09:27] beerisgood commented on #964
@blacklight447-ptio wrong. Brave replace ads with own
Highly not recommend

[2019-06-02 09:32] blacklight447-ptio commented on #964
@beerisgood from what i have heard, this is an optional setting with the bat program, and disabled by default.

[2019-06-02 09:33] beerisgood commented on #962
Electron is chromium but had a lot security problems in past
Really suggest that then?

[2019-06-02 09:35] blacklight447-ptio commented on #962
What I am asking is why we should add it, as i don't see any legitamate reason why.

[2019-06-02 09:36] #962 closed

[2019-06-02 09:40] KonoromiHimaries commented on #962
it closed, because wexond not support extensions to advanced protection

[2019-06-02 12:00] five-c-d commented on #867
The username is gone, yes, but the posts themselves, are still available.  For example on this comment, https://github.com/privacytoolsIO/privacytools.io/issues/867#issuecomment-484115198 you can click the "edited by ghost" thing in the comment-header, and see what they said prior to editing the text to say 'REMOVED'.  You can see the OP info, the same way

I might do that  ;-)   But since I've al

[2019-06-02 12:44] Mikaela commented on #948
And now I am commenting here regardless of my previous wish.

A feature I am often missing from instant messaging comparsions is: how big groups can there be (is the limit high enough to matter?), what information do others get of me and how are they managed?

To answer this on Signal and Wire:

* Signal doesn't limit group size, Wire does to 300 (just for comparsion Facebook WhatsApp to 256 if I

[2019-06-02 13:03] atomGit commented on #778
wanted to make a correction - i said...

pretty sure the problem was with the Temporary Containers add-on, not FPI - i know there was a problem with containers and one or more of the http>https add-ons - i know the http upgrade add-on i was using was affected and i think it was Smart HTTPS but whether that was the only one, i don't recall, but i'm pretty sure it wasn't, and whether that issue been

[2019-06-02 14:13] five-c-d opened #967 "💬 Discussion | How many platforms does signalapp REALLY support?"
From a [pull-request comment](https://github.com/privacytoolsIO/privacytools.io/pull/951/files/0c34771aeec88dbf3e8885d647f4c607ba8aa6d5#discussion_r289088004) by @Mikaela, the question came up as to whether [Signalapp](github.com/signalapp) supports five platforms, or *really* just two platforms.

The answer is complicated.  Per signal.org/download , Signal Foundation officially supports

*  Linux

[2019-06-02 15:16] five-c-d commented on #948
Okay then I'll keep commenting here as well ;-)

Yes, correct.  Over on the voip section, signalapp cryptocalls are max 2 people, whatsapp is max 4, and wireapp is max 10.  I don't think RiotIM/Jitsi has a max, but I would hesitate to list it as "supports infinite cryptocall sizes"

In actual practice, once your signalapp groupchat gets larger than 50 people you will start to have "social difficul

[2019-06-02 23:34] BurungHantu1605 commented on #912
https://github.com/privacytoolsIO/privacytools.io/issues/912#issuecomment-491544094

[2019-06-02 23:34] #912 closed

[2019-06-03 09:06] Mikaela commented on #967
The question becomes more complicated by thinking about different use cases.

If I wanted to replace Facebook WhatsApp with Signal, I would be interested in knowing that it can work without a persistent connection to my phone.

However as I am not doing that (having replaced it with Wire), the feature doesn't matter to me that much and if I was recommending a IM app for someone without a smartphon

[2019-06-03 09:07] Mikaela commented on #964
The BAT program is not even available everywhere.

I will also close due to this.

[2019-06-03 09:07] #964 closed

[2019-06-03 09:10] Mikaela commented on #682
https://github.com/privacytoolsIO/privacytools.io/pull/960#issuecomment-498073312 ?

[2019-06-03 09:11] Mikaela commented on #958
Yes, I agree with JonahAragon's review and am waiting for that to be fixed (sorry about long response time, I have email chaos)

[2019-06-03 09:25] erciccione commented on #682
Why reopen this @Mikaela ?
From the comment of the ghost user looks like Ecosia is not Tor-friendly, which IMO is a big "no no" if we are talking about user privacy. I don't think that them being non-free was the stopper here.

[2019-06-03 09:42] blacklight447-ptio opened #968 "🌐 Website Issue | Redirect service links to .onion"
When visiting the .onion version of privacytools.io, wouldn't it be more logical to link to the .onion versions of our services that also support it (like our searx instance). what do you guys think?

[2019-06-03 15:08] five-c-d commented on #966
This is where the problem would happen.  Beliefs change over time.  If you start pulling in money via affiliate-links, there is a permanent never-wavering always-beckoning risk to sell out.  Eventually it will happen.  It won't be because you recommend something you don't believe in.  It will be, because you subconsciously, and gradually -- almost imperceptibly -- convince yourselves, hey, I reall

[2019-06-03 15:58] danarel commented on #967
It's worth noting that while they say this, it also does work on other systems that support Flatpak. I use Fedora and Signal launches just fine.

[2019-06-03 16:26] five-c-d commented on #967
Yeah, I've tried to think what it is called that signal is doing :-)  But I'm not sure that there is a word for it.  It *is* cross-platform, and officially supports five platforms, but it is not cross-platform-in-the-abstract ... it is cross-platform "in practice" though, for typical use-cases.

The closest thing I can come up with, is client-server software... by analogy, it is not very exact her

[2019-06-03 19:02] beerisgood opened #969 "Why stop recommend Chrome/ Chromium based browser is necessary"
Chrome will stop supporting AdBlocker for normal users and only provide that for "enterprise": https://9to5google.com/2019/05/29/chrome-ad-blocking-enterprise-manifest-v3/

So Google (Browser's) are then like AdBlock Plus or even worse.

In my opinion **Privacy**tools shouldn't recommend such browsers.
No matter if it's possible to use (unsecure) sideload ways for install such addons.

AdBlocker i

[2019-06-03 19:16] blacklight447-ptio commented on #969
being able to block ads doesnt need to be there for a browser to be privacy friendly, see tor browser for example. Also just because chrome does, does nit mean the all chromium forks will too.

[2019-06-03 19:53] Mikaela commented on #779
In case there is interest, I became aware that Signal forums had a thread about this thread ending to April 10th.

* https://community.signalusers.org/t/privacytools-io-discussion-to-remove-signal-from-its-recommendations/7160?u=mikaela

[2019-06-03 20:22] Mikaela commented on #969
At the moment only Brave seems to be listed and I am under impression that they wouldn't merge this change and regardless contains a build-in adblocker. Which browser did you have in mind?

* https://www.privacytools.io/browsers/

[2019-06-03 20:23] five-c-d commented on #779
Yeah, that is where I heard about 779, and I linked to that at one point but I'm pretty sure it was buried in the ton of verbiage that libBletchley and I were exchanging.

To be clear, that is the **100% unofficial** forum where people that are enthusiasts hang out, and from time to time, signal foundation folks that are "off the clock" in some sense also may appear.  The hosting-fees are paid for

[2019-06-03 21:12] dearlygparted commented on #664
Under "Related VPN information" there is a link labeled "Don't use LT2P IPSec, use other protocols." which leads to this gist: https://gist.github.com/kennwhite/1f3bc4d889b02b35d8aa

On that gist, they list NordVPN among VPNs to avoid saying:

"Again I strongly do not recommend using any of these providers."

The fact that PrivacyTools recommends NordVPN while simultaneously linking to a website t

[2019-06-03 21:49] Mikaela commented on #967
I am also using the Flatpak (on Debian Testing), but it's unofficial and there is open feature request on it at https://github.com/signalapp/Signal-Desktop/issues/1639. For Snap users there is https://github.com/signalapp/Signal-Desktop/issues/1798.

[2019-06-03 23:58] #958 closed

[2019-06-04 04:11] beerisgood commented on #969
@blacklight447-ptio Tor Browser is for anonymous browsing which is another thing.
If forks doesn't follow chrome, they need to use old code or own store. Both aren't good solutions in terms of security.

@Mikaela you mean which I'm recommend?
At the moment: Firefox

Brave use his own ad system which isn't trustworthy

[2019-06-04 05:27] blacklight447-ptio commented on #969
@beerisgood Which is perfectly fine, tor browser does the same, also nobody said tor browser is only for anonymity. Its just that you can ude it for that purpose.

[2019-06-04 10:50] notarobot63 commented on #966
Would you stop trusting privacytools.io if this were to happen? Not necessarily, it depends on the transparency provided afterwards

Do you mistrust recommendations tied to an affiliate link in general? Yes, by default always.

What kind of proper disclosure if any should be implemented if we did this?
Just be honest if you recommend a solution the better alternatives must have same/better treatme

[2019-06-04 11:03] foguinhoperuca commented on #966
Hi!

I wanna give you my $0.02:

**_Would you stop trusting privacytools.io if this were to happen?_**

No, but will be much more harder than before to you earn my trust. I always will think that there is something behind (maybe a personal gain for you). So, I think the answer to this is transparency (how much you gain? From who? Did you eat your own dog food? Various questions like that will arai

[2019-06-04 11:18] maelp opened #970 "🆕 Software Suggestion | Snips"
## Basic Information

**Name:** Snips
**Category:** Software / Voice assistants
**URL:** https://snips.ai

## Description

Snips is the first true private-by-design Voice AI assistant, because it works 100% offline. It is available in english, french, german, japanese, spanish, italian, and more coming! You can build your own assistants in a few minutes by using the web console and download the of

[2019-06-04 11:18] aloisdg commented on #966
### Would you stop trusting privacytools.io if this were to happen?

Yes I think so in the long run. I would grow skeptiscim about every link on the website and I may start looking elsewhere (a fork maybe). If you start with this, you may accept more one day. Accepting money from companies directly is a dangerous game.

### Do you mistrust recommendations tied to an affiliate link in general?

Yes

[2019-06-04 11:33] shekhardesigner commented on #966
If Brave or any similar service is worth of being listed on privacytools.io - Why would they spend and provide you with the affiliated money? After all - if this team finds the software in matter, a valuable to be added, you will add it anyway.

Taking affiliate will result in loosing the trust I have, honestly.

[2019-06-04 11:53] stordoff commented on #966
Would you stop trusting privacytools.io if this were to happen?

Yes

Do you mistrust recommendations tied to an affiliate link in general?

Yes. The conflict of interest is too big. Consciously or not, it can change behaviour. Is Brave Browser listed because it deserves to be, or are you letting more things slide because you know you will lose that income, maybe without even consciously thinking

[2019-06-04 11:58] chrisweb commented on #966
I'm a developer and also a LEGO bricks fan and what I often see in blogs is affiliate links to either the LEGO shop or amazon but they are always clearly marked as affiliate links! And sometimes in the message it even states how much money the owner of the blog will get if you click on the link.

What I think could be option, would be to offer to users two links that redirect to the same page of a

[2019-06-04 11:59] ddebernardy commented on #966
Not one of your users, but I figured I'd chime in regardless...

Consider providing two links:

[code]

[2019-06-04 12:30] bobobo1618 commented on #966
Not from this alone, no.

In general, yes. However if there are prominently recommended options that aren't affiliates, I can trust a little bit more.

Of course you should make it clear which links are affiliate links or not.

In addition to that, how about making the financials open? It'd make it a lot clearer that you're not giving compensation-based preferential treatment if we can see exactly

[2019-06-04 12:33] Shifterovich commented on #664
That gist makes two points:
1. Don't use LT2P IPsec
2. Providers that support it are not recommended by Kenn White.

We agree with the first point. The second point can be interpreted as either "don't use these providers" or as "these providers are not recommended but are not advised against either".

And it's Kenn White's subjective opinion.

I don't see how Nord supporting a somewhat insecure pr

[2019-06-04 12:39] beerisgood commented on #969
@blacklight447-ptio what did you mean with "does the same"?

Tor browser *is* for browsing anonymously and hide yourself against fingerprinting as much as possible.
But it's not using a AdBlocker or other add-ons which protect you against ads, malware  and if you use such / customize Tor browser in any way, you got a unique build which isn't recommend.
Any way this issue is about Chrome/ Chromium

[2019-06-04 14:18] eigenfoo commented on #966
**Would you stop trusting privacytools.io if this were to happen?**

Probably not immediately, but over time I would (as you make new recommendations of stuff I haven't heard of).

**Do you mistrust recommendations tied to an affiliate link in general?**

Yes. This is only somewhat mitigated by disclosing affiliate links or providing two links (one affiliate, one not), as others have proposed.

**

[2019-06-04 14:19] eigenfoo commented on #966
By the way, this GitHub issue briefly made the front page of Hacker News. There's some more discussion in the comments over there:

https://news.ycombinator.com/item?id=20093611

[2019-06-04 16:27] victorhck commented on #866
I made the PR #971 for this issue.

forget the PR and close the issue if you think is not needed this...

[2019-06-04 16:34] five-c-d commented on #966
<details><summary>Somewhat offtopic... but methinks relevant... offering self-hosted discourse as a service to privacy-oriented tool-vendors?</summary><p>

@JonahAragon ...after looking into it, community.SignalUsers.org is paying www.DiscourseHosting.net outsourced-sysadmin fees of roughly $50/mo with the 501c3 discount, and allowed up to 100k pageviews/mo.  I don't have pageview stats, but I hav

[2019-06-04 17:55] PopeRigby commented on #516
I'm not detecting any trackers on the site
![](https://i.imgur.com/BcXXAVU.png)
![](https://i.imgur.com/pkMbuqx.png)

[2019-06-04 20:12] Mikaela commented on #969
I am closing this as the only Chromium based browser we list is Brave and it's not affected by this issue. Please correct me if I am wrong.

[2019-06-04 20:12] #969 closed

[2019-06-04 21:50] Mikaela commented on #682
I don't think we have a formal rule of search engines needing to be Tor friendly in order to be listed. To [quote myself from the forum](https://forum.privacytools.io/t/what-is-your-daily-search-engine/174/7?u=mikaela):

What do you think @privacytoolsIO/editorial ?

[2019-06-04 23:15] dearlygparted commented on #664
"Yes, I know. Many/most of these offer OpenVPN, or special clients for IPSec. But for all of the above, they are actively placing a significant portion of their user base (particularly those with older Androids and desktops) at risk by not using per-user PSKs."

Basically since NordVPN (et al.) "actively" places "a significant portion of their user base at risk" it makes them less trustworthy. Do

[2019-06-05 01:50] five-c-d opened #972 "✨ Feature Suggestion | Guest-of-the-Month"
## Description:  continuation of a discussion in #848

@JonahAragon -- here is a good person to ask:  Fredrik Strömberg, co-founder of Mullvad, in the VPN provider listings since forever, contact info at top of the PDF that was just released, https://www.mullvad.net/media/system-transparency-rev4.pdf where they are talking about building a cryptographically-**provable** no-logging-VPN (with simila

[2019-06-05 02:16] five-c-d commented on #516
Agree with @PopeRigby that the GoogleAnalytics (which was there back in late 2018) seems to be gone now.  However, note that originally the service was

*  Amazon AWS hosting, with GoogleAnalytics javascript, [per urlscan.io](https://urlscan.io/result/5d93b8c6-901f-47e2-894d-f86b996b23c4/#behaviour)

Recently they moved, and are now

*  Google GCP hosting, without GoogleAnalytics javascript, [per

[2019-06-05 03:01] atomGit commented on #778
and yet **another** reason to list HTTPZ as an alternative is the year old CSP bug in Firefox that affects HTTPS Everywhere - see here:
https://forum.privacytools.io/t/psa-warning-to-all-firefox-users-that-install-add-ons/803

[2019-06-05 08:07] erciccione commented on #682
I'm confused now. Isn't this **Privacy**tools.io? Shouldn't this community suggest the best tools to protect people's privacy?

You don't need a formal rule. Supporting Tor is a big point if you are proposing a privacy-oriented browser, planting trees is not...

You are not addressing any of the legit concerns pointed out by the ghost user, but you are reopening this issue anyway. I understand you

[2019-06-05 08:51] Mikaela commented on #967
![bildo](https://user-images.githubusercontent.com/831184/58943339-0a927200-876f-11e9-9089-8fcc9115f055.png)

I hadn't noticed that we are actually saying that "Mobile: Signal" supports Windows, macOS and Linux in addition to Android and iOS.

[2019-06-05 11:03] Mikaela commented on #141
@privacytoolsIO/editorial Do you have new thoughts on this?

@JonahAragon commented at https://github.com/privacytoolsIO/privacytools.io/pull/915#pullrequestreview-242417487:

and so did @blacklight447-ptio at https://github.com/privacytoolsIO/privacytools.io/pull/915#issuecomment-496449555

Could this be read as an support to not list specific instances (until hypothetical privacytools.io XMPP se

[2019-06-05 11:05] Mikaela commented on #60
* NeverDucky in https://github.com/privacytoolsIO/privacytools.io/issues/60#issuecomment-377622021

@privacytoolsIO/editorial thoughts?

[2019-06-05 11:17] KonoromiHimaries commented on #161
https://twitter.com/tomscott/status/1076160882873380870

[2019-06-05 11:22] KonoromiHimaries opened #973 "🆕 Software Suggestion | Iridium Browser"
## Basic Information

**Name:** Iridium Browser
**Category:** browser
**URL:** https://iridiumbrowser.de/

## Description

`https://spyware.neocities.org/articles/browsers.html`
`https://github.com/iridium-browser/tracker/wiki/Differences-between-Iridium-and-Chromium`

[2019-06-05 11:33] KonoromiHimaries commented on #964
@Mikaela please check the new link

[2019-06-05 12:59] beerisgood commented on #973
Please read https://github.com/privacytoolsIO/privacytools.io/issues/969

[2019-06-05 13:06] Zig-03 opened #974 "🆕 Software Suggestion | Maemo Leste"
## Basic Information

**Name:** Maemo Leste
**Category:** Mobile Operating Systems (Worth Mentioning)
**URL:** https://maemo-leste.github.io/

## Description
Maemo Leste - a Devuan based FOSS OS that aims to provide a free Maemo experience on mobile phones and tablets like the Nokia N900, Motorola Droid 4, Allwinner Tablets and more.

[2019-06-05 13:16] KonoromiHimaries commented on #969
Kiwi Browser https://github.com/privacytoolsIO/privacytools.io/issues/964 is ok in this regard

[2019-06-05 14:22] jingofett opened #975 "🌐 Website Issue | That One Privacy Site Compromised?"
## Description
It seems that the "Simple VPN Comparison" has been compromised. There are a ton of VPN services now with green across the board, that I've never heard of. Such as "Fastestvpn" and "MinecraftVPN". F-secure and Norton are also green across the board.

## Screenshots

![image](https://user-images.githubusercontent.com/8313249/58963554-eea5c500-879c-11e9-9ad6-6c2434715cb6.png)
![image](

[2019-06-05 16:50] dm17 commented on #161
At this point it is pretty obvious that PTIO is part of a controlled opposition effort to make sure the big players stay on top. If you really believe Brave CEO donated $1K against gay marriage - while seeming gay himself - to get pushed out of Mozilla and start a top "opposition" browser, then I guess you're a sucker!

No reason at this point that PTIO can't recommend ungoogled-chromium, waterfox

[2019-06-05 16:56] blacklight447-ptio commented on #161
@dm17 palemoon is insecure as it allows unsigned extensions and does not use tab sandboxing. Wtaerfox supports npapi whichvis a security disaster( and also unsigned addons.), and ungoogled chromium has a delay in updates from normal chromium. You makes some pretty wide claims based on nothing but lies and conspiracy. Anyhow, if you dont like the site, you can always start your own with youe own re

[2019-06-05 17:24] Mikaela commented on #161
I found that difficult to read, but https://threadreaderapp.com/thread/1076160753793683456.html was more clear and ends with

I cannot see a date, but I imagine it has been in January.

Ungoogled-Chromium currently ([when I last heard](https://forum.privacytools.io/t/installing-ungoogled-chromium-on-ubuntu-19-04/317/2?u=mikaela)) requires installing a random package from a random source and will p

[2019-06-05 18:17] Mikaela commented on #973
Could you explain in your own words why it should be recommended?

[2019-06-05 18:37] KonoromiHimaries commented on #973
because it is a chromium, chromium is fastest compared to firefox and is not a brave https://github.com/privacytoolsIO/privacytools.io/issues/161

[2019-06-05 18:41] KonoromiHimaries commented on #964
@Mikaela can you re-check the new link which I added?

[2019-06-05 18:48] Mikaela commented on #964
What new link?

[2019-06-05 18:49] KonoromiHimaries commented on #964
@Mikaela `https://play.google.com/store/apps/details?id=com.kiwibrowser.browser`

[2019-06-05 18:51] beerisgood commented on #973
What a explanation xD

I also wonder why you recommend so much Chromium forks. What's your point with that? Are you try to push that browser?

Anyway no advantages against better browser like Firefox (which is fast too and speed isn't everything a browser need)

[2019-06-05 19:05] KonoromiHimaries commented on #973
I tried, but the difference in performance is significant, for me this barrier is impossible to overcome

[2019-06-05 19:07] blacklight447-ptio commented on #973
@KonoromiHimaries Whether chromium is faster depends completely on your setup. Firefox is faster on mine.

[2019-06-05 19:09] KonoromiHimaries commented on #973
@blacklight447-ptio i try tested on this simple game `http://slither.io/` and chromium is a winner

[2019-06-05 19:11] blacklight447-ptio commented on #973
@KonoromiHimaries On your setup, yes. But on my setup, and many others, firefox is faster. Again it depends on many factors.

[2019-06-05 21:26] danarel commented on #975
That does appear to be the case. unless it's a coding error with something he's working on and it shouldn't be live yet. But I would say he's been compromised from the looks of it.

[2019-06-05 22:10] Perelandra0x309 commented on #948
The main advantage of these is no need to provide any personal information like phone or email to signup.  Also Threema does not store messages permanently on a server.

Yes I think this is a good set of recommendations.  I also recommend Signal as a first step for anyone, is is a familiar concept the like SMS and doesn't cut you off from existing contacts.

SO what happens to all your xmp contact

[2019-06-05 23:43] Perelandra0x309 commented on #948
Trying to discuss this in the pull request is getting very confusing 😄  Replies aren't showing up in order.

[2019-06-06 02:06] JonahAragon commented on #975
I reached out to him via email about this issue, and I'll give him some time to respond.

[2019-06-06 02:57] JonahAragon commented on #966
I kind of doubt it 😅

I was actually thinking about starting a Mastodon hosting service though on a related note, but I don't know if there'd be many users interested.

The main problem is I don't have the time to market services like this and it definitely wouldn't be financially viable to host services for just a few users. So it's kind of a catch 22.

[2019-06-06 03:03] JonahAragon commented on #765
We can only add translations the community creates! If anyone wants to take this over or post an update, we can definitely re-open this issue.

[2019-06-06 03:03] #765 closed

[2019-06-06 08:23] Zig-03 commented on #954
Yep, because they use a permissive license (MIT) instead of GPLv3 or similar.

[2019-06-06 12:24] five-c-d commented on #966
You already have a mastodon hosting-service, though, right?  "Mastodon - Tracker Free Social Networking at social.privacytools.io"

To me, that's what you are doing *now*:  hosting services for just one "user"  :-)  Happens to be the core team of privacyToolsIO, as your only user, so there are fewer worries about customer service -- if the customer is unhappy they know where to complain!  ;-)  Sam

[2019-06-06 14:06] five-c-d commented on #967
Yes  :-)   sorry about that.

Yeah, I figured that was intentional:  say in the title it is for "mobile" but then say in the platforms it supports "droid+ios && lin+win+osx" which is pretty confusing at first... but then later, when the readership actually looks into the details of installing, they find out, oh you have to install mobile first before you can install desktop because it is a slave-d

[2019-06-06 17:59] danarel commented on #904
I would suggest removing Purism, at least from the mobile part because their phone doesn't seem anywhere near completion and most of the specs are listed as TBD. Right now, they are just asking for money for a product with no real or serious timeline.

[2019-06-06 18:01] danarel commented on #904
Also, is there a reason System76 isn't listed? Not sure if I missed part of that conversation or not.

[2019-06-07 00:02] five-c-d commented on #904
They keep slipping the schedule, yes, but there are test-handset-hardware in the hands of developers is my understanding (since early this year).  Supposed to be 2019 Q3 that they release, last I heard, but the hardware-section is still "under development" just like the Librem5.  Maybe it is listed because the hardware-section won't be done until the phone ships?  :-)   But yes, agree the Librem5

[2019-06-07 07:35] blacklight447-ptio commented on #974
While I think it would be agood to keep an eye on this project, Their site reads this: The project is not usable as a daily driver for your device, Maemo Leste is currently in development phase and we are actively searching for developers.

As such, it wouldn't really make sense to add this OS now. Feel free to bump this issue later on when the developers think its production ready, it seems like

[2019-06-07 07:35] #974 closed

[2019-06-07 07:37] blacklight447-ptio commented on #970
I think this would require a new category on the website, maybe stuff like "digital assistants?

[2019-06-07 07:38] blacklight447-ptio commented on #967
@Mikaela would the BUG tag be really appropriate here?

[2019-06-07 07:43] maelp commented on #970
Would be great!

[2019-06-07 07:54] Mikaela commented on #967
I cannot see your Windows emoji on phone and I think mobile users need to also be thought of if there isn't some webfont.

I see it as a bug that someone can install Signal on desktop and expect it to work standalone without a smartphone, but please feel free to relabel.

[2019-06-07 08:33] blacklight447-ptio commented on #967
Oh then it is okay, I just couldn't initially find why you labelled it as such.

[2019-06-07 08:39] blacklight447-ptio commented on #945
Moderation isn't really the problem, we already moderate the other problems. problem is the video platforms like these often gets used to host pirated content, which could mean legal troubles for a small time project like us.

Anyway is its highly unlikely to to happen (right now, at least), Ill close this issue, anyone is free to comment if they think it should be discussed further.

[2019-06-07 08:40] blacklight447-ptio commented on #945
Moderation isn't really the problem, we already moderate the other problems. problem is the video platforms like these often gets used to host pirated content, which could mean legal troubles for a small time project like us.

Anyway is its highly unlikely to to happen (right now, at least), Ill close this issue, anyone is free to comment if they think it should be discussed further.

[2019-06-07 08:40] #945 closed

[2019-06-07 08:42] blacklight447-ptio commented on #954
Redox is not really appropriate for Daily usage as of now, but it has some great potential.
I close this issue now  and say we won't add it, but will keep an eye on this project as it matures, and maybe open this issue up again at a later point in time.

[2019-06-07 08:42] #954 closed

[2019-06-07 08:45] blacklight447-ptio commented on #952
@JonahAragon thoughts?

[2019-06-07 08:49] Zig-03 commented on #945
You can avoid pirated content thanks to the moderation tools that peertube provides, such as https://github.com/Chocobozzz/PeerTube/issues/138 (manual video validation by a moderator). So you'd turn that on, and whoever uploads videos will have to wait until **you** take a look at what they uploaded and **you** decide whether it's OK to have that on **your** instance or not. You could even specify

[2019-06-07 08:58] blacklight447-ptio commented on #921
The download page: https://sourceforge.net/projects/offload/ says it has last been updated in 2013.
This indicates that the project is apparently abandoned. It would not be smart to list this project on privacytools if you ask me,so I am closing this issue. Feel free to comment to upon it up again if you disagree or have more input.

[2019-06-07 08:58] #921 closed

[2019-06-07 10:11] blacklight447-ptio opened #977 "💬 Discussion | new website requirements."
After some internal thoughts of mine, and a following discussion on our matrix chat. I would like to propose the following policies for inclusion on our website:

**1.** introduce a requirement where a user suggesting new software or providers should have done his own research and cite his source. This could include things like privacy policies, links to software source, an explanation of how the