[2018-07-24 09:33] Raviu8 commented on #496
@Shifterovich I think as they say that data is encrypted client side, and the client software is open source, you can know that files are encrypted, not you?

[2018-07-24 11:00] Shifterovich commented on #496
Well, true. You can know that you sent the files to the server in an encrypted form. But stealing your key isn't hard, especially in a browser. And if we talked about receiving encrypted files, just because your open source client receives encrypted files doesn't mean they are stored encrypted.

[2018-07-25 08:17] megasteph commented on #496
The files are sent to Mega in encrypted form, and the code is public so we can see that they aren't stealing the key, SO Mega can't decrypt. They are certainly received and store in encrypted state.

[2018-07-25 08:35] megasteph commented on #496
Raviu8:
Agree - market share is interesting but not indicative of security. Mega is proud of both!
January 2017 Mega reported:
"MEGA supports the safety and security of individuals, companies and governments by providing tools, technologies and services relying on the inherent integrity and security of correctly implemented user-controlled end-to-end encryption. To provide full assurance of that i

[2018-07-25 13:29] Shifterovich commented on #496
If it's in browser, they can just send you JS that makes your browser hand the key over to them

[2018-07-25 20:10] Hillside502 commented on #438
Syncany is **long** overdue for removal from privacytoolsIO.

How long? ----- 2 years!
https://github.com/syncany/syncany

[2018-07-25 20:16] #438 closed

[2018-07-25 20:23] Raviu8 commented on #496
@megasteph Fair enough. Thanks

[2018-07-25 20:30] Raviu8 commented on #496
@megasteph So does mega save session history information including IP address and other identifying info.? Or just for the current active sessions?

[2018-07-26 00:35] megasteph commented on #496
Session history is stored

[2018-07-27 20:58] hiragashi commented on #496
just google Zhao Wu Shen and figure out why you want to stay far away from MEGA. 5th most wanted Chinese fraudster.

[2018-07-31 19:52] jeroen7s commented on #194
Subgraph is dead (sadly)

[2018-07-31 19:53] jeroen7s commented on #193
I've never been able to get any torrent downloaded through i2p
And i've tried the popular ones

[2018-07-31 20:07] jeroen7s opened #500 "Add Blokada and DNS66 as ad-blockers for android"
Ad-blockers are a major improvement for privacy
Especially on android it's desperately needed, but there's no decent source online linking to them

Both DNS66 and Blokada are supported by an active community and still in active development,and are both open source

[2018-08-02 13:41] jeroen7s commented on #500
Dns66 hasn't had an app update in a while, but it doesn't seem to be completely inactive

But yes Blokada is definitely more actively maintained atm

[2018-08-09 11:07] swr7hr opened #501 "Add Ultrasound Tracking Detection App"
Ultrasound tracking is growing. And it allows apps to exchange data via inaudible tones using our microphones/speakers. However it can also be used to link phones, separate accounts and more through cross device tracking and it does not need wifi or connected to do it.

There is an app for Android users which has been developed to help combat this. It is called SoniControl.
https://phys.org/news/2

[2018-08-09 22:19] beerisgood commented on #501
Install a App from devs which include 12 third-party cookies & 117 Third-party requests on homepage? See: https://webbkoll.dataskydd.net/en/results?url=http%3A%2F%2Fphys.org%2F
No thanks

[2018-08-10 13:12] swr7hr commented on #501
Thank you for that link. Damn. I guess it is still at nothing for Ultrasound tracking.

[2018-08-11 22:35] pahakalle commented on #501
https://sonicontrol.fhstp.ac.at/ seems to the projects main site, but its still not any better, having no https for starters

And heres the test for the site: https://webbkoll.dataskydd.net/en/results?url=http%3A%2F%2Fsonicontrol.fhstp.ac.at%2F

[2018-08-11 22:36] pahakalle commented on #501
It seems they host the code on gitlab instance tough https://git.nwt.fhstp.ac.at/m.zeppelzauer/SoniControl

[2018-08-13 15:25] johnozbay opened #502 "Consider adding Cryptee"
Hey team 👋🏻

Maker of [Cryptee](https://crypt.ee) here.
[I've launched Cryptee on privacy tools' reddit about a month ago](https://www.reddit.com/r/privacytoolsIO/comments/8t1oqz/a_new_privacy_tool_ive_been_building_for_15_years/),
with a pretty sweet response rate of [top 15th post](https://www.reddit.com/r/privacytoolsIO/top/?t=year) of this year under r/privacytoolsIO.

Is it possible to add Cr

[2018-08-13 16:07] Hillside502 commented on #502
Hi there in Estonia,

I would love to hear your response to John Fastman's very detailed review on AlternativeTo --- in particular his _Criticisms_:-
https://alternativeto.net/software/cryptee/reviews/

[2018-08-13 17:29] johnozbay commented on #502
Hey @Hillside502! Thanks a lot for sending this over! I haven't seen this before, and made me quite happy for many reasons. (Especially because since the writing of his review I've added a few more of the requested features) I will respond to John F. over at AlternativeTo as well, but to keep things consistent I'll respond here first. ✌🏻

### Progressive Web Apps 📲
I'll start with the most importa

[2018-08-14 08:16] EpokK opened #503 "Update ProtonVPN server"
ProtonVPN has 249 servers not 112: https://protonvpn.com/about

[2018-08-17 07:18] infosec-handbook commented on #141
We recently [wrote an article](https://infosec-handbook.eu/blog/xmpp-aitm/) about the power of XMPP admins. For instance, they are able to:

- see and manipulate your contact lists, groups and group membership and vCard
- log your password in cleartext even if SCRAM is enabled
- monitor all of your activities (typing, reading messages, changing profile info)
- inject fake messages from arbitrary s

[2018-08-18 12:56] bitdegree67 opened #506 "Consider change pfsense to opnsense"
I saw you suggesting pfsense. but recently pfsense is buyed by company. and another and better fork is here.
https://opnsense.org/

even m0n0wall (pfsense forked) advice opnsense rather than pfsense

[2018-08-18 14:06] Shifterovich commented on #141
What's wrong with that? XMPP is just the protocol we choose for OTR.

[2018-08-19 15:49] stayen opened #507 "Ghostbin: broken link to source on About page"
Note: on Ghostbin [About page](https://ghostbin.com/about) the source link is broken.

The correct link is currently

https://github.com/DHowett/spectre

and, perhaps, it could be shown explicitly in the comment to GhostBin entry.

[2018-08-19 16:04] Shifterovich commented on #141
If you always use OTR, how is receiving an unencrypted message from one of your friends a major concern? What you listed isn't anything specific to XMPP, it's like that with all sorts of third party servers. I see your point but we should be warning users about this instead of deciding what's good for them. There are secure ways to communicate over insecure channels. One of them is only trusting O

[2018-08-19 20:15] Shifterovich opened #508 "Add this page to Recommended Privacy Resources?"
Will from campaignforprivacy.org sent this to me: https://privacy.net/us-government-surveillance-spying-data

Thoughts?

[2018-08-20 13:58] jonathancross opened #510 "404 error on piwik.js"
[webrtc.html#L160](https://github.com/privacytoolsIO/privacytools.io/blob/master/webrtc.html#L160) references a file (`piwik.js`) that does not exist.

Can be seen here on the live site:  https://www.privacytools.io/webrtc.html

[2018-08-20 14:26] basnijholt opened #511 "Remove Muonium as file synchronization recommendation"
The project has only 2 contributors and is added by one of the authors of the software package.

I personally think privacytoolsIO should recommend proven solutions, not alpha/beta software.

What do others think?

[2018-08-20 22:52] Atavic commented on #511
Most repos seen [here](https://github.com/muonium) are also archived.
Is this cloud think still running?

[2018-08-21 11:47] Hillside502 commented on #511
@Atavic
Repos moved to:-
https://gitlab.com/muonium

[2018-08-21 16:32] Shifterovich commented on #511
I agree. Create a PR if we can get one more approval @Atavic @Hillside502 @kewde

[2018-08-21 16:35] Shifterovich commented on #510
That's @privacytoolsIO's analytics. It should be the same as on index, that is:

https://github.com/privacytoolsIO/privacytools.io/blob/7c2131e124cab917a4e05861e0ed00b3e34e6fa8/index.html#L3291-L3311

[2018-08-21 20:36] Atavic commented on #511
I found the github link on bottom of ```muonium.io``` but repo is active on gitlab. You have to register to use it. Upon registration, you are redirected to ```https://mui.cloud/```

Above page loads:

fonts/Roboto.css

...and three js scripts. This gives a lot of opportunities to google for fingerprint the users.
Like all cloud solutions that allegedly care about privacy, they really fail at it.

[2018-08-22 07:41] Jon-guy30 opened #513 "Add DNS.WATCH to the dns section"
I want you to take a look at DNS.WATCH DNS service. It's a privacy respecting public dns resolver (no logs), is fast and has DNSSEC. Both IPv4 and IPv6 are supported.

There are other privacy DNS services out there, but this is the only one I've found that has reasonable security. All the other ones are terrible. You can use the GRC.com DNS spoof test to test your DNS security.

https://dns.watch/

[2018-08-22 14:25] dnguyen01 commented on #506
@bitdegree67 who bought them recently? I don't see any news about it. And why do you want to replace PFSense with OPNSense? The only reason is it's a better fork? How? Why? Also PFSense is still open source the last time I check and they're both on the same level.

If anything, you should say, add OPNSense alongside with PFSense. If you want to replace it, you have to have some damning news about

[2018-08-22 18:06] Hillside502 commented on #506
A good trawl through the OPNsense website reveals the thoroughbred --- a racing certainty!

[2018-08-22 18:32] bitdegree67 commented on #506
In any case, I have to use the informations I find

[2018-08-23 15:14] jonathancross commented on #510
Okay, the file [piwik.js](https://piwik.privacytools.io/piwik.js) exists on the server, but not here in GitHub.  It is the root folder. The page `webrtc.html` uses different analytics code and is looking [inside the /stats/ subfolder](https://github.com/privacytoolsIO/privacytools.io/blob/master/webrtc.html#L156).

[2018-08-23 16:27] #510 closed

[2018-08-28 09:55] stayen opened #515 "Boostnote as digital notebook candidate"
Is it OK to recommend

[Boostnote](https://github.com/BoostIO/Boostnote)

as an entry to Digital Notebook list? It's open source and multiplatform.

[2018-08-28 10:31] maxxer opened #516 "Firefox Send: WeTransfer privacy-safe alternative"
https://testpilot.firefox.com/experiments/send

[2018-08-28 18:54] beerisgood commented on #516
Use www.google-analytics.com
No, thanks.
See https://webbkoll.dataskydd.net/en/results?url=http%3A%2F%2Fsend.firefox.com%2F

[2018-08-29 05:01] FrostKnight opened #517 "Operating systems worth mentioning request,"
I think you should add Hyperbola Gnu/linux to it.
It is like archlinux in that it is hard to install, but it would be nice if you added it as a mention even if you say it is not for beginners/easy to use. It is more of an advanced user distro.

You could say it focuses heavily on being stable, secure/private and lightweight.

It is entirely free software. it focuses on having no blobs/proprietary

[2018-08-29 06:05] maxxer commented on #516
https://github.com/mozilla/send/issues/897

[2018-08-29 07:55] pahakalle commented on #516
@beerisgood unrelated but are you using this? https://tools.google.com/dlpage/gaoptout

[2018-08-29 15:17] beerisgood commented on #516
@pahakalle why should i? Opt-out is wrong way.
If the site doesnt respect that, i dont use it
I also dont use any google services or sites (except YouTube)

[2018-09-05 12:27] Jon-guy30 opened #518 "True Sight (was: Detect Cloudflare+)"
There's a new "cloudflare detection" addodon called detect cloudflare+. Link here https://addons.mozilla.org/en-US/firefox/addon/detect-cloudflare-plus/

The old link to the cf mitm addon should be removed in the privacy resources section and replaced with this one.

I remember the old addon actually actively blocked cf webpages, this one only shows "Hey! This site has some content (or all!) serve

[2018-09-08 01:54] zayuim opened #519 "Add microG fork of LineageOS"
Something to consider for the Android section:

**LineageOS for microG** https://lineage.microg.org/

It is a soft fork of LineageOS with microG and the F-Droid Privilege Extension preinstalled in root. Really handy for someone who wants a FOSSDroid phone.

[2018-09-10 04:34] ajvsol opened #520 "List SIP providers that accept cryptocurrency"
Sometimes we have to use a phone number for VoIP with another person. This isn't too bad an option if using Linphone + ZRTP for E2EE. Or perhaps you need a phone number to sign-up for an account eg Signal.

Unfortunately I don't know any recommended SIP providers I can use which accept cryptocurrency. I'd say the importance of finding a good virtual phone number provider is similar to that of find

[2018-09-16 21:15] Hillside502 commented on #519
For "MircoG" read "microG".

Should we be encouraging rooting?

[2018-09-16 23:00] zayuim commented on #519
@Hillside502 With this ROM only microG and F-Droid will be installed with system privileges. The people who run this fork somewhat discourages rooting:

[2018-09-20 23:15] quiddity-wp commented on #420
I was going to start a thread on Reddit, asking for a section on 2FA to be added, with some compiled links. But then I came here to check if there were relevant suggestions, and I found this issue.

Is there are publicly known reason for why the previous section was removed? (per [comment 1](https://github.com/privacytoolsIO/privacytools.io/issues/420#issuecomment-377794290) above, and #406 filed

[2018-09-21 13:04] n8v8R commented on #518
To list that add-on might not be such a good idea as it exposes privacytools.io hosted resources on CF - a US based service not only but also one where the TLS terminates at the provider's edge servers with this type of TLS SNI certificate for the privacytools.io domain

1. DNS Name: sni209452.cloudflaressl.com
2. DNS Name: *.angrymovies.ga
3. DNS Name: *.awrtdvoucvl.tk
4. DNS Name: *.dallastimesh

[2018-09-21 15:28] swr7hr commented on #376
I would like to put forward Bitwarden again to be added to the password managers on privacytool.io.

To build apon the reasons already given, here are mine:

1.  Being able to self host is a great feature and I can use  my Bitwarden through bitwarden app
2.  While KeePass is also open source, it uses Google Authenticator which [no longer is](https://www.reddit.com/r/Bitcoin/comments/3fkmvi/using_g

[2018-09-26 15:03] davidtabernerom opened #521 "Open-source self-hosted VPN services"
I have read about the VPN service providers, but I am aware there are some open-source free (some self-hosted) VPN solutions that might be worth mentioning like OpenVPN or FreeLAN, for example.

[2018-09-26 15:59] zero77 opened #522 "[Feature Request] Hosting Providers Section"
I think it may be useful to have a new hosting providers section for people who want to find a good secure and privacy conscious, hosting company for creating vpns or other such hosting.

For example, bahnhof.net

[2018-09-26 19:27] Hillside502 commented on #521
Cloudron - Install OpenVPN - OpenVPN server and simple web interface
https://cloudron.io/store/io.cloudron.openvpn.html

[2018-09-27 06:45] haroon-ali opened #523 "What about bitmask free VPN service?"
Hi,
Bitmask a free secure VPN service, its android client is available on f-droid few months ago.
https://f-droid.org/en/packages/se.leap.bitmaskclient/

It uses services from leap.se and riseup.net - Requires no email or phone number at registration. You can even use it without a username.

Do you think it should be added to privacytools.io ?

[2018-09-27 18:21] Hillside502 commented on #523
https://bitmask.net/

Bitmask is still experimental by their own admission.  IMHO this should not be recommended until things stabilize.

[2018-09-28 18:53] Avizini commented on #522
@Hillside502 Are you advertising Cloudron? Never heard of that before and you have posted it in 2 comments.

[2018-09-29 15:45] Hillside502 commented on #522
Not advertising, as I don't represent Cloudron -- but I thoroughly recommend it.

[2018-09-30 09:05] skygate2012 opened #524 "Browser worth mentioning: ungoogled-chromium"
ungoogled-chromium is Google Chromium with Google integration removed. It also features some changes to enhance privacy, control, and transparency.

[Eloston/ungoogled-chromium](https://github.com/Eloston/ungoogled-chromium)

[2018-09-30 09:06] gryzor2 opened #525 "Suggesting additional FF about:config privacy settings"
Hi,

I believe firefox users would benefit from having these settings in about:config :

media.peerconnection.dtmf.enabled 	false
https://bugzilla.mozilla.org/show_bug.cgi?id=1313406

https://bugzilla.mozilla.org/show_bug.cgi?id=1430213
media.peerconnection.rtpsourcesapi.enabled 	false

media.peerconnection.simulcast 	false
https://wiki.mozilla.org/Media/WebRTC/ReleaseNotes/46#IMPORTANT:_Simulcast

[2018-09-30 09:30] Shifterovich commented on #525
@kewde

[2018-09-30 09:32] Shifterovich commented on #524
https://github.com/privacytoolsIO/privacytools.io/issues/274#issuecomment-315846026

[2018-09-30 15:51] kewde commented on #525
I have a few Q's abot the following ones?

[code]
What's the reasoning for disabling these two?

[2018-09-30 19:03] gryzor2 commented on #525
Hi kwede,

No big reasoning ; I tend to disable media.peerconnection.* generally.
I confess I have not looked deep.

[2018-10-02 22:59] Atavic commented on #525
*media.peerconnection.enabled* is the master switch. I'm not using any live streaming service, so I disable it.

*rtpsourcesapi* is used by WebRTC.

Simulcast appeared [in FF46](https://wiki.mozilla.org/Media/WebRTC/ReleaseNotes/46).

[Here](https://bugzilla.mozilla.org/show_bug.cgi?id=1288904#c30)

[2018-10-02 23:01] Atavic commented on #525
media.peerconnection.enabled is the master switch.
I'm not using any live streaming service, so I disable it.

*rtpsourcesapi* is used by WebRTC.

[2018-10-03 10:41] Shifterovich commented on #525
Though you can disable WebRTC without disabling rtpsourcesapi, right?

[2018-10-03 20:32] asdfghjz opened #526 "Add wölkli to Encrypted Cloud Storage Services"
Feature: Add [wölkli](https://woelkli.com) to [Encrypted Cloud Storage Services](https://www.privacytools.io/#cloud)
I recommend using it instead of Muonium as it supports desktop usage.

[2018-10-03 20:37] asdfghjz opened #527 "[Feature Request] Add FireFox Send to File Sharing"
Feature: Add [Firefox Send](https://send.firefox.com/) to File Sharing

[2018-10-03 22:52] Atavic commented on #525
It seems an API used inside WebRTC:
https://github.com/w3c/webrtc-pc/issues?q=is%3Aissue+is%3Aopen+label%3ASimulcast

[2018-10-03 22:53] Atavic commented on #525
It's an API used inside WebRTC, see [here](https://github.com/w3c/webrtc-pc/issues?q=is%3Aissue+is%3Aopen+label%3ASimulcast).

[2018-10-04 09:03] beerisgood commented on #527
No.
See https://github.com/mozilla/send/issues/897

[2018-10-04 15:05] #527 closed

[2018-10-06 19:53] Atavic commented on #331
Almost a year passed, and we got [this](https://github.com/CHEF-KOCH/NSABlocklist/issues/25). For more, see: https://securinghardware.com/articles/hardware-implants/

[2018-10-06 23:19] 0ss opened #530 "Ricochet.IM has not been updated for over 2 years"
If you check their website (ricochet.im), the latest version was released in November 2016. The last commit to their Github (https://github.com/ricochet-im/ricochet) was in 2017. I do not think we should be promoting software that does not seem to be updated or actively contributed to.

[2018-10-07 11:33] kewde commented on #525
I've had some experience with simulcasting, essentially it will tailor the video resolution to your internet connection. Disabling WebRTC (read: PeerConnection) should take care of it as a whole.

[2018-10-09 00:57] asddsaz opened #532 "Add Privacy Newsletters"
I have TONS of tools I use. It is basically impossible to keep up to date with every vulnerability. It would be super cool if we could have a Privacytools.io mailing list for each tool.

[2018-10-09 10:48] Shifterovich commented on #532
What do you mean exactly? Be notified when we add a new thing to the website?

We don't report on vulnerabilities, so this wouldn't keep you up to date with every vulnerability.

[2018-10-11 15:21] erotavlas85 opened #533 "Adding system adblocker and DNS changer for Android"
Hi,
unfortunately, Android only allows to change DNS for WiFi connection. In order to change DNS for cellular connection, it is necessary a workaround.
The following four app allows to change DNS and to block ads at system level:
- [Blokada](https://blokada.org/) without root
- [DNS66](https://github.com/julian-klode/dns66) without root
- [Daedalus](https://github.com/iTXTech/Daedalus) without roo

[2018-10-12 07:35] erotavlas85 commented on #533
I did not know about this. I do not have any google services and daedalus works for my lineage os 15.1.

[2018-10-13 05:57] Avizini commented on #526
wölkli uses Nextcloud.

[2018-10-13 13:33] Mikaela commented on #533
I am not sure if it's of interest to anyone here, but Blokada breaks IPv6 and may thus especially affect users who have DualStack Lite (native IPv6 + CGNed IPv4) and that is probably the most popular IPv6 transition mechanism. I know that in Finland at least 2/4 carriers have CGN, 3/4 have IPv6 and I the one of which I am not entirely sure of also has CGN. One of them has an option of paying a bit

[2018-10-14 02:12] Nic-Wow1 opened #534 "Why Wire/Signal instead of Matrix/Riot?"
Why is Wire/Signal rated above riot.im?

It even lists some of their major flaws:
**Signal**:
Warning: Requires a mobile number to register but you can securely use a disposable number.
**Wire**:
Caution: The company keeps a list of all the users you contact until you delete your account.

Riot, is FLOSS and decentralized while Wire/Signal is centralized and non-privacy respecting.

Plz consider r

[2018-10-14 16:56] infosec-handbook commented on #534
Your statement reads like the typical "XMPP/Matrix are the most secure and most private possibilities to chat on earth" statements.

FLOSS is neither a privacy nor a security feature. Furthermore, decentralization isn't a privacy feature and when it comes to security, decentralization most notably provides availability (exceptions confirm the rule.)

Feel free to provide any credible source that c

[2018-10-15 15:25] rcsilva83 opened #535 "DuckDuckGo Privacy Essentials"
This is a simple to use Firefox add-on which seams to replace both Privacy Bagder and HTTPS Everywhere. Do you think it should be recommended?

Link: https://addons.mozilla.org/pt-BR/firefox/addon/duckduckgo-for-firefox/

[2018-10-16 00:15] Nic-Wow1 commented on #534
@infosec-handbook

[2018-10-16 05:42] infosec-handbook commented on #534
This depends on which blogs you read. Some people tell you that decentralization/federation are privacy features. [We doubt this.](https://infosec-handbook.eu/blog/federation-myths/#m2)

---

You said it! FLOSS is an _ideology_. FLOSS lovers frequently seem to ignore that _FLOSS never guarantees either privacy or security._

Feel free to read this article: [XMPP: Admin-in-the-middle](https://infos

[2018-10-16 05:48] infosec-handbook commented on #532
I think @asddsaz means something like [this](https://www.cvedetails.com/vulnerability-feeds-form.php). Once, infosec-handbook.eu provided such feeds, however, tracking these reports consumes hours. I recommend to use a dedicated service instead of adding some reports here and there.

[2018-10-16 18:30] Shifterovich commented on #532
Yeah, there's enough CVE feeds already. @asddsaz Could you elaborate on what you meant?

[2018-10-17 00:54] kevATin commented on #534
exactly my thought last time i went over the site- matrix isn't just decentralized it's also federated giving the user an enormous advantage in freedom and privacy compared to non-federated alternatives like signal/wire/etc.

@infosec-handbook

FLOSS doesn't guarantee perfect privacy and security, but without being FLOSS there's absolutely no chance of something being perfect at privacy and securi

[2018-10-17 02:08] traumschule commented on #532
isn't this what seclists.org is for?

[2018-10-17 04:08] infosec-handbook commented on #534
@kevATin

Define "freedom" and the scope of "privacy" in your statement. Personal information exposed to server admins doesn't look enormously private to me.

---
When I look at @Nic-Wow1's original statement, he/she complains about Signal's usage of phone numbers. As I pointed out, you can use _any_ phone number. You only must control it during registration. The fact that you can use an _arbitrar

[2018-10-18 10:47] kevATin commented on #534
@infosec-handbook

I'm not sure what you are referring to, but in almost all cases you have to be able to trust the server(s) you use to a certain degree, you won't be able to get around that, no matter the service architecture. But guess what, since it's federated everyone is capable of hosting their own server (hopefully you trust yourself) and still be able to interact with anyone else- that's

[2018-10-18 16:09] infosec-handbook commented on #534
_everyone is capable of hosting their own server_ is as theoretical as _everyone can read and verify open source code_.

Let's change this statement to: _technical people with time, money and experience can host their own server which has to be in full physical control to be trustworthy_ … then you have a server with proprietary hardware. Did you check it for hardware backdoors? Did you check its

[2018-10-18 16:28] infosec-handbook commented on #534
Back to topic: _Recommend Matrix/Riot instead of Signal/Wire since Matrix/Riot is "FLOSS and decentralized while Wire/Signal is centralized and non-privacy respecting_".

As for **Signal**, I see the following **benefits**:

- It is open source software
- It is developed by computer security researcher Moxie Marlinspike who is also known for the underlying Signal Protocol and other cryptographic f

[2018-10-18 19:39] ProgressiveArchitect commented on #376
Bitwarden is a fantastic project with a lot of potential to overtake Keepass & KeepassXC from a User Interface perspective. It just has a much better GUI and has a dedicated app for most platforms out there with the ability to self host. The potential to host on Bitwarden's cloud is a big negative but is end to end encrypted which you can prove due to the client being open source.

However, I don'

[2018-10-20 01:46] 0pLuS0 opened #536 "Does Software Listed On privacytools.io Go Through A Code Audit?"
I'm sorry for posting this here, I did not see any email contact information on the site.

Does privacytools.io audit code before placing it on your website?

I hope this project does have Professionals with backgrounds in programming that can audit code, to ensure what you are recommending is helping and not hurting in any way.

Hurting in any way, Professionals should understand, how wide and fa

[2018-10-20 04:32] infosec-handbook commented on #536
@0pLuS0

I don't think so. The same is true for similar projects like prism-break.

I see a big problem here: Some people _on the internet_ who say that they are "professionals" (who is a "professional"?) tell you software is "good", "secure" etc. Why do you trust them? You don't know these people. You don't know which software version they evaluated. You don't know if they thoroughly audited the

[2018-10-21 01:18] 0pLuS0 commented on #536
If we can say, "Let's No Complicate" this anymore then it has to, then great!

Maybe Audit was a bad choices of words.

I assumed that privacytools.io would have, or be associated with people at different levels/skill sets as Programmer/Coders too, that could simply dig through the code to make sure it's not doing something malicious, or possible security risks/exploits...

So the question now bec

[2018-10-23 01:48] 0pLuS0 commented on #536
@infosec-handbook oh I get it, sorry I didn't even bring up everything you mentioned, I know all this.

I guess what I should of said, with time and thought, there is always ways to improve something, at least to a greater degree, then where it was sitting before.

So just putting software up for recommendation, isn't giving anyone much of anything to go on, so in what way, can it be improved, eve

[2018-10-23 18:18] Shifterovich opened #544 "Bootstrap 4 + Jekyll transition [HELP WANTED]"
It's time we update the website to BS4. I started to work on this in the [boostrap4-transition](https://github.com/privacytoolsIO/privacytools.io/tree/bootstrap4-transition) branch.

Also, I think that it's a good idea to start using Jekyll. Yes, it's mostly a one page website, but we can utilize includes a **lot**. Why specifically Jekyll? Because GitHub can build it automatically.

Here's an exa

[2018-10-23 18:19] Shifterovich commented on #544
@Vincevrp Thoughts?

[2018-10-24 07:57] nam1962 commented on #121
Hi, I use very similar recommendations on my tutos, do you think there will be redundancy between the new FF 63 anti tracking tool and decentraleyes or privacy badger ?

[2018-10-24 08:35] Shifterovich commented on #121
@kewde @beardog108

[2018-10-24 11:03] Shifterovich commented on #121
Disconnect uses the same lists as uBlock. Privacy Badger blocks what it thinks are unnecessary tracking requests. Decentraleyes replaces CDN libraries with local cache, I think.

[2018-10-25 09:39] Vincevrp commented on #544
Seems good to use Jekyll, though it might be difficult to implement linting for it? Maybe we can implement TravisCI to W3 validate the rendered pages and automatically deploy to github pages?

[2018-10-25 09:52] Shifterovich commented on #544
Probably the only option. If we use master as the branch for GitHub Pages, we won't have access to the _site directory with the rendered HTML.

[2018-10-25 09:52] ArmeF97 opened #545 "Why isn't iOS listed?"
Can I ask you why iOS isn't listed as a secure operative system, privacy-like?

[2018-10-25 13:07] Shifterovich commented on #545
How is it a secure operative system, privacy-like?

[2018-10-25 13:28] Vincevrp commented on #544
We can run [v.Nu](https://github.com/validator/validator) in a docker container on travis, or we can try something like [html5validator](https://github.com/svenkreiss/html5validator). I'm more familiar with [Hugo](https://gohugo.io) though Jekyll might be a better fit.

[2018-10-25 13:59] Shifterovich commented on #544
I don't think I have sufficient permissions to add CI to this repository. For what it's worth, I can run a bot on my server. The bot could comment on PRs for example.

Only @privacytoolsIO can do that.

[2018-10-25 14:42] Vincevrp commented on #544
Maybe ask @privacytoolsIO? If you don't plan to implement CI, maybe we could at least set up some rules on indentation etc.

[2018-10-25 15:13] Shifterovich commented on #544
Not sure if he's going to reply any time soon. He's often away for long periods of time.

[2018-10-25 15:46] Shifterovich commented on #544
I added a link to the preview of the current version (to the issue text).

[2018-10-25 17:50] Vincevrp commented on #544
Okay. It looks like you accidentally pushed `.sass_cache`. Remove and update `.gitignore`? Are we converting the current CSS to SASS as well?

[2018-10-25 18:38] Shifterovich commented on #544
Thanks, didn't notice the directory. Added to .gitignore. We aren't, those are Jekyll files. BTW, so that we don't work on the same things, if you want to help with this branch, you can focus on the icons for social buttons, fixing jumbotron, making images and tables responsive, etc. If I start working on something I'll comment here.

[2018-10-25 18:43] Shifterovich commented on #544
We might rewrite some sections of the website to markdown and then `{% include %}` that, btw. Or change the format of index.html to markdown, since markdown supports HTML.

[2018-10-25 19:20] Shifterovich commented on #544
All panels are now converted to `{% include card.html ... %}`. So now it's just minor changes and we can merge the branch. BTW, the website is also very nicely responsive.

[2018-10-25 19:21] ArmeF97 commented on #545
I didn't say it is, I just ask you why it is not

[2018-10-25 19:53] Shifterovich commented on #544
@Vincevrp I fixed the jumbotron and the blockquote, I'd appreciate if you could take a look at the navbar links. They're horribly wrong.

[2018-10-25 19:58] Vincevrp commented on #544
I'll try to purge the unnecessary anchor links with obsolete name attributes for something more elegant, if this what you are referring to.

[2018-10-25 20:21] Shifterovich commented on #544
I feel like the *Software* dropdown is very messy. The order is wrong from the point of: *File Encryption*, *File Sharing*. Also, I removed the password generator. And yeah, anchors need clickable icons and they need some margin, it seems, now there's no space between the headings and the navbar. And yes, I think using `<a name="">` is obsolete in HTML5.

[2018-10-25 20:32] Vincevrp commented on #544
I will look into this. I'd like to clear up the files first.

[code]

Is the above a duplicate file? I also assume that (most) css files that haven't been touched in this branch can be removed?

[2018-10-25 20:35] Vincevrp commented on #544
I've also noticed that the tables don't scale well on mobile. Could you add that to the checklist?

[2018-10-25 20:43] Shifterovich commented on #544
I was thinking about that file as well. Generally, the `_site` folder is used for the rendered HTML, but that's in the root directory, I deleted the file and everything works, so I'll remove it from git as well.

I will. The BS4 way of doing responsive tables is wrapping them in a `div.table-responsive` which adds a horizontal scrollbar.

[2018-10-25 20:53] Vincevrp commented on #544
I was also thinking about asset minification. It feels weird to see minified and map files in git. I assume we can solve this by using something like [jekyll-minifier](https://github.com/digitalsparky/jekyll-minifier) or .

[2018-10-26 04:01] Shifterovich commented on #544
Instead of HTML preview, I could write a bot that would clone the PR, build it using Jekyll and comment build log and a URL to the preview.

[2018-10-26 04:55] Shifterovich commented on #544
@Vincerp Though we're not going to change anything in those files, so they can stay minified. We could minify custom.css, but that's such a small file that there's no point in doing that.

[2018-10-26 05:03] #524 closed

[2018-10-26 05:11] Shifterovich opened #549 "Comma missing in "If you are currently using * you should pick an alternative here""
I'm not a native speaker, but it looks weird without the comma before `you`.

[2018-10-26 05:15] Shifterovich commented on #544
`.panel-item` (the `<img>` in cards) has `margin-left: 5px`. Maybe slightly reduce it and also add it to the bottom?

![screenshot from 2018-10-26 07-13-52](https://user-images.githubusercontent.com/4354706/47545875-da3c4880-d8ee-11e8-9a3e-d5c11d7775e2.png)

[2018-10-26 06:17] ArmeF97 commented on #545
Ok, thanks a lot! :smile:
Just to ask, is Lineage OS full open-source? Aren't drivers closed source sometimes?

[2018-10-26 07:01] Shifterovich commented on #545
If you think LineageOS should be removed, create an issue for that, instead of asking why we're not listing a proprietary OS.

[2018-10-26 07:31] ArmeF97 commented on #545
Thanks!

[2018-10-26 10:42] Vincevrp commented on #544
Can't we include bootstrap in `Gemfile`? It's quite ugly to have the minified files in the repository, especially since they're not going to be changed.

[2018-10-26 10:49] Shifterovich commented on #544
These are all the resources we use:

CSS:

[code]

JS:

[code]

Can we include all of these in `Gemfile`? A quick search found this: https://github.com/twbs/bootstrap-rubygem

Do GH Pages support these gems?

[2018-10-26 10:58] Vincevrp commented on #544
Not sure if it's supported. I hope it is because that would make things a lot nicer and avoid the instant need for CI.

[2018-10-26 10:58] Shifterovich commented on #534
Open-source itself isn't a privacy/security feature. An open source keylogger isn't going to provide you with much privacy.

How is it non-privacy respecting? This website isn't about recommending unbreakable unusable tools. Convenience also plays a big role. I'll argue that Riot is really non-privacy respecting compared to in-person exchanged one time pads.

A phone number is a good trade-off, yo

[2018-10-26 11:41] beerisgood commented on #545
No current mobile phone OS is fully OpenSource. Wait for https://puri.sm

[2018-10-26 13:34] Shifterovich commented on #544
How so?

[2018-10-26 14:05] Shifterovich commented on #145
@Vincevrp

[2018-10-26 14:07] Shifterovich commented on #146
@Vincevrp

[2018-10-26 14:07] #142 closed

[2018-10-26 15:49] Vincevrp commented on #544
Then Jekyll can include bootstrap (with css + js) automatically when building. We can then remove the bootstrap files, it's not good practice to have the minified files in git.

If Github Pages can't do this, travis-ci can.

[2018-10-26 18:09] Shifterovich commented on #544
How is it related to the instant need for CI, though?

[2018-10-27 11:57] Vincevrp commented on #544
If we actually want to implement that and Github Pages can't do it, we'd need CI. If you don't see this as something important then we could probably do this later. It'd be nice to have since we could add some linting/validation.

If Github Pages can add bootstrap from the Gemfile, we don't need CI for this but we definitely should add some rules on indentation, etc.

[2018-10-27 12:09] Vincevrp commented on #146
Great idea, though I'm not sure where we'd place them.

[2018-10-27 12:54] Shifterovich commented on #544
https://github.com/privacytoolsIO/privacytools.io/commit/2cc3e2c9b3c22b7b5c393db55f673ebd4111859d I fixed all the HTML errors. Now there's just warnings about `<a name="">` being obsolete. If you could fix that and we could make sure the HTML is valid now, my bot could just comment on PRs with Jekyll build log and HTML validation result.

[2018-10-27 13:01] Shifterovich commented on #146
How about this?

![screenshot from 2018-10-27 15-00-38](https://user-images.githubusercontent.com/4354706/47604368-13f97600-d9f9-11e8-8b35-e543474e6b3b.png)
![screenshot from 2018-10-27 15-00-06](https://user-images.githubusercontent.com/4354706/47604369-14920c80-d9f9-11e8-9765-c126c63b19e2.png)

[2018-10-27 14:09] Vincevrp commented on #544
I'm working on this as we speak.

[2018-10-27 14:30] Shifterovich commented on #146
https://github.com/privacytoolsIO/privacytools.io/commit/ca93d61b45ba8ab7ee934c515ef11fbfd053b2fa Feature added, but we still need to add the labels to the cards.

[2018-10-27 16:16] Shifterovich commented on #544
Alright, it's almost done now. Could you take a look at the links in the navbar and make sure they're in the correct order?

[2018-10-27 16:18] Vincevrp commented on #544
I'll take a look at this later (maybe today). I'm now experimenting with the `Gemfile`. I currently have it working so that it automatically installs bootstrap etc. I'll test if Github Pages can do this for us.

[2018-10-27 16:46] Shifterovich commented on #544
Anyway, I think Gemfile and navbar are enhancements. The branch is ready to be merged now.

[2018-10-27 17:36] Shifterovich commented on #544
Maybe we can delete some map files? Also, do we need `bootstrap-gird` and `bootstrap-reboot` if we're not including them anywhere?

[2018-10-27 17:37] Vincevrp commented on #544
Correct. I'll quickly fix this.

[2018-10-27 17:59] Vincevrp commented on #544
Done #553

[2018-10-29 22:03] #511 closed

[2018-10-29 22:29] Offpics opened #559 "Extend VPN section information"
After some intro text on the site, the first thing that a user sees is a VPN section, that suggests to just click and buy a service.

There is actually no explanation why would anybody need a service like VPN. There should be some information what are the actual risks and benefits of using it in different countries.

[2018-10-29 22:47] Shifterovich commented on #559
I wanted to add many tutorials and things like this to the website, but I don't have enough time for that right now.

However, I have a few articles about VPNs, like this one: https://theprivacyguide.org/tutorials/understanding-vpns.html.

[2018-11-02 01:51] asdfghjz commented on #532
@Shifterovich What I meant was like, lets say somebody found a bug for a tool they could go to the mailing list and notify everyone else.

PrivacyTools.io may also have a spam protected list.

Personally, I didn't know of the Firefox Mr. Robot and Spying Scandals until much after it was uncovered.

[2018-11-02 17:08] Atavic commented on #533
- ***personalDNSfilter***: https://zenz-solutions.de/personaldnsfilter/

[2018-11-02 17:09] Atavic commented on #533
- **personalDNSfilter**: https://zenz-solutions.de/personaldnsfilter/

[2018-11-06 23:10] Aquakor commented on #549
I'm also not a native English speaker, but I agree with you. I think this is a first conditional sentence. If a conditional clause comes before a main clause, we separate them with a comma, [source](https://dictionary.cambridge.org/de/grammatik/britisch-grammatik/conditionals-and-wishes/conditionals).

I think we should also consider changing the tense of a conditional clause from present continuo

[2018-11-07 12:08] Shifterovich commented on #549
I don't think the continuous tense necessarily means "using right now". I think it highlights using it actively. `If you currently use Telegram` sounds like "if you use it at all". So in my opinion the continuous tense highlights that you use it actively - there's nothing wrong with using Messenger for some things and Signal for important things.

Though again I'm not a native speaker. We can fix

[2018-11-07 15:05] Aquakor commented on #549
@Shifterovich yes, I will create it.

[2018-11-07 15:58] ghost opened #566 "Remove Tox recommendation"
This article / blog explains everything;
https://chefkochblog.wordpress.com/2018/04/05/r-i-p-tox-messenger/

[2018-11-07 16:06] Shifterovich commented on #566
@beardog108

[2018-11-07 18:16] lmaowski opened #567 "Add systemd notes in PC Os section"
Suggestion comes from [this reddit post](https://www.reddit.com/r/privacytoolsIO/comments/9uwgm1/please_mention_the_risk_of_running_systemdbased/). It has good points and worth mentioning systemd in the PC OS section.

[2018-11-08 15:34] beardog108 commented on #566
Yeah, probably worth removing. Tox was good while it lasted and it still holds value as a project but for actual use there are much better options at this point.

[2018-11-08 16:49] infosec-handbook commented on #534
If you live in a totalitarian state, it's very likely that no technology will protect your privacy. Try to run your Matrix server in North Korea.

Most governments can easily monitor servers of hosting companies and your internet connection, too. Thinking that governments can't monitor your conversations since you use Matrix/XMPP is somewhat gullible.

[2018-11-08 17:29] #549 closed

[2018-11-09 01:40] atomGit opened #576 "Firefox: CanvasBlocker, Neat URL, Smart Referer"
in addition to the currently listed add-ons on privacytools.io, i would suggest the following:

* [CanvasBlocker](https://addons.mozilla.org/en-US/firefox/addon/canvasblocker/)
* [Cookie AutoDelete](https://addons.mozilla.org/en-US/firefox/addon/cookie-autodelete/)
* [Neat URL](https://addons.mozilla.org/en-US/firefox/addon/neat-url/)
* [Smart Referer](https://addons.mozilla.org/en-US/firefox/addo

[2018-11-09 01:47] atomGit opened #577 "suggested Firefox config tutorial"
it's an ongoing process, but i've written a fairly extensive tutorial for Firefox (and derivatives) regarding privacy and, to a lessor extent, security and performance - you might want to link to it at privacytools.io - it depends heavily on add-ons already suggested by privacytools, including uBO and uM, as well as the ghacks user.js which i think is very important for those looking for an easier

[2018-11-09 01:51] atomGit opened #578 "Privacy Respecting Search Engines: suggestions"
i keep a table here that you can use, copy or link to if you wish - i suggest the latter since i update it fairly often and therefore you won't have to...

[Alternative Search Engines That Respect Your Privacy](https://12bytes.org/tech/alternative-search-engines-that-respect-your-privacy)

[2018-11-10 22:11] Booteille opened #579 "Replace Youtube links for PeerTube"
Hi!

Since PeerTube released I think this could be a good idea to re-upload all videos (2 atm) used on privacytools.io on PeerTube and use those links instead of YouTube.

What do you think about that?

Links:
PeerTube: https://joinpeertube.org
Edward Snowden video on PeerTube: https://peertube.mastodon.host/videos/watch/4cdedd90-a5b4-4022-b93d-828e85ed58cd
DEFCON 20 video on PeerTube: https://pee

[2018-11-11 08:05] beerisgood commented on #579
Maybe https://invidio.us / https://github.com/omarroth/invidious too

[2018-11-11 09:35] Booteille commented on #579
Yeah. I thought about it but I would prefer PeerTube over invidio.us because invidio.us is a fron-end for YouTube. It still has to call Google servers to obtain the video and I would prefer a solution who gets totally ride of Google.

[2018-11-11 16:10] Shifterovich commented on #579
:+1:

[2018-11-11 16:17] #566 closed

[2018-11-11 19:04] beerisgood commented on #579
Sure. But the problem with PeerTube is that not that big content from youtube exist their. So i would set Invidio as fallback (which btw not even need JavaScript to display videos!)

[2018-11-11 19:31] Booteille commented on #579
Sure. We could use Invidio.us as a fallback.
But the point is since we only have two videos from Youtube displayed on the website, we could just upload the missing one and use peertube links instead of YouTube. We don't need there is any other content on PeerTube than the videos we want to be displayed on the website.

[2018-11-11 19:33] Shifterovich commented on #579
JS is not inherently bad. It's bad on evil sites which use it to track you. I highly doubt PeerTube is one of those sites.

[2018-11-13 10:42] tya99 commented on #566
That blog is is clickbait. While there were some problems with management in the past those issues have been overcome. I get the feeling the author doesn't really know what he is talking about.

To claim something is 'dead' when there is regular commits and development within the community is just plain incorrect.

https://github.com/TokTok/c-toxcore/graphs/code-frequency
https://github.com/qTox/q

[2018-11-13 10:42] tya99 commented on #566
That blog is is clickbait. While there were some problems with management in the past those issues have been overcome. I get the feeling the author doesn't really know what he is talking about.

To claim something is 'dead' when there is regular commits and development within the community is just plain incorrect.

https://github.com/TokTok/c-toxcore/graphs/code-frequency
https://github.com/qTox/q

[2018-11-13 12:25] Aquakor opened #584 "Remove Google+ share button"
The button is useless because Google is shutting down the service as stated [here](https://www.blog.google/technology/safety-security/project-strobe/).

[2018-11-13 12:31] tya99 commented on #566
After reading through https://github.com/TokTok/c-toxcore/issues/426 in depth I'd say we should keep an eye on this project but not re-add it at this time.

**Tox by no means is dead like the blog author suggests** however. There is an effort to produce a [full specification](https://toktok.ltd/spec.html). Until clients like [qTox](https://qtox.github.io) and uTox begin to use that core I don't th

[2018-11-13 12:36] tya99 opened #585 "Add "Redirect AMP to HTML" to FF addons"
I believe we should consider adding [Redirect AMP to HTML](https://www.daniel.priv.no/web-extensions/amp2html) to the [addons](https://www.privacytools.io/#addons) section.

It was previously discussed in [this reddit thread](https://www.reddit.com/r/privacytoolsIO/comments/9slnf5/redirect_amp_to_html)

[2018-11-13 12:52] Shifterovich commented on #584
Rather than removing it, I think we should replace it with something else, to keep the layout of the share buttons the same.

[2018-11-13 12:52] quantumpacket commented on #566
It's odd that Chefkoch who got banned from Github recently and who is the author of that blog post suddenly has someone open this issue and link to his blog and then delete their Github account. Makes it suspiciously appear like another chefkoch sock puppet account. Take anything he says and does with a grain of salt,  just saying...

[2018-11-13 14:57] Shifterovich commented on #566
I didn't notice it's from CK. He got banned from GH? Why?

[2018-11-13 15:05] tya99 commented on #566
Re https://github.com/privacytoolsIO/privacytools.io/issues/566#issuecomment-438249651

Another option could be to mark it as "experimental". Looking over privacytools.io it seems there are plenty of things mentioned there that have not undergone formal audits.

In terms of quality I also feel that there are far worse things mentioned there which are unmaintained (bitmessage for example). Perhaps

[2018-11-13 15:33] quantumpacket commented on #566
@Shifterovich https://github.com/ghacksuserjs/ghacks-user.js/issues/323 details the problems with him stealing other people's work and claiming it as his own. This led to him blindly stealing code which just so happened to contain links to kiddie porn which is what finally got him banned. He's not the best person for anyone to be taking advice from.

[2018-11-13 15:38] tya99 commented on #566
Maybe at this point it would be appropriate to reopen this ticket.

Perhaps should:

1. Revert the change
2. Wait for the label feature https://github.com/privacytoolsIO/privacytools.io/issues/146
3. Close this ticket with appropriate label

[2018-11-13 16:55] tya99 commented on #474
I don't think this should be removed as there's nothing to cause reason that it does not work. The security of this mostly uses Tor Hidden Services.

[2018-11-13 17:05] tya99 commented on #566
@quantumpacket

I wonder if that Chefkoch had anything to do with these issues seems like the same writing style.

https://github.com/privacytoolsIO/privacytools.io/issues/474
https://github.com/ricochet-im/ricochet/issues/579
https://github.com/nylira/prism-break/issues/1975

Not sure about that one: https://github.com/ricochet-im/ricochet/issues/568

[2018-11-13 18:02] beerisgood commented on #584
@Shifterovich maybe Mastadon

[2018-11-13 18:05] Shifterovich commented on #584
Yeah, exactly my thought. Seems like it's not there. Though how do we do that with Mastodon, given its federatedness?

[2018-11-13 18:08] Shifterovich commented on #376
Can anyone create a PR?

[2018-11-13 19:50] Vincevrp commented on #376
@Shifterovich I can implement this. Which place should it take in the recommendations?

[2018-11-13 20:01] Shifterovich commented on #376
Seems like it's cloud-based but with client-side encryption? I personally use KeePass and LessPass, I've never used Master Password. I'd replace either Master Password or LessPass, since they both do the same thing. That way we will have all 3 types there.

[2018-11-13 20:05] Vincevrp commented on #376
I suggest:

1. LessPass
1. KeePass
1. Bitwarden

[2018-11-13 20:21] Shifterovich commented on #376
I agree, use whatever order for LessPass and KeePass to make it aesthetically pleasing (I suspect the LessPass color will work great with `primary`).

[2018-11-13 20:51] Vincevrp commented on #376
Okay, I will implement this. You can assign me to this issue.

[2018-11-13 20:52] kspearrin commented on #376
@Vincevrp This repo might help: https://github.com/bitwarden/brand

[2018-11-13 21:22] Shifterovich commented on #376
@Vincevrp I can't assign non-collaborators unfortunately. Nevermind. @kspearrin thanks.

[2018-11-13 22:34] Aquakor commented on #376
To be honest this is the first audit that I've ever gave a quick glance. I guess 11 identified problems is a low number. But the conclusion is kinda worrying for me.

[2018-11-15 04:31] kspearrin commented on #376
@Aquakor I am the lead developer of Bitwarden and was intimately involved in the security audit mentioned. I can understand that those two paragraphs may seem a bit concerning out of context. To provide more context, there were several points discussed between the Bitwarden developers and the auditing team about how we could redesign specific features so that the crypto implementations would be st

[2018-11-15 08:51] Booteille commented on #584
@Shifterovich You can find an example of share button on this project: https://github.com/Aly-ve/Mastodon-share-button

[2018-11-15 09:01] Shifterovich commented on #584
@Vincevrp

[2018-11-16 20:39] leobel96 opened #595 "[Feature request] New password managers"
I suggest to add these opensource password managers: https://github.com/bitwarden and https://github.com/padlock/padlock

[2018-11-16 20:46] Shifterovich commented on #595
#587 BitWarden is added now.

[2018-11-17 14:23] tya99 opened #596 "Table or mouseover showing instant messenger pro/con"
I think for the instant messenger section we should have a table or a mouse over. Some sort of way to make a comparison so a user can decide what is right for them.

For example Matrix is great for features and interoperability and end to end security but it does come at the cost of having certain metadata for it to function.

Tox is great because it is server less but that comes at the cost of ce

[2018-11-17 15:06] Shifterovich commented on #596
![screenshot from 2018-11-17 16-04-13](https://user-images.githubusercontent.com/4354706/48662473-ab933700-ea82-11e8-939f-36f43b1a614d.png)

Or just add another row.

[2018-11-17 18:11] Shifterovich commented on #596
The one that matches your needs. The labels can be used to describe which one is good for what.

[2018-11-17 19:14] tya99 commented on #596
My comment was more how a user who doesn't really know much about the topic of privacy might react. This is why in the past I've referred people to privacytools.IO and not prism-break. It's usually triggered from a verbal conversation, sometimes online.

When you're hit with a page like https://prism-break.org/en/all/#instant-messaging for example, it isn't immediately obvious which one you should

[2018-11-17 20:04] Shifterovich commented on #596
Maybe adding

**Pros:**
 - abc
 - def

**Cons:**
 - ghi
 - jkl

to the bottom of each of the top 3 messengers description would work?

### Signal

[...]

**Pros:**
 - very easy to use
 - ...
**Cons:**
 - requires your phone number

### Matrix

[...]

**Pros:**
- very secure
- ...
**Cons:**
- hard to use

(I'm not making claims about either of these messengers, I'm just suggesting how it *could* lo

[2018-11-18 04:47] tya99 commented on #596
I think this would be a good way of implementing it.

In regard to matrix being hard to use, I think a better con there would be that metadata needs to exist in order for bridge functionality to exist from: https://matrix.org/~matthew/2016-12-22%20Matrix%20Balancing%20Interop%20and%20Privacy.pdf#page=16

[2018-11-18 07:22] GrimPixel opened #599 "[Feature Request] Add “Just Delete Me”"
https://justdeleteme.xyz/

It teaches people how to delete accounts, and which sites don't allow to do so.

[2018-11-18 07:44] GrimPixel commented on #599
Wait. It is also appearing on another site, but some information is different, such as Discord.

https://backgroundchecks.org/justdeleteme/

[2018-11-18 14:47] Shifterovich opened #600 "Fix 404.html"
It's ugly: https://www.privacytools.io/abc

@Vincevrp could you fix it? I suspect removing this CSS will be enough:

https://github.com/privacytoolsIO/privacytools.io/blob/fe7dcc41a5bdbac62b4f0267e5596bdef4f3b769/404.html#L6-L10

[2018-11-18 14:48] #544 closed

[2018-11-19 09:15] tya99 opened #603 "Email relaying opportunistic encryption technologies"
While most of us agree that [PGP](https://en.wikipedia.org/wiki/Pretty_Good_Privacy) is the best way secure the contents of email, this sometimes is not possible and [opportunistic TLS](https://en.wikipedia.org/wiki/Opportunistic_TLS#Weaknesses_and_mitigations) is still required to secure collection of email metadata when it is being relayed.

I think with our [email table](https://www.privacytool

[2018-11-19 13:01] pahakalle commented on #599
https://github.com/justdeleteme/justdelete.me

[2018-11-19 16:16] Shifterovich commented on #603
Good idea.

The names could be something like "Great security", "Very good security", and "Good security". I suggest adding a reason behind each badge/star, explaining what's good/bad. Similar to how the `*` is used [here](https://www.privacytools.io/#kdl), but we'd use numbers.

[2018-11-19 16:17] Shifterovich opened #604 "Wrong order in "Key disclosure laws don't apply""
https://www.privacytools.io/#kdl

Germany should come before Poland - alphabetic order.

[2018-11-20 02:36] tya99 commented on #603
I think the preliminary categories will be and will be based on, domain security, SMTP encryption and authentication.

I have decided I think we should only have two categories, Good and Very Good. Something with 'poor' security should never be recommended and therefore should be removed.

Very good security requires:
Domain Security:
 - [DNSSEC](https://en.wikipedia.org/wiki/Domain_Name_System_Se

[2018-11-20 09:10] tya99 commented on #603
I might change it to "Good" and "Great" the "Providers to be Removed" list well those things I don't think are really negotiable. I shall wait to see what their input is on that.

I don't believe this issue should be hurried as it may take time for them to implement some of these things. They also may already have a timeline on when they want to implement some of these things.

This is true and wh

[2018-11-20 12:41] #604 closed

[2018-11-20 12:59] Shifterovich commented on #603
True. Only a locally stored app, built from/hashchecked with a peer reviewed source would solve this.

There are many providers which are outside US and support SMTP TLS. I think the best metric to look at is implementation/willingness to implement more security features.

[2018-11-20 17:44] GrimPixel commented on #185
Yes, using flags to represent languages is a popular terrible idea.

http://www.flagsarenotlanguages.com/blog/

[2018-11-22 00:40] Vincevrp commented on #143
Password generator has been removed in 43a14c32502a565f7e68120e90a5ce34168c64b0

[2018-11-22 00:40] #143 closed

[2018-11-22 00:43] Vincevrp commented on #595
There's already an issue for Padlock  #178

[2018-11-22 00:43] #595 closed

[2018-11-22 00:47] Vincevrp commented on #187
Master Password was moved to "Worth mentioning" in  #587.

[2018-11-22 00:54] Vincevrp commented on #467
Password generator has been removed in 43a14c3

[2018-11-22 00:54] #467 closed

[2018-11-22 00:56] Vincevrp commented on #471
#544

[2018-11-22 00:56] #471 closed

[2018-11-22 00:59] Vincevrp commented on #486
CopperheadOS was removed in #488.

[2018-11-22 00:59] #486 closed

[2018-11-22 02:42] tya99 commented on #566
@Shifterovich I think we are in agreement https://github.com/privacytoolsIO/privacytools.io/pull/592 should be accepted, would you like to merge?

[2018-11-22 05:53] Shifterovich commented on #187
It's the same with LessPass. The issue with these password managers:
- not as secure, each password is based in your master password which some people don't like as they see that as a potential attack vector
- your master password being leaked results in all your passwords being leaked.

[2018-11-22 06:00] Shifterovich commented on #566
The label feature is implemented for software that's in the top 3. Could you add <span class="badge badge-warning">Experimental</span> before the description of Tox in #592?

[2018-11-22 10:01] tya99 commented on #566
I was under the impression that it only worked in the panels. Does this look right?

[code]

[2018-11-22 10:48] Booteille opened #608 "The menu doesn't work when being on another page than index"
**Steps to reproduce:**
1. Go to [Donation page](https://www.privacytools.io/donate.html)
2. On the menu, click on Provider then on Privacy Email.
3. Nothing happens.

This is because we just use an anchor without specifying the page or the anchor in the menu.
We should so replace all entries like this one `<a class="dropdown-item" href="#ukusa">Avoid all US and UK based services</a>` to something

[2018-11-22 12:29] beerisgood commented on #187
Yeah. Set KeePass as best solution and add cloud solution a warning label

[2018-11-22 12:41] Shifterovich commented on #608
I'll add an index.html prefix to those links if the user is on the donate page.

[2018-11-22 12:44] Shifterovich commented on #566
Ah, I forgot to escape HTML in my comment.

Use `<span class="badge badge-warning>Experimental</span>`.

[2018-11-22 13:20] tya99 commented on #566
ah got it, fixed https://github.com/privacytoolsIO/privacytools.io/pull/592/commits/70305215b518bc0bbba4f7158b0f19bea9c094ad

[2018-11-22 15:22] Shifterovich opened #609 "Gemfile breaks `jekyll s`"
The current Gemfile includes GH pages, but for `jekyll s` to work, with jekyll-watch, you need

`gem "jekyll", "~> 3.8.4"`

[2018-11-22 15:29] Vincevrp commented on #609
Use `bundle exec jekyll serve`

[2018-11-22 15:34] Shifterovich commented on #609
Maybe add this to readme?

This still doesn't execute due to the GH pages dependency. Should that be installed on local machines as well?

[2018-11-22 15:35] Shifterovich opened #610 "Mobile responsivity broken again"
Some sections are wider than 100% of the screen width.

[2018-11-22 15:36] Shifterovich opened #611 "Fix webrtc.html"

[2018-11-22 17:39] Shifterovich commented on #609
`bundle install` is an extremely long process. It took like 5 minutes. Isn't it possible to have a different Gemfile for gh pages and for people who clone the repo? Simply changing the gh pages gem to jekyll takes like one second and is quick.

We could just recommend people to run `sed -i 's/gem "github-pages", group: :jekyll_plugins/gem "jekyll", "~> 3.8.4"/g' Gemfile`, and if on Windows to make

[2018-11-22 18:02] Vincevrp commented on #609
This takes under 1 minute for me.

As I wrote in #582, the reason we use it it is explained [here](https://jekyllrb.com/docs/github-pages/#the-github-pages-gem).

[2018-11-22 22:39] #584 closed

[2018-11-24 11:07] tya99 commented on #474
Sure I've got this.

[2018-11-25 10:40] Shifterovich commented on #611
https://github.com/privacytoolsIO/privacytools.io/commit/1ca549dae07b4930cf82208142ea852e162fb85b#comments

Still needs fixing.

[2018-11-25 10:41] Shifterovich commented on #608
https://github.com/privacytoolsIO/privacytools.io/commit/6f9bad7191637b5be96dae07d225dcacc3fb1966

[2018-11-25 10:41] #608 closed

[2018-11-25 10:43] Shifterovich opened #617 "Add issue templates"
Like this: https://github.com/laravel/framework/issues/new/choose

Templates like "Software suggestion", "Software removal", "Feature", "Discussion" or something like that.

[Here's the code](https://github.com/laravel/framework/tree/5.7/.github/ISSUE_TEMPLATE) laravel/framework uses for this.

GH documentation: https://blog.github.com/2018-05-02-issue-template-improvements/

[2018-11-25 11:02] tya99 commented on #474
How does this look:

![warning-ricochet](https://user-images.githubusercontent.com/42108382/48978307-8e252500-f0a1-11e8-8726-c526e4197578.png)

[2018-11-25 11:19] Shifterovich commented on #474
Looks good! The only change I'd make is: <code><a href="#">[icon] See below</a></code> -> <code>See below: <a href="#">[icon] Updating the Tor binary included with Ricochet</a></code>.

So: `[Danger]` <strong>Always keep Tor up to date. See below: <a href="#">[icon] Updating the Tor binary included with Ricochet</a></strong>

And maybe add a command to copy it on Linux and OS X? Hm, maybe a symlin

[2018-11-25 11:51] tya99 commented on #474
Easy done.

It would be better to **delete** the Tor binary included with Ricochet as there's **absolutely no reason** to use an old vulnerable version of Tor. It would be better for Ricochet to **not open** than to risk it using a vulnerable version of Tor.

For MacOSX and Linux it should be sufficient to just "delete" the bundled Tor binary as long as Tor is in the `$PATH`. Ricochet then will fa

[2018-11-25 12:30] Shifterovich commented on #474
Great. Since it has a fallback to PATH, there's no need to create symlinks. <strike>Though which `tor` is part of PATH? The one from the browser? The one installed using `apt(-get)` for example? If the latter then</strike> it should be noted that updating Tor Browser won't update the other tor (likely).

On my OS, there's:

a) `/home/ubuntu/tor-browser_en-US/Browser/TorBrowser/Tor/tor`
b) `/usr/sb

[2018-11-25 12:46] tya99 commented on #474
When referring to using `rm` on the Linux platform I meant to delete `ricochet/tor` assuming they installed it from `ricochet-1.1.4-linux-x86_64.tar.bz2`.

If you installed [Ricochet through apt-get](https://packages.debian.org/stretch/amd64/ricochet-im/filelist) you're going to find that it doesn't include [Tor](https://packages.debian.org/stretch/tor) and will depend on it instead. The maintaine

[2018-11-25 13:34] tya99 commented on #474
How do you like this?

![ricochet-better](https://user-images.githubusercontent.com/42108382/48979714-c97e1e80-f0b6-11e8-8c56-e7fd48ac8571.png)

[2018-11-25 13:38] tya99 commented on #474
Note I fixed up point 3. (duplication of below instructions).

[2018-11-25 14:35] Shifterovich commented on #474
I meant to keep a copy of the tor version that ricochet uses. Just a small detail, not important.

[2018-11-25 17:40] Vincevrp commented on #611
Why don't we replace it with [ipleak.net](https://ipleak.net)?

[2018-11-25 17:47] Shifterovich commented on #611
I agree that there's really no need to host this specific test ourselves. We already link to tons of other websites. And ipleak.net is a great choice as it checks all sorts of leaks.

[2018-11-25 17:57] #600 closed

[2018-11-25 18:47] #611 closed

[2018-11-25 18:52] #376 closed

[2018-11-25 20:13] Vincevrp commented on #151
The website also has a bad score on [gtmetrix](https://gtmetrix.com/). Prehaps @privacytoolsIO can optimize some of these issues?

[2018-11-25 20:14] Shifterovich commented on #151
Doesn't GH support HTTPS without CF now?

[2018-11-25 20:17] Vincevrp commented on #151
It does but Github cache settings aren't optimal, I think you could better optimize it with CF. Though if CF is seen as a privacy issue, we'd be better of without it.

[2018-11-25 20:18] nikhiljha commented on #151
GitHub's server also scores an F on observatory for similar reasons.

[2018-11-25 20:31] nikhiljha commented on #144
The 2FA thing should require very little research (hopefully). It's all listed on 2fa.io.

[2018-11-25 20:58] nikhiljha opened #624 "Split website into pages with clear, actionable information."
### Problem Description

This is the current organization of the site.

<img width="624" alt="screen shot 2018-11-25 at 12 45 54 pm" src="https://user-images.githubusercontent.com/2773700/48984406-0db9f080-f0b0-11e8-9df3-499315116dd2.png">

To me, the current organization feels too bloated to have on a single page. When I link it to someone, I get hit with  "uhhhh, that's a lot of information." Pe

[2018-11-25 21:03] Shifterovich commented on #624
I'd keep it single-page, but some sections (and especially the navbar) need reorderinig/refactor.

[2018-11-25 21:14] Vincevrp commented on #624
#145

[2018-11-26 02:55] gjhklfdsa opened #626 "[Question] Do Key Disclosure Laws Apply in Iceland?"
**Question**: Do key disclosure laws apply in Iceland? Are there any key disclosure laws in Iceland?

[2018-11-26 03:00] gastaunda commented on #328
It looks like https://minilock.io/ now is being used by someone named Mi Nilock.  So the link probably should be replaced now.

[2018-11-26 07:07] Shifterovich commented on #328
Can anyone create a PR?

[2018-11-26 07:11] Shifterovich commented on #626
Most data in the table is taken from Wikipedia. If you can't find anything on Google then they probably don't apply.

[2018-11-26 09:15] #617 closed

[2018-11-26 17:47] Shifterovich opened #630 "Add PR templates"
https://blog.github.com/2018-01-25-multiple-issue-and-pull-request-templates/

Same as #617 but for PRs.

[2018-11-26 17:49] Shifterovich opened #631 "Add titles and labels to templates"
https://help.github.com/articles/about-automation-for-issues-and-pull-requests-with-query-parameters/

I think we can make the template add these query parameters.

[2018-11-26 20:02] gjhklfdsa commented on #626
@Shifterovich It is sort of weird for it not to be listed though. There are many more countries than the 19 listed. If I understand correctly, these countries also don't have any specific law regarding this:
- Greece
- Argentina
- Spain
- Slovenia
- Romania
- Switzerland
- Netherlands
- Hungary
None of these are listed.

[2018-11-26 22:02] ghost opened #633 "WireGuard?"
Can anyone comment on the security of WireGuard? Should be a faster VPN protocol than OpenVPN.

[2018-11-26 22:08] KenanSulayman commented on #633
Related whitepaper: https://www.wireguard.com/papers/wireguard.pdf

- uses NoiseIK handshake
- transport is authenticate-encrypted using ChaCha20Poly1305
- Curve25519 is used for authenticating VPN parties
- protocol doesn't communicate when not used, unless specifically configured to be noisy

[2018-11-27 11:29] Shifterovich commented on #633
https://airvpn.org/topic/28984-wireguard/?p=76527 Seems like it hasn't been properly audited yet?

[2018-11-27 11:45] Shifterovich commented on #633
@KenanSulayman

If we recommend WireGuard on the site, we should "warn" users about this. While this is great performance-wise, we should explain why noise is good for privacy.

Maybe I could even write something about noise on theprivacyguide.org and we could link to it. I think there are programs that one can run to artificially create noise when not communicating.

Privacy-wise, your traffic sh

[2018-11-27 11:48] Shifterovich opened #637 "[Software Suggestion] Vuvuzela"
## Basic Information

**Name:** Vuvuzela
**Category:** Instant messenger
**URL:** https://vuvuzela.io/

## Description

Vuvuzela creates noise indistinguishable from normal traffic when you're not communicating to avoid traffic analysis.

![Noise](https://vuvuzela.io/static/server.gif)

[2018-11-27 23:58] Vincevrp commented on #631
Also add the correct project board, please.

[2018-11-28 03:57] gjhklfdsa commented on #637
Very old-looking UI:
![image](https://user-images.githubusercontent.com/45323745/49128032-9e1b4f80-f2c1-11e8-96d5-c522c7f58d65.png)

Not that this should keep it from being listed, I just would only have it under "Worth Mentioning".

[2018-11-28 07:53] Shifterovich commented on #637
I agree. It's probably not ideal for most users. Most users don't really care about (metadata) traffic analysis either.

[2018-11-28 07:57] Shifterovich commented on #631
Good point.

[2018-11-28 18:13] tya99 commented on #603
Another thing that I think we will add to the list is while not related to relaying I think is still **very** important the connection from the client to the MTA is just as important. We should encourage providers who provide STARTTLS only to support [Cleartext Considered Obsolete: Use of Transport Layer Security (TLS) for Email Submission and Access RFC 8314 - January 2018](https://datatracker.ie

[2018-11-29 11:10] matsest commented on #526
Agreed. It's a good hosted service which offers Nextcloud (maybe this could be a subsection or something under Nextcloud with more of the hosted secure alternatives?).
Also supports calendar, contact and notes sync in addition to file sync, which makes for a good replacement for Google Calendar/Contacts/Keep. Storage is encrypted and it also offers TOTP 2FA.

[2018-12-01 22:57] 0pLuS0 opened #640 "Lack of Education Makes Your Device More Vulnerable - Not Rooting!"
I wish the Geek Community who knows better would step forward and speak out against these So Called Geeks that keeping spinning stupidity to the world, seriously!

Telling people that rooting makes you more vulnerable is wrong!

A lack of skills/education and experience is what makes you vulnerable not root!

```Education is the best weapon!```

What this is, is just taking the easy way out, telli

[2018-12-02 09:02] Shifterovich commented on #640
If you install an apk, there's only so much a virus can do. With root, there's __a lot__ that it can do.

I ride a motorcycle. And I think it would be very arrogant to think that if a car turns left in front of me, or blows through stop sign, there's anything I can do about it. "Wrong hands" -- good hands don't give you protection when hit by a car. Good hands can brake only so quickly without blo

[2018-12-02 09:02] #640 closed

[2018-12-02 23:42] 0pLuS0 commented on #640
Great to of closed the post, NOT!

To truthful again, any website that is promoting Privacy/Security like this, should not make assumptions about any level of the user like saying Navy Seal as you did.

But Educate and Help people, that's the right thing to do with just a LITTLE INFORMATION is all anyone is asking, but did you do even this? hmm

Anyhow the post should be left open in the interest

[2018-12-03 16:58] infosec-handbook commented on #640
@0pLuS0
What about starting your own "geek" blog to educate people providing fact-based articles instead of writing lots of opinion-based sentences which end with exclamation marks (41, to be exact). This shouldn't be a problem for a Windows/Unix elite root user with 20+ years of malware-free experience.

Besides, telling people to just root their phone to be in full control of their device isn't

[2018-12-03 18:57] HowDoInternet opened #641 "Add some information to privacy.resistFingerprinting"
I think it would be useful to mention that if this setting is set to true; Firefox will start with a fixed windowed size.
Took me some time to figure out which setting was causing this behavior...

[2018-12-06 14:36] tya99 commented on #603
I'm going to update the Great/Good category to say that a DMARC policy **must be included** but may be not enforced ie `p` may be `none`, `quarantine` or `reject`. One of the providers has pointed out to me this causes issues with mailing lists.

https://dmarc.org/wiki/FAQ#Is_there_special_handling_required_to_receive_DMARC_email_from_mailing_lists.3F

We may decide once [arc-spec](http://arc-spec

[2018-12-06 16:53] Booteille opened #647 "Secure Password Generator 404 Not Found"
## Description

The file password.html does not exists but we still mention it in the "Worth Mentioning" section of Password Managers.

Maybe should we recreate it or remove the entry?

[2018-12-06 16:58] Shifterovich commented on #647
Thanks. We should remove the reference to it. Can you create a PR?

[2018-12-06 16:59] Booteille commented on #647
Sure!

[2018-12-06 17:01] Shifterovich commented on #631
https://blog.github.com/changelog/2018-12-05-issue-template-automation-improvements/

![screenshot from 2018-12-06 17-59-58](https://user-images.githubusercontent.com/4354706/49599271-dd603500-f980-11e8-8061-37c98131ec45.png)

So, we want to add `title` and `labels` to the YAML.

[2018-12-06 17:03] #647 closed

[2018-12-06 21:37] ciampolo opened #649 "❌ Software Removal | Brave"
## Description

I saw the other issue but that I didn't have any technical reasoning so I wanted to make a distinct issue. If you think this is wrong then please merge it.

The reason I see people initially added Brave to the list is because of Brave advertising itself as having "fingerprinting protection". The tracking protection is irrelevant since umatrix/ublock are way more mature and feature

[2018-12-07 10:10] Shifterovich commented on #649
I agree. Leaking things like fonts __and__ the browser info when there's a small user base is very bad. Tor browser with Tor disabled is a better option.

I'd like to hear more opinions. @bbondy could you comment on the fingerprinting issue?

[2018-12-07 10:38] SecretSmiles commented on #649
Can't agree more! I don't get why brave is recommended.

[2018-12-07 15:34] pahakalle opened #650 "💬 Discussion | Australia data encryption law"
We might soon need a "please don't use services that are in Australia" warning.

One info source for this: https://www.eff.org/deeplinks/2018/09/australian-government-ignores-experts-advancing-its-anti-encryption-bill

[2018-12-07 15:48] bbondy commented on #649
There are many misrepresentations in the original post. I'll clarify some of the big ones.

In addition to NoScript, HTTPS Everywhere, Ad Block, Tracking protection, Fingerprinting protection, Tor support, Cookie blocking and more we've spent a significant amount of time and resources in disabling privacy invasive things in Chromium. Please see the documentation here:
https://github.com/brave/brav

[2018-12-08 00:06] Atavic commented on #431
That will mark most of the internet, its services and applications.

[2018-12-08 00:07] Atavic commented on #650
The australian bill may only make clear something they potentially can already do.

Issue related to https://github.com/privacytoolsIO/privacytools.io/issues/431

[2018-12-08 10:43] beerisgood commented on #649
@bbondy you talk about chromium and privacy which doesn't work. And you don't remove all Google tracking, right?!

Also every fork of a browser is more unique then the original base. No matter what you do. The only fork which do it, is Tor browser which isn't only a normal fork.

[2018-12-08 10:53] Shifterovich commented on #649
Why?

[2018-12-08 11:39] Shifterovich commented on #649
Why couldn't it be removed?

[2018-12-08 18:51] Atavic commented on #649
Network analysis with Fiddler say:

- Chromium browser connects to Google to check the extensions installed for updates.
- Also some DNS queries are made when you open Chromium, so Google will know your IP everytime you open the browser.

[Here](https://www.reddit.com/r/privacy/comments/386k89/for_those_interested_in_using_chromium_without/crsph8z/) is an old list of these URLs (that lacks the tel

[2018-12-08 19:02] Atavic commented on #649
Related [comment](https://github.com/nylira/prism-break/issues/169#issuecomment-20043944).

[2018-12-08 19:08] bbondy commented on #649
Just wanted to mention Chromium is not immutable and we do a lot of patching and disabled a lot of things. The disabled things are described above in the link. We run a network audit script on each build as part of our CI to make sure nothing new is calling out to Google that we haven't removed. There are dozens of things that we've removed that call out to Google services, these are easier to spo

[2018-12-08 19:55] victorhck opened #653 "🌐 Website Issue |"
## Description
I Think that there's a error after Worth Mention in the "Calendar and Contacts Sync" section.
I think that the Related information it's about Key disclosure section, that it's almost in the beginning

I think that when the Key Disclosure section was moved that was forgotten, right?

Greetings

[2018-12-08 20:13] Shifterovich commented on #653
Correct. Can you create a PR to fix that?

[2018-12-08 20:30] victorhck commented on #653
Ah! ok!!
I realize the issue updating my spanish translation ;)

Happy hacking!!

[2018-12-08 21:31] ciampolo commented on #649
Brave should not only be considered harmful seeing how Brave devs react on security issues it should proactively be considered malware. This isn't the first time I see Brave devs seemingly have no clue about fingerprinting vectors at all. And that is just one part of privacy.

As I said either your devs are incompetent or this is an intentional cash grab. Either way this means: **_BRAVE IS MALWARE

[2018-12-08 22:06] bbondy commented on #649
Sorry I won't engage with trolling, have a good thread.

[2018-12-08 22:42] Atavic commented on #649
...and that's how discussions fall down.

When devs jump into discussions, good old etiquette should remind anyone *not to flame against devs that can put valuable comments here*.

[2018-12-09 00:49] Booteille commented on #649
Yes, please. Even if you don't agree with someone, stay polite!
No need for personal attacks if you pretend talking about facts.

[2018-12-09 00:57] ciampolo commented on #649
@bbondy
Good way to dodge such an emberassing thread that proves Braves malware like behaviour right?
Let me recap why I am annoyed for everyone else reading this so they can see how Brave is the worst kind of malware:

I write a detailed explanation including technical specification why I think Brave is terrible in terms of privacy and should not be on the list. Then a Brave employee comes in and

[2018-12-09 01:00] ciampolo commented on #649
Probably you just read my first part of "you're disguising as Chrome fails miserably" realized you literally have no argument against it and now have to back out.

@Shifterovich
Can you tell me one good reason why Brave is on the list. Just one point that speaks FOR Brave? Because even the Brave developers either have no understanding of fingerprinting/tracking or have amlicious intentions. If any

[2018-12-09 01:17] ciampolo commented on #649
Since I know that Brave devs are terrible (or are told to act terrible) here a very simple explanation of just couple entropy vectors that will always give you away as Brave no matter how much shit you fake (and remember that is one single vector of many more):

All of those addons change Chromiums behaviour in a certain way which is fingerprintable (and that in multiple ways which are since years

[2018-12-09 05:52] 0ndrey commented on #649
I will agree that Brave is not a place on this list. Perhaps it should be moved to the section  "worth mentioning ", but it is better, of course, to remove altogether. But if it is your sponsor and it gives the livelihood of the site, then it makes sense to make a post about it.

[2018-12-09 10:43] beerisgood commented on #649
@0ndrey No please. We should remove it without any mentioning it's recommend

[2018-12-09 13:18] Ud4ba opened #654 "🌐 Website Issue | EarthVPN"
Hello there :) Good job for your work really apreciate . :)
A friend of me reported this . https://www.reddit.com/r/privacytoolsIO/comments/a1melf/please_correct_your_webpage_about_earthvpncom/
You should check this . I dont believe a VPN with Turkey's laws is ok... Please change the country .. Thank you :)

[2018-12-09 19:45] Shifterovich commented on #654
Is it part of Cyprus or Turkey, in terms of laws?

[2018-12-09 20:40] Shifterovich commented on #649
I mentioned @bbondy because we have had several discussions about Brave and it would be nice to resolve this matter.

I would appreciate useful discussion. Even if Brave devs are terrible, arguments first and accusations later.

@ciampolo Can you mention some specific vectors by which Brave can be easily identified as Brave? I'd like to hear what @bbondy can tell us about the technical stuff, *but

[2018-12-09 22:43] Atavic commented on #654
It's Turkish Republic of Northern Cyprus, it's constitution say: the Turkish Cypriot People.
While on Southern Cyprus there's a UK Royal Air Force base: Akrotiri
The island is geopolitically hot, maybe using a VPN based there is not the best solution.

[2018-12-10 17:52] Shifterovich commented on #654
They are internationally recognized as Cyprus, but recognized by Turkey and themselves as Turkey, so I guess they use Turkish legislation.

I agree.

Can you open a PR @Ud4ba?

[2018-12-10 19:56] Ud4ba commented on #654
Im kind new here , whats a PR ?

Erdogan is kinda of a dictator in my opionin .. Sadly i live in greece and things arent going so well. Anyway Turkey is for sure anti-privacy country ..

[2018-12-10 20:03] Atavic commented on #654
Pull Request, it's explained in the Help section on bottom page, clikc then look for
*Fork a repo* on the left.

[2018-12-10 20:04] Atavic commented on #654
*Pull Request*, it's explained in the Help section on bottom page, click then look for
*Fork a repo* on the left.

[2018-12-11 13:58] ciampolo commented on #649
I mean if I pay you however much @bbondy and/or Eich are paying you and you actually add my malware/adware to your site privacytools.io that is a terrible thing to do. Admittingly if it is enough money I can understand OP's position (though you ave some kind of responsibility).

But for Brave, as a commercial software company, this is the most pathetic kind of marketing I have ever seen. Just go w

[2018-12-11 15:00] Shifterovich commented on #649
What?

:thinking: What? #161

You are the OP in this thread.

[2018-12-11 15:11] ciampolo commented on #649
Well so I answered your question as to how I can uniquely identify Brave as Brave (which makes me suspicious as to why do you want to know this; even if I'd be lying Brave users can still be at least as easily uniquely identified as Google Chrome users which you clearly are aware of) and you still refuse to answer my question as to why keep Brave on the list despite there being obvious privacy/sec

[2018-12-11 15:52] ciampolo commented on #649
Also just to add @Shifterovich you seem to being aware that Brave leaks information (or at least after this discussion). Can you tell me one good reason why Brave is on the list instead of Ungoogled-Chromium? The latter at least doesn't promises stuff it can't hold nor is it commercially backed.

See where I get the "Brave payed you" thing from? If you can prove me wrong please for the love of god

[2018-12-11 18:20] 0ndrey commented on #649
I am more than sure that DDG is on this list for the same reason as Brave.
I do not know whether the question about DDG was raised here, but there is a clear evidence that this search system is connected with the Russian intelligence services and spying on its users. It kind of hints that a piece of software on the Privacytools.io is paid for for posting on the site.

[2018-12-11 18:36] Booteille commented on #649
Can we get proof about what everyone is arguing, please? Concerning DDG, links to studies or articles?

[2018-12-11 18:50] 0ndrey commented on #649
I'm sure you know how to use search engines and make logical conclusions. Some application developers, for one reason or another, refuse to use DDG in their applications, giving solid arguments: https://www.stoutner.com/new-default-homepage-and-search-engine/
I would like to note that for some countries of the world DDG uses the Yandex engine.
Sat sapienti.

[2018-12-11 18:53] 0ndrey commented on #649
By the way, I would call the Privacy Browser ideal, unlike the garbage advertised here.

[2018-12-11 18:55] Booteille commented on #649
I will not pass hours to search something when you say "I know informations about that". If you have informations, share your sources on don't argue something as being the truth.

But you pointed a website showing some interesting arguments and I think it's worth to consider removing DDG. But that's not the topic of this issue and you should create another issue.

[2018-12-11 19:03] 0ndrey commented on #649
I'm sorry if I hurt you.

[2018-12-11 19:58] Shifterovich commented on #649
No. This conversation is really annoying. I don't see how anyone can be so dedicated to typing such massive amounts of bullshit.

Haha yes, the devs of the browser I don't even personally like paid me, apparently to remove the browser from this site:

https://github.com/privacytoolsIO/privacytools.io/issues/161
https://github.com/privacytoolsIO/privacytools.io/pull/78#issuecomment-252088621
https:

[2018-12-11 20:14] diracdeltas commented on #649
Hi, I used to work at EFF, not directly on panopticlick but tangentially. Full disclosure I now work at Brave.

The main point I want to note is that Panopticlick is far from a perfect measure of real-world trackability; it is really measuring "how different are you from other people who visit panopticlick.eff.org".

https://github.com/brave/browser-laptop/wiki/Fingerprinting-Protection-Mode#why-d

[2018-12-11 20:19] Shifterovich commented on #649
That is true. Though note that the easiest way to fingerprint someone is via fingerprintjs2, which seems to be good enough to track Brave browsers.

Regarding that wiki link you sent,

This is simply false.

This is also wrong. Changing canvas fingerprint on each request is a boolean value for tracking browsers. Combine that with HTTP_ACCEPT and stuff like that and you can very easily track a spec

[2018-12-11 20:35] ciampolo commented on #649
@Shifterovich That is my fault and I excuse myself for it still I hope you understand where I come from since issues like this get to my heart. I do not want(ed) to attack you. You have to understand my position though since I opened the issues over at Braves issue tracker months ago and now I see this.

Though let me be clear I attack everyone who works at Brave with a burning passion (obviously

[2018-12-11 20:37] ciampolo commented on #649
And now add to the fact the unique addon combination of Brave. As I said in the beginning Brave is easier to fingerprint than a stock Google Chrome and even the Brave employees (indirectly) admit that.

[2018-12-11 20:39] Shifterovich commented on #649
It's important to keep in mind that generally the less trackable your browser is, the more unique it is, thus being ... more trackable (using other vectors). It's important to find the right balance. In a way, Windows 10 with Chrome and US settings is the hardest to track using some vectors, since it's so common, but the easiest to track using other vectors.

[2018-12-11 20:41] ciampolo commented on #649
I agree with you completely but regardless of all this it should be clear by now that you gain nothing by using Brave over stock Google Chrome. Contrary it makes you worse off privacy wise. Do you agree with this @Shifterovich after seeing the results?

For your point: That is the problem I have with resistFingerprinting. Although Germany has the most Firefox users in the western world, I doubt th

[2018-12-11 20:47] Shifterovich commented on #649
Please avoid using terms like

And yes, it's easy to say that Panopticlick is bad. But the claims on Brave's wiki don't make sense. I hope to get answers to my issues with the wiki claims. A project which lies about its features deserves to be mentioned as snake oil, @diracdeltas.

While I like the idea of a private Chromium-based browser, I don't like projects that say things which aren't true.

[2018-12-11 20:55] ciampolo commented on #649
Just to add (because I think I can guess their answers if they even come at all):

Panopticlicks way to fingerprint is terribly dated, it only checks for a few vectors and some of those vectors can easily be bypassed and legitemetly faked with couple lines userscripts. Yet Brave still fails this test appearently even worse than Google Chrome which I didn't even know.

[2018-12-11 20:58] Shifterovich commented on #649
Panopticlick uses only fingerprintjs2 for the client-side fingerprinting I think.

[2018-12-11 21:04] diracdeltas commented on #649
@Shifterovich what part isn't true? are you referring to "Panopticlick also compares you against old browsers. For instance, if the plurality of Panopticlick visits were from people using Firefox 3 many years ago, then a person using Firefox 3 could appear as not-very-identifiable even though there are extremely few Firefox 3 users on the web in 2017 (or at least one would hope)."?

That was true

[2018-12-11 21:07] ciampolo commented on #649
@diracdeltas maybe you or @bbondy could also give an explanation as to why your Browser advertises iself with "privacy" while having worse "privacy" than stock Google Chrome?

Also the fact that you linked a document while appearently not being aware of the accuracy of its content. Is this a bad troll? @Shifterovich just go remove Brave and add a remark saying that using Brave is worse than using

[2018-12-11 21:07] diracdeltas commented on #649
Edited https://github.com/brave/browser-laptop/wiki/Fingerprinting-Protection-Mode#why-does-panopticlickefforg-or-some-other-site-say-that-i-am-fingerprintable to clarify that out-of-date bullet point is no longer true.

Happy to accept more constructive feedback like this; hope you all agree that we are basically working toward the same thing here (better privacy on the web).

[2018-12-11 21:08] Shifterovich commented on #649
Yes. That as well as the second paragraph I mentioned (`For instance, if Brave browser randomized canvas fingerprints on every page request, then it would be impossible for a site to track a specific Brave user across requests using canvas fingerprinting` is very wrong).

Also:

This didn't work for me, as I mentioned:

Perhaps this changed as well and they now recognize that you are one user, pos

[2018-12-11 21:10] diracdeltas commented on #649
@Shifterovich thanks for the info, i will re-test and update the doc if i find the same thing as you.

@ everyone else:

I'm going to cease responding to this discussion because I don't feel like assuming malice on our part (versus just not having enough time to fix all these things as they come up) is productive. (Also I personally do not have strong feelings about whether Brave is listed on priv

[2018-12-11 21:12] ciampolo commented on #649
It has been two years since Brave started, and multiple months since I opened the issues but still they are not fixed.
You not responding means you just go into the same path as @bbondy meaning probably your boss told you to stop responding.

@Shifterovich Tell me your analysis of the situation please because for me this only leaves one possible explanation.

it is always the same with Brave devel

[2018-12-11 21:17] Shifterovich commented on #649
Your assumptions of Brave being evil are not helping with them leaving the discussions. If someone said they're rather trust NK govt than me, I'd leave the discussion simply because I have better ways to use my time.

I'd prefer a fact-based discussion where no one accuses anyone of anything and we simply suggest issues with Brave and other people (such as Brave devs) respond.

[2018-12-11 21:20] ciampolo commented on #649
I don't understand your point though. You saw that the only thing @diracdeltas replied to was you requesting to remove something. He didn't reply to your questions though as to whether Brave actually is placebo. Why do you think he did that? Same for @bbondy . He took out what he could reply to in my op and just straight up ignored the rest of it.

I mean how much more proof do you need? And the N

[2018-12-11 21:22] Shifterovich commented on #649
Updating documentation is good, though I'd appreciate if @diracdeltas gave her own explanation rather than the wiki. Though again please don't accuse people of random shit if you want them to talk to you.

[2018-12-11 21:30] ciampolo commented on #649
So now @diracdeltas deletes my comments without reading them.

See @Shifterovich this is damage control what they are doing. They saw you talking about snake oil and now got scared. What do? Yes remove it ourselves so we don't have to add the disclaimer that Brave is worse than Google Chrome.

[2018-12-11 21:31] Shifterovich commented on #649
I deleted your comment. And I will address it. #657 will not contain any flame.

[2018-12-11 21:34] diracdeltas commented on #649
I agree with you assuming the browser is already fingerprintable via other methods. However if we are talking about fingerprinting solely using canvas, then I believe this statement is true: " For instance, if Brave browser randomized canvas fingerprints on every page request, then it would be impossible for a site to track a specific Brave user across requests _using canvas fingerprinting_."

The

[2018-12-11 21:35] ciampolo commented on #649
@diracdeltas Now my question how comes that a Browser whose sole selling point is "privacy" fails at it although it has been in developement for more than 2 years?

It is like me saying "I have developed application X that can do functionality Y". Then after 3 years developing people realize that it still can't do functionality Y. Please elaborate why. I said before if you prove me wrong I will gl

[2018-12-11 21:36] Shifterovich commented on #649
Does Panopticlick just sum the amount of bits of the fields which it considers unique due to reaching a certain threshold of uncommonness, or does it look at the _combination_ of your specific values?

[2018-12-11 21:37] Shifterovich commented on #649
I'm locking this thread, it's full of nonsense. Let's continue in #657. Though note that I will remove anything but technical information from that thread. We've had enough of threads full of spam.

[2018-12-11 21:53] Shifterovich commented on #649
Closing as a duplicate of #161.

[2018-12-11 21:53] #649 closed

[2018-12-13 22:27] Shifterovich opened #662 "GitHub considers index.html a binary file"
![screenshot from 2018-12-13 23-23-57](https://user-images.githubusercontent.com/4354706/49971264-2c343e80-ff2e-11e8-9bbd-d31d97e63053.png)

Adding .gitattributes fixed this on local git.

However: https://stackoverflow.com/a/24382933.

https://github.com/github/linguist

[2018-12-15 10:36] Shifterovich commented on #662
First 10 bytes are the same for index.html and donate.html.

Yet:

[code]

[2018-12-15 10:51] Shifterovich commented on #662
![screenshot from 2018-12-15 11-50-53](https://user-images.githubusercontent.com/4354706/50042113-b3350400-005f-11e9-804b-0f87113e795b.png)

Null bytes, then.

[2018-12-15 10:55] Shifterovich commented on #662
https://github.com/privacytoolsIO/privacytools.io/pull/651/files now has a diff.

https://github.com/privacytoolsIO/privacytools.io/pull/661/files doesn't, because it was based on the file with null bytes.

Resolved.

[2018-12-15 10:55] #662 closed

[2018-12-15 11:19] Shifterovich commented on #161
https://github.com/privacytoolsIO/privacytools.io/commit/bd78b527033e0787e95a49d8d66d7ea2b7436208

[2018-12-15 11:19] #161 closed

[2018-12-15 16:57] #502 closed

[2018-12-15 18:51] Shifterovich commented on #599
jdm has last commit 2 days ago, justdelete.me has last commit Jul 18, 2017.

Can you create a PR adding justdeleteme.xyz?

[2018-12-18 12:04] hasanalizxc commented on #654
This place is NOT suitable for politics things. For this reason do NOT comment about Erdogan or another president.

Let's talk about EarthVPN. My opinion it is not trusted because of Turkey and Cyprus laws.

Do NOT trust any VPN provider. Make your own Server and make it's logs /dev/null

[2018-12-18 12:08] hasanalizxc opened #664 "NordVPN is really trusted?"
Hi All,

Hope you are fine. I was searching information about Nord VPN and found these links.

https://www.reddit.com/r/VPNTorrents/comments/9adi37/i_investigated_the_nordvpn_ordeal_here_is_what_i/
https://nordvpnsucks.blogspot.com/

Please look every link in reddit webpage.

I am confused now it is really secure?

Could you please share your opinions about this issue?

Thanks in advance.

Have a

[2018-12-18 12:31] Shifterovich commented on #664
Is this another "x owned by Tesonet" thread?

This might be relevant: https://www.reddit.com/r/ProtonVPN/comments/8ww4h2/protonvpn_and_tesonet/e21tfqw/

[2018-12-18 12:35] Shifterovich commented on #654
Sometimes, good idea. Most of the time, terrible idea.

Like I said:

So unless someone can give us a good reason to keep it, let's remove it.

[2018-12-18 12:38] #654 closed

[2018-12-18 13:54] pahakalle commented on #654
We should probably redo the entire list from sources like https://torrentfreak.com/vpn-services-keep-anonymous-2018/ and others

[2018-12-18 15:30] Shifterovich commented on #654
Why would we change the list that we handpicked to providers from some list on a commercial website?

[2018-12-18 17:08] pahakalle commented on #654
@Shifterovich Yeah not the best link for a source, but they still have a good list of secure and good vpn providers with relatively detailed info on them.
I would never only rely on that one source alone so of course we would need to research each one from different sources.

[2018-12-18 17:42] Shifterovich commented on #654
I only went through half of the page:

![screenshot from 2018-12-18 18-38-28](https://user-images.githubusercontent.com/4354706/50172128-99f8b580-02f4-11e9-8d78-f428e6b33add.png)
![screenshot from 2018-12-18 18-38-46](https://user-images.githubusercontent.com/4354706/50172130-9cf3a600-02f4-11e9-8e26-6cdb95033c8c.png)
![screenshot from 2018-12-18 18-39-13](https://user-images.githubusercontent.com/

[2018-12-18 18:02] pahakalle commented on #654
<img width="364" alt="screenshot 52" src="https://user-images.githubusercontent.com/1533244/50173302-acc4b780-02ff-11e9-9f85-c51aa9fd007f.png">

[2018-12-18 22:49] PMK commented on #420
Via PrivacyTools.io I found Tofu. I added this one plus the already mentioned andOTP.

[2018-12-19 10:00] Kcchouette commented on #534
Each 3 components of this issue have pro cons (Matrix is a protocol, so let's speak about riot.im)
 - e2e encryption is in beta (source: https://about.riot.im/security/) and not used by default, federation is hard (replication of all room) and your message is stocked for 180 days in matrix.org homeserver
 - signal is centralized + need a phone number, but the most-advanced apps in term of security

[2018-12-19 10:07] Mikaela commented on #534
I have understood that currently, Matrix federation would break up if all servers aren't able to reach other servers, so all servers would need to be dualstack and also support Tor and I2P, Yggdrasil and Cjdns (where Cjdns-only server has caused issues in the past).

E2EE encryption is mainly supported only by Riot, and maybe there was also a specification misssing preventing others from implement

[2018-12-19 12:08] #433 closed

[2018-12-19 12:08] #220 closed

[2018-12-19 12:09] #411 closed

[2018-12-19 12:15] Shifterovich commented on #534
And mainly, it's easy to use.

[2018-12-19 18:03] hugoncosta commented on #633
@Shifterovich I'd argue Wireguard is more closely related to normal traffic than other VPN implementations, since it only "works" when the requests are made, just like in a normal setting. OpenVPN, etc, our devices are in constant connection with them (if I'm not mistaken), and that would be considered unusual (obviously nowadays not so much, as most pages have autoupdating features, chats and wha

[2018-12-19 18:18] hugoncosta opened #670 "💬 Discussion | ProtonMail Cryptographic Architecture"
Recently, a paper was published regarding "the first independent analysis of ProtonMail's cryptographic architecture". The author's finding acknowledges certain problems that may break end-to-end encryption.

[Link to the paper](https://eprint.iacr.org/2018/1121)

Protonmail's response can also be found [here](https://www.reddit.com/r/ProtonMail/comments/9yqxkh/an_analysis_of_the_protonmail_crypto

[2018-12-19 18:32] Shifterovich commented on #670
Relevant video:

[![End-to-End Encryption in the Browser Impossible? - ProtonMail](https://img.youtube.com/vi/DM1tPmxGY7Y/0.jpg)](https://www.youtube.com/watch?v=DM1tPmxGY7Y)

## End-to-End Encryption in the Browser Impossible? - ProtonMail
_(YouTube link: https://www.youtube.com/watch?v=DM1tPmxGY7Y)_

---

The issue is that PM's backend can be secure, but they can still steal your private key if

[2018-12-19 18:35] Shifterovich commented on #633
Good point. Though the traffic would have to be indistinguishable from normal traffic, which it isn't (unless I'm wrong), due to communicating with one IP only, rather than tons of IPs -- like regular traffic.

[2018-12-19 20:11] Vincevrp commented on #670
@Shifterovich, they offer [Protonmail Bridge](https://protonmail.com/bridge/).

[2018-12-19 20:33] Shifterovich commented on #670
I know about that, but I meant if their main platform was a desktop application like Outlook.

[2018-12-20 04:53] beardog108 commented on #670
tl;dr no such thing as safe end to end website encryption, except in cases of Electron/similar apps, and extensions.

ProtonMail is only safe if used in the downloaded apps. This information has been long known, the paper released by Nadim is just an academic summary and criticizes Proton for making questionable claims regarding safety in their advertising/website.

[2018-12-20 09:18] Kcchouette commented on #447
Can you close the issue @Shifterovich @infosec-handbook @privacytoolsIO please, as the website already state about Conversation - OMEMO and Conversation Legacy - OTR?
Thank you

[2018-12-20 09:20] Kcchouette commented on #477
Quote from https://github.com/nylira/prism-break/issues/1976#issuecomment-393581507:

Can you close the issue @privacytoolsIO @Shifterovich? Thank you.

[2018-12-20 12:47] Shifterovich commented on #375
Perhaps recommending Tor Browser without Tor is better than recommending FF with some tweaks? You will look like Tor apart from your IP.

[2018-12-20 12:48] #447 closed

[2018-12-20 12:49] Shifterovich commented on #447
Thanks for helping with issue cleanup @Kcchouette

[2018-12-20 13:42] beerisgood commented on #375
@Shifterovich depends. Tor Browser use Firefox esr. Some guys need modern stuff which only the normal version have (until esr go to new version)
Else: yes but it needs config too to use it without Tor network

[2018-12-20 14:50] GrimPixel commented on #599
I don't know how to create a PR. I can't choose the branch.

[2018-12-20 15:20] Shifterovich commented on #599
Open index.html in a browser, click the edit icon, make your changes and click the green submit button. It will take you to the new PR page with your changes.

[2018-12-20 18:20] GrimPixel commented on #599
It stuck as “Waiting for your fork… ”. I can't click on “Propose file change”.

[2018-12-20 19:49] Kcchouette commented on #173
you can now close this issue @Shifterovich @privacytoolsIO

[2018-12-20 20:19] #173 closed

[2018-12-20 21:13] raghavgururajan opened #673 "🆕 Software Suggestion | 1984 hosting"
## Basic Information

**Name:** 1984
**Category:** 1) Hosting 2) Domain Registration 3) DNS
**URL:** 1984.is (or) 1984hosting.com

## Description

1984 is an Hosting Provider, DNS provider and Domain Registrar. Based in Iceland. Has three core values: 1) Free Software 2) Security, Privacy and Anonymity 3) Freedom of Speech and Freedom of Expression. Absolutely no personal information required for

[2018-12-20 21:35] Vincevrp commented on #610
I can't reproduce this. Could you add a screenshot?

[2018-12-20 21:37] Atavic commented on #375
FF + user.js tweaks needs more time than setting Tor for non deepweb.

Intika's Librefox-Firefox includes ghacks.user.js in the available releases.

[2018-12-20 21:50] beerisgood commented on #375
Can't recommend this.  Firefox 63.0.3 is still used -> security problem!

[2018-12-21 11:46] Shifterovich commented on #610
![screenshot from 2018-12-21 12-45-58](https://user-images.githubusercontent.com/4354706/50341249-731dc780-051e-11e9-9b3c-1715bf45a9f4.png)
![Uploading Screenshot from 2018-12-21 12-45-44.png…]()

[2018-12-21 17:01] D-Nice opened #679 "❌ Software Removal | LessPass"
## Description

LessPass is one of the top 3 Password Manager Softwares recommended on the page. It is a stateless password manager, and with it come inherent risks. The issue with lesspass, it seems to create inconsistent passwords, between varying versions. I believe this constitutes such a stateless password manager as being useless if that's the case.

I had noticed these inconsistencies and o

[2018-12-21 19:06] D-Nice commented on #679
Regarding what you say, it'd be nice to keep a stateless manager, if there is another good one. I personally can't recommend any at this point, and with me being the one requesting its removal, it probaly wouldn't be appropriate anyways. However, it's more dangerous to keep something that'll cause users to get locked out of their accounts.

Of course, it may be fair to give some ample time for the

[2018-12-21 20:17] Shifterovich commented on #679
I'm not 100% sure the problem is on LessPass's side. It's really possible that I have simply forgotten my password. But it's also possible that I haven't (since your friend has the same problem) and that would be a major issue.

@guillaumevincent have you received any reports of such behavior other than https://github.com/lesspass/lesspass/issues/328?

[2018-12-21 21:10] guillaumevincent commented on #679
Hello,
lesspass-cli was using nodejs. There is a bug reported by @d-nice https://github.com/lesspass/lesspass/issues/328

It's a bug due to the way we converted the counter into a string. Counter of 10 was converted to A hexadecimal instead of "10" string.

Because of another bug in the cli (password prompt on Windows), I decided to rewrite LessPass cli to python.

LessPass cli version 5.x is depr

[2018-12-21 21:21] guillaumevincent commented on #679
Another wrong affirmation
We merge all the repositories in one mono repo. We keep the git history for all the repositories. You just have to look at the commits.

I don't fully understand why you didn't post some issues on LessPass. Create another tool, fork the project, but don't send misinformation.

[2018-12-21 21:53] Shifterovich commented on #679
@D-Nice "testing for consistency between subversion updates"

This test asserts specific output, so it would fail if the password generation algorithm changed without also updating the hardcoded string in the test.

Though this is in the (new) Python version, right? @guillaumevincent are such tests present for the other implementations as well?

[2018-12-21 22:37] D-Nice commented on #679
I hope I am wrong and lesspass is completely fine. However, this upcoming weekend I'll look to get some more info regarding the web-browser version my friend was running. For example, they have all their master passwords written down, BUT do use the counter mechanism as well. If that mechanism is broken, it should be explicitly stated somewhere, and not just assumed that the fix is to use the newe

[2018-12-21 22:40] D-Nice commented on #679
Also, while here, may I ask(which I've previously done), is there a version of lesspass-cli from nodejs that can be considered canon (working according to proper spec for that version). Or is it considered broken, and v6 must be used, which constitutes a switch to python?

[2018-12-21 22:47] D-Nice commented on #679
[code]

Well, I didn't because I thought lesspass was just fine. I had just been thinking of an implementation because some features I would have liked to see, such as argon2, never made it. Also, some additional outputs like base58, for easier human readability. And If I had done it before, it's probably not something I would have released publically as I know it's a lot maintaining such projects

[2018-12-21 23:55] Shifterovich commented on #670
Turns out running a free email service costs money.

Also, the bridge =/= a desktop email client. It's just a way to receive your emails in, say, Thunderbird.

[2018-12-22 00:15] hasanalizxc commented on #670
I got it but i don't think like this: "All Proton products should be free".

For example you can't  "Send encrypted messages to external recipients". At least Proton should make this to free users. I don't want to much more things.

[2018-12-22 05:56] guillaumevincent commented on #679
Browser version generate the good passwords with any counter. Why are you saying that password are inconsistents? Only LessPass cli 5.x, on Linux only,  generate a password different than all other implementations. It's a bug. And it's fixed in LessPass cli 6.

I'm just saying that we discovered the bug late in the process because not a lot of people use this feature. Not that the bug is not impor

[2018-12-22 07:41] guillaumevincent commented on #679
It's a bug and the end user can see a warning. See https://www.npmjs.com/package/lesspass-cli
lesspass-cli is not available in the npmjs search anymore. To be honest I can't see what I could have done differently. Really.

I don't take it personally. I found that you raise an issue, in another repo, with false information in there.

Agreed, and I tried to do my best to create a good product, with

[2018-12-22 08:11] infosec-handbook commented on #670
@hasanalizxc

Sorry, but this is wrong. ProtonMail 3.14 (released in July 2018) added the ability to import GPG keys of external recipients. Even before 3.14, it was possible to send password-protected e-mails that are accessible in the web browser.

Moreover, you can always (recommended for the paranoid) use gpg in your terminal to encrypt your e-mails BEFORE you copy them in your e-mail client.

[2018-12-22 11:31] Shifterovich commented on #679
Then the tests check that the Python version will always generate the same passwords, but not that the passwords will be the same as the passwords generated elsewhere? What about the browser version?

What implementations are/were there?

- cli
    - Node (deprecated)
    - Python
- JS for the browser?
- What do the mobile apps use?

BTW thanks for participating in this thread, it's hard to discus

[2018-12-22 12:56] hasanalizxc commented on #670
Here it is.

http://prntscr.com/lyaedq
https://protonmail.com/signup

[2018-12-22 16:56] D-Nice commented on #679
I can confirm the issue on Windows as well.

lesspass-cli is not available in the npmjs search anymore. To be honest I can't see what I could have done differently. Really.

Imo it shouldn't have been fixed, instead of just marked as deprecated and left broken, and if someone installs the latest version of lesspass-cli by npm, they end up, with a broken one.

I can't speak for KeePass, as I don't

[2018-12-22 17:18] D-Nice commented on #679
I took the time to compare the various browser versions myself this morning, from 2.5.1 on Firefox, to each available version, up to 3.1.2 on there. I also tried with Chrome, which the person that was having issues, used, and the password generation was consistent for them all with various generation parameters between length and counter, and also matching the password style (which is very long) u

[2018-12-22 18:05] hugoncosta commented on #577
Very nice work, some add-ons I hadn't seen yet, thanks! @Shifterovich maybe it'd sit nicely on the [Related Information](https://www.privacytools.io/#about_config) subtitle? Also, didn't you have a similar guide on your personal website?

[2018-12-22 18:12] Shifterovich commented on #577
I agree.

[2018-12-22 18:16] quantumpacket commented on #375
@2E0PGS that's enough for me to ditch Firefox. When tech companies become political and censor information that doesn't fit their narrative is the day they are not in support of a free internet.

We really need to stop Firefox from being recommended and suggest forks that adhere to the original goals Mozilla seems to have forgotten.

[2018-12-22 18:20] Shifterovich commented on #679
If there's any issue with LessPass, we can continue in this discussion.

For now, I'm closing.

Thanks @D-Nice for trying to protect users & @guillaumevincent for answering the questions. Constructive discussions about removal of software are rare here, just look at all the Brave and cryptocurrency threads.

---

Though @guillaumevincent please reply to this:

[2018-12-22 18:20] #679 closed

[2018-12-22 18:39] angela-d commented on #375
@quantumpacket

I wholly agree.  Anytime this subject is brought up, someone counters it with, "The forks only have x developers and are volunteers; security patches are slow.. you can't beat the army of paid staff Mozilla has."

When a staff of size is working against their users, obscure security exploits are the least of anyone's worries.  There's probably much worse going on inside that none o

[2018-12-22 18:47] Kcchouette commented on #375
I'll use your argument, @angela-d: "The forks only have x developers and are volunteers; security patches are slow.. you can't beat the army of paid staff Mozilla has."
 - Pale Moon is for example based  on (a really old version of) firefox and uses the fix developped for firefox (point 2 of https://forum.palemoon.org/viewtopic.php?p=129767#p129767 )
 - Iceweasel is a other-brand version of Firefo

[2018-12-22 18:58] asddsaz commented on #534
I am the author of PR #613 and I would like to say that Signal is for the most part, ok.
But Wire, is just piggy backing on the same software.

Also, there was a comment on encryption being in beta, many products like Brave are still in Beta and have very few known vulnerabilities (if any).

There is also Wire's well know metadata problem: https://web.archive.org/web/20181222185723/https://en.wiki

[2018-12-22 18:58] Shifterovich opened #681 "Turn the account into an organization"
@privacytoolsIO Can you turn the account into an organisation? It would be extremely helpful, because it would let me and @Vincevrp set up CI and things like that.

I already asked in #95, but now it would be very helpful.

https://help.github.com/articles/converting-a-user-into-an-organization/

[2018-12-22 19:00] Shifterovich commented on #534
Keep Signal, replace Wire with Matrix/Riot.

[2018-12-22 19:01] asddsaz commented on #534
@Shifterovich #613

[2018-12-22 19:03] Shifterovich commented on #534
Ah, it's already open, replacing Wire.

Don't worry about it, I'll squash the commits.

[2018-12-22 19:12] atomGit commented on #577
fraid i don't know how - and the guide i wrote isn't on GitHub which, from what i quickly read, is necessary to create a PR?

i think i'd rather leave that up to someone who knows what they're doing :)

[2018-12-22 19:20] hasanalizxc commented on #670
That time Proton should change their chart.

[2018-12-22 19:42] hasanalizxc commented on #681
As i know if you turn the account into an organisation, it can be with paid, right?

[2018-12-22 19:46] Shifterovich commented on #681
I don't think the documentation mentions it. https://help.github.com/articles/converting-a-user-into-an-organization/

[2018-12-22 20:21] Mikaela opened #682 "🆕 Software Suggestion | Ecosia search engine"
## Basic Information

**Name:** Ecosia
**Category:** Search engine
**URL:** https://www.ecosia.org/
**About URL** https://info.ecosia.org/

## Description

Ecosia is an search engine planting trees with the money they make. They appear to be transparent releasing financial documents at https://documents.ecosia.org/467540 (however I didn't read any).

Their privacy policy looks OK to me, https://in

[2018-12-22 20:24] Mikaela opened #683 "🆕 Software Suggestion | git large file storage"
## Basic Information

**Name:** Git Large File Storage
**Category:** Filesharing
**URL:** https://git-lfs.github.com/

## Description

Git LFS seems to be the most popular way to store large files on git. I am suggesting it, because Git annex is mentioned as worth mentioning.

I am not sure if this is the correct category,  as I think it could also benefit privacytools.io in the future seeing the

[2018-12-22 20:30] Mikaela opened #684 "🌐 Website Issue | DNSCrypt tool vs protocol?"
## Description

I think the word "Tool" is a bit misleading here as it's a protocol as the description mentions, but this may leave a confusion to the readers on which it is. I cannot think of a better word though, but wished to raise this issue.

[2018-12-22 20:47] atomGit commented on #577
yes, my FF guide depends heavily on the ghacks user.js - i'm also working on a relaxed version of their js and another guide 'for dummies'

[2018-12-22 20:49] Mikaela opened #685 "💬 Discussion | Experimental mesh/mixnets? (Yggdrasil & Cjdns/Hyperboria)"
I am not sure if this is the correct category, but I thought I would at least bring them to attention of this issue tracker. (This is also the last issue I am going to open for now, sorry about the "spam" :smile:.)

The website includes [Self-contained networks](https://www.privacytools.io/#darknets) and I wonder if Cjdns and Yggdrasil would be within scope. They wish to eventually replace the int

[2018-12-22 21:07] Shifterovich commented on #685
What are the benefits of using such networks at this point (when they run over the internet)?

I2P and Tor are both anonymous (I prefer I2P because I like the idea of self-contained networks and for Tor it seems like hidden services are its secondary use at this moment -- with the primary being clearnet anonymity). Since the networks you mentioned aren't anonymous, what are the practical uses in t

[2018-12-22 21:17] Mikaela commented on #685
They can provide static addressing and connectivity to devices behind carrier grade NAT (I have two locations behind CGN and one NAT VPS that I am accessing over them), like Tor hidden services or I2P eepsites. The main benefits over Tor (and possibly I2P, I don't know if it supports UDP?) are speed and UDP support (e.g. [mosh](https://mosh.org/) doesn't work over Tor), while there is the tradeoff

[2018-12-22 21:38] Mikaela commented on #685
I think that wau would mainly be the end to end encryption also encrypting unencrypted traffic such as http, plaintext IRC or telnet within the network.

I could also ask in what way is IPFS a privacy tool considering how it leaks all IP addresses the system has, doesn't support Tor or I2P, everything there is public (or unlisted until detected by https://ipfs-search.com/ (which picks it up from D

[2018-12-22 21:42] Mikaela commented on #685
I think I am closing this as out of scope. Now at least the search for these software will bring this issue up in case anyone will think about it in the future and the problems of IPFS would probably require a separate issue that I don't have interest opening.

[2018-12-22 21:42] #685 closed

[2018-12-23 01:40] ghost opened #686 "🌐 Website Issue | There's no need for "browser.send_pings = false" for it's already the default setting"
## Description
Default elsewhere & Firefox nightlies since 2008-02-01. from http://kb.mozillazine.org/Browser.send_pings

[2018-12-23 04:19] angela-d commented on #375
@Kcchouette 'Old' doesn't necessarily mean insecure.  If anything, Firefox is more of a moving target due to its popularity, like Windows.  Rumor has it Windows has some underlying code dating back 25 years or so (if people are concerned about a codebases age).

The amount of hackers putting resources into actively hunting users on Pale Moon is probably close to 0.

- [Waterfox](https://waterfoxpr

[2018-12-23 08:04] guillaumevincent commented on #679
Yes you can see tests in different modules:

* https://github.com/lesspass/lesspass/blob/master/packages/pure/test/e2e/specs/passwordGeneration.js
 * https://github.com/lesspass/lesspass/blob/master/packages/mobile/src/password/passwordGenerator.test.js
 * https://github.com/lesspass/lesspass/blob/master/packages/mobile/android/app/src/test/java/com/lesspass/CryptoTest.java

Tests of the old nodej

[2018-12-23 08:09] guillaumevincent commented on #679
I can push a 5.2.0 copy of the 5.0.1 in nodejs
Like that any latest version even deprecated are consistent

[2018-12-23 09:05] #681 closed

[2018-12-23 11:48] infosec-handbook commented on #684
DNSCrypt is a protocol and there are different implementations of it: https://dnscrypt.info/implementations/

So, the better wording might be "implementation" vs. "protocol".

Maybe, we should also mention DNS-over-HTTPS and DNS-over-TLS.

[2018-12-23 11:54] hasanalizxc commented on #681
I didn't look the main page :) It looks good

[2018-12-23 12:47] beerisgood commented on #684
For DNS-over-TLS (DoT) we can use Stubby in combination with PiHole. Works great
The advantage is that clients (in that network) doesn't need any tool like DNSCrypt.

[2018-12-23 12:52] beerisgood commented on #686
It's still in gHacks user.js: https://github.com/ghacksuserjs/ghacks-user.js/issues/242#issuecomment-350264816

@Thorin-Oakenpants

[2018-12-23 14:31] hugoncosta commented on #577
No need to be on github, you can just link your page on the related information subtitle under Firefox. I guess the description should make clear your tutorial encompasses some of the info above and more for those that really want to go all out. Hit me up if you need help with it.

[2018-12-23 16:30] Mikaela commented on #684
I don't know if implementation is any better word unless actual implementation is linked.

DNSCrypt-proxy also [supports DNS over HTTPS](https://github.com/jedisct1/dnscrypt-proxy/blob/436125e812da5669f58cdf03019ec6878c33f5de/README.md#dnscrypt-proxy-2019-final-is-available-for-download), but don't have interest in DNS over TLS (https://github.com/jedisct1/dnscrypt-proxy/issues/68#issuecomment-362

[2018-12-23 21:17] D-Nice commented on #679
I think that is an acceptable solution, so the nodejs version at least doesn't seem like it's left in the dust with a part that could break with the counters.

[2018-12-24 11:11] Kcchouette commented on #534
So because #613 has been merged, I think you can close this issue @Shifterovich @Nic-Wow1

[2018-12-24 11:12] #534 closed

[2018-12-24 18:21] kewde commented on #670
Anything that promises end-to-end encryption in the browser, _without the usage of extensions_ is prone the private key exfiltration AFAIK.

We should recommend on-device email applications, not services.

[2018-12-24 21:18] ADepic opened #693 "Add a YouTube/video section"
Alternatives
* Invidio.us
* Newpipe
* Peertube

[2018-12-24 22:09] atomGit commented on #577
@hugoncosta - i see where in the 'related information' you wanted me to add a link, but i don't see any way to do that - the only options i see are through social media, which i don't use, and here, which is why i started this topic

[2018-12-24 22:19] ADepic commented on #693
created pull request https://github.com/privacytoolsIO/privacytools.io/pull/694 .
The pull request is far from finished however

[2018-12-25 02:03] asddsaz commented on #693
Look into PR #671

[2018-12-25 05:08] hugoncosta commented on #577
Understood, I'll create the PR for you. Any description in particular you'd like? I was thinking something along the lines of

[2018-12-25 08:09] infosec-handbook commented on #670
Considering that most web browsers automatically update their installed extensions, we wouldn't recommend using extensions for end-to-end encryption, too. That's basically the same problem as server-provided JavaScript. There is one GPG extension called "Mailvelope" that already demonstrated several security issues.

The easiest but not-so-user-friendly way is to use raw "gpg" in the terminal to e

[2018-12-25 09:36] Shifterovich commented on #670
@infosec-handbook Is the bridge for premium users only?

[2018-12-25 11:13] atomGit commented on #577
let's hold off a bit - i'm making an important change in the guide, plus i should have the 'for dummies' guide finished in a few days - k?

[2018-12-26 07:46] infosec-handbook commented on #670
Yes, it is a paid feature.

[2018-12-26 22:16] pahakalle commented on #670
The use of extensions like Mailvelope would make this not that non-user-friendly for the user

[2018-12-26 22:19] Shifterovich commented on #670
Isn't Mailvelope subject to updates as well? I guess locally loaded mailvelope would work.

[2018-12-28 14:02] c0rdis opened #698 "🆕 Software Suggestion | Consider adding LibreFox"
Hi,
we already have FF tweaks under https://www.privacytools.io/#about_config. I propose to consider and add there recently released Librefox. Another option might be including it directly to "Browser recommendation" at https://www.privacytools.io/#browser.

## Basic Information

**Name:** Librefox
**Category:** Tweaked Firefox for enhanced privacy
**URL to the project:** https://github.com/intika

[2018-12-28 15:06] beerisgood commented on #698
LibreFox isn't a own browser. It's just normal Firefox with some tweaks and not every stuff is recommend

[2018-12-28 17:20] Kcchouette commented on #698
it's related to #375 so let's close this issue as duplicate

[2018-12-28 18:00] c0rdis commented on #698
@beerisgood you're right. The point here is to review their current and planned tweaks (it's a huge and open-source work by them too btw) and to refer it somewhere, as I see it as a nice enhanced solution "off the shelf" without a tedious procedure of manually changing it, which could be hard for less experienced users. Moreover, I believe it could be quite beneficial to collaborate with them and

[2018-12-28 18:50] c0rdis commented on #698
Closing for now, @intika please let us know when you believe the project is mature enough, so we re-open this one. Also, feel free to suggest any FF tweaks and any other relevant material to privacytools directly :) Good luck with LF!

[2018-12-28 18:50] #698 closed

[2018-12-28 19:04] c0rdis commented on #673
I find the provided privacy policy (https://1984hosting.com/GDPR/) ... interesting:

**On tracking:**

**On disclosure:**

[2018-12-28 19:18] intika commented on #698
Thank you very much, i will do for sure :), and will make my best to come with a version to please everyone :)

[2018-12-28 20:57] quantumpacket commented on #673
I recently used their hosting. Upon registration they email in plaintext all the login details for FTP, email, database, ssh, etc. However, you create a login for the dashboard, which should be the proper place to access those logon details instead of via an insecure email. They also use SMS 2FA last I checked, which is advised against. They also recently had a massive data loss, which was a PR ni

[2018-12-28 21:21] asddsaz commented on #682
They have a decent privacy policy: https://tosdr.org/#ecosia
But are non-free, therefore don't meet the software criteria.

[2018-12-29 06:39] Mikaela commented on #682
DuckDuckGo and StartPage.com are also non-free as far as I can see?

[2018-12-29 06:46] Mikaela commented on #682
Oh, you opened https://github.com/privacytoolsIO/privacytools.io/pull/699 and forgot to mention it here.

[2018-12-29 21:52] Atavic commented on #686
And it's in pyllyukko's repo. I looked into installed firefox and forks via about:config and issuer is right. Default value is False.

BTW, do not ever trust kb.mozillazine as it appears semi-abandoned (look the last update on bottom page), use searchfox.org instead:

https://searchfox.org/mozilla-central/search?q=browser.send_pings&case=true&path=

[2018-12-31 01:13] asddsaz opened #708 "💬 Discussion | Add LibreJS Compliance be added to Software Criteria | Software Criteria"
**Discussion**: Should all software listed also be LibreJS compliant?
**LibreJS**: https://www.wikipedia.org/wiki/GNU_LibreJS
**Software Criteria**: https://github.com/privacytoolsIO/privacytools.io/blob/master/.github/CONTRIBUTING.md#software-criteria

PR: #709

[2019-01-01 03:36] David-Beetle opened #711 "✨ Feature Suggestion | Add Voat Subverse"
**Description**: Add [Voat Subverse](https://www.wikipedia.org/wiki/Voat) for discussion.
**Why**: Voat is a free software privacy respecting Reddit alternative. It is important for privacy communities to support private alternatives.

[2019-01-01 10:48] Mikaela commented on #711
Does it federate? There is also https://tildes.net/ with no plans for federation and is currently invite-only.

[2019-01-02 03:33] David-Beetle commented on #711
@Mikaela I wouldn't be the one to ask, if you have any questions I would recommend posting in [/v/help](https://voat.co/v/help). If you find anything, please reply as I would be interested to know.
Sorry if this wasn't the response you were looking for.

I would also like to note that next-to-zero decentralized social networks are easy to use.
Even less have users, and even less are popular. [Voat

[2019-01-02 08:37] Mikaela commented on #711
I think they are wery different, Mastodon is a federated Twitter/TweetDeck, while Voat is a OSS Reddit clone.

[2019-01-02 12:40] Kcchouette commented on #708
I think you should be careful with that. Eg protonmail is JS-oriented plateform, and not LibreJS compliant (https://github.com/ProtonMail/WebClient/issues/37)

[2019-01-03 13:07] Catfriend1 opened #713 "🆕 Software Suggestion | Syncthing-Fork - Wrapper for Syncthing on Android"
## Basic Information

**Name:** Syncthing-Fork
**Category:** Tools
**URL:** https://play.google.com/store/apps/details?id=com.github.catfriend1.syncthingandroid

## Description
Hi,
I'd like to suggest mentioning Syncthing-Fork (for Android) beside Syncthing as this is an additional platform where Syncthing can be used. It's available on both F-Droid and G-Play:
https://f-droid.org/de/packages/com.

[2019-01-03 15:04] beerisgood commented on #713
I don't understand why this dev doesn't help the original project.

[2019-01-03 15:38] Catfriend1 commented on #713
Long story short: Because that was the case with the original developer, he's given that project to the syncthing core team. Helped out for a while by filing pull requests and now continuing on my repo as the original has zero other people coding for it atm.

[2019-01-04 14:12] Shifterovich commented on #630
I haven't been able to set this up in a test repo, so I guess only one template is possible right now. The only thing that can be done is appending the new PR URL with `?template=xxx.md`.

[2019-01-04 14:12] #630 closed

[2019-01-04 18:35] Atavic commented on #684
*DNS* is a protocol, while *DNSCrypt* in an implementation of encryption over DNS.

Although DNSCrypt site itself uses "protocol" that's not the correct term, see:

[Source](https://www.opendns.com/about/innovations/dnscrypt/)

Wikipedia defines Hypertext Transfer Protocol Secure (HTTPS) as an extension of the Hypertext Transfer Protocol (HTTP) for secure communication over a computer network.

Li

[2019-01-08 15:11] csagan5 commented on #274
@CHEF-KOCH you cannot disable all integrations from a vanilla Chrome/Chromium, even when using policies (which a regular user would not know how to accomplish anyways).

I agree that there is a lot of misinformation and a connection or data transfer to a Google server does not mean automatically that there is active spying going on (it never is a form of spying anyways if the user has accepted a c

[2019-01-10 17:32] raghavgururajan commented on #673
Yes, they even sent me passwords in email. I have no idea why they still doing it. But they do have dashboard where you can change the password. Also the current status regarding 2FA is via Yubikeys.

Anyway, they mentioned in privacy policy that their method of site analytics doesn't try to identify anyone. That combined with paying in bitcoin, they will have no clue who the user is.

[2019-01-10 17:53] quantumpacket commented on #673
It's good to hear they are using Yubikeys for 2FA, but that is kinda pointless when the first thing they do is compromise the account by sending passwords in clear-text, which includes SFTP and MySQL credentials. This was reported to them back in March 2017 and seems it is still not fixed. I had also told them about some other issues, which I am not sure if they fixed yet. They included:

- Having

[2019-01-10 18:51] #673 closed

[2019-01-10 20:32] Mikaela commented on #141
This has moved to https://compliance.conversations.im/ where you recognise at least Disroot.org. Many Diaspora* pods are also running XMPP servers.

This doesn't exist anymore.

[2019-01-14 05:24] AshTex opened #719 "💬 Discussion | Bitwarden has Google Analytics enabled by default."
Bitwarden is currently first choice in password management software.

Generally I think Bitwarden is a good piece of software, however they have Google Analytics baked in and turned on by default. You can turn it off [1] but some users may not realise it's there to begin with as it is not well advertised. I think the recommendation for Bitwarden on the site should have a clear disclaimer about dis

[2019-01-14 10:12] beerisgood commented on #719
For privacy this is a no-go.
Remove that crap. KeePass ftw

[2019-01-15 15:34] #719 closed

[2019-01-15 15:43] Shifterovich commented on #711
All of these social networks are like that. Regardless of being decentralized/federated/centralized. If free speech is allowed, "hate" speech will be present.

[2019-01-15 16:23] kspearrin commented on #719
@AshTex, as an update, I've removed analytics from all Bitwarden client applications for their next release:

Ref: https://github.com/bitwarden/browser/issues/27#issuecomment-454453339

[2019-01-15 16:48] Mikaela opened #722 "💬 Discussion | Ease to use vs privacy/analytics"
I cannot format this so I would be happy with it, but I am wondering how important is privacy or something having analytics compared to it being easy to use?

For example Bitwarden was said to have Google Analytics enabled in https://github.com/privacytoolsIO/privacytools.io/issues/719 which led to it being removed in https://github.com/privacytoolsIO/privacytools.io/pull/720 (and I am happy to se

[2019-01-15 17:00] Shifterovich commented on #722
I agree. Ease of use is very important, which is why we recommend Signal as the first IM tool.

In some cases, such as the IM section, a reasonably secure, yet easy-to-use tool is better than some tool that's somewhat more secure but difficult to use.

However, when it comes to analytics (especially _Google_ Analytics), I think it would be against our principles to recommend such tools. I **person

[2019-01-15 17:11] Mikaela commented on #722
I haven't researched passwords managers much, but are there any as easy alternatives/equivalents to Bitwarden or is it the "Signal of passowrd managers"?

[2019-01-15 22:44] AshTex commented on #722
I agree that we should include Bitwarden somewhere (such as the "worth mentioning" list) as it fits the FOSS, encrypted at rest, and has had a third party security audit. Much like @Shifterovich I don't mind using Bitwarden (I'm a paying subscriber of it!) with analytics turned off but I think it's against the ethos of PTIO.

[2019-01-15 22:46] Shifterovich commented on #722
Again, the analytics have been removed from BitWarden.

[2019-01-15 22:56] AshTex commented on #719
@kspearrin Oh that's great news!

As an aside - thanks for making such a brilliant product. I'm a paying user :)

[2019-01-15 22:56] AshTex commented on #722
Ah sorry! I didn't see the comment on the original PR

[2019-01-16 02:39] Ligge commented on #375
Claiming that Pale Moon is "old and insecure" is repeating the false argument that has been used by its detractors for years.

The truth is that Pale Moon is developed independently, and does not rely on fixes provided by Mozilla.

Sure, Moonchild does review security fixes applicable to each version of Firefox when released, after getting access to the related bugs, but evaluating their applicabi

[2019-01-16 06:31] beerisgood commented on #375
@Ligge c'mon don't spread FUD.
Of course pale Moon and basilisk based on Firefox. Moonchild need to wait to get the security updates/ Infos from Mozilla which take some time.
Also just compare the time between a Firefox (security) update and a pale moon or basilisk update.

So the argument isn't false. Also compare how much guys work for Firefox and how less for pale moon / basilisk.
And if moonch

[2019-01-16 09:09] mattatobin commented on #375
@beerisgood You sir, have no idea what you are talking about.

The Unified XUL Platform is not dependent on Mozilla Security for fixes. Though, applicable ones are taken in where it seems appropriate. There are also security fixes that are independent of Mozilla, like stated earlier, they are often ahead of Mozilla even admitting it is an issue. This has happened a few times now.

No one has ever

[2019-01-17 03:44] Electricsheep01 commented on #650
Something you may find of interest regarding this - https://source.netsyms.com/Netsyms/AusBlock

[2019-01-18 14:47] #72 closed

[2019-01-18 14:49] Vincevrp commented on #140
Closing this since we're hosted on Github pages, which doesn't support editing `.htaccess`.

[2019-01-18 14:52] #175 closed

[2019-01-18 14:55] Vincevrp commented on #206
I can't find this link on the website anymore, I assume it has been removed a while ago. Further discussion can continue in a new issue.

[2019-01-18 14:55] #206 closed

[2019-01-18 15:05] Vincevrp commented on #522
Added in #638.

[2019-01-18 15:05] #522 closed

[2019-01-18 15:11] Vincevrp commented on #515
Does is provide any encryption?

[2019-01-18 15:15] Vincevrp commented on #465
Seafile was removed in #491.

[2019-01-18 15:15] #465 closed

[2019-01-20 12:40] ghost opened #729 "✨ Feature Suggestion | Document the shortcomings of the options"
## Description:

The website provides good guidance in general but it neglects to warn users of privacy pitfalls and shortcomings of many of the options.  I find this a little reckless and it immediately strikes me that the site must be taken with a very big grain of salt.  For Privacytools to demonstrate credibility it's very important to disclose the negatives of the tools and services being rec

[2019-01-20 13:01] Shifterovich commented on #729
Is this an issue? Aren't the apks signed by Signal?

[2019-01-20 13:10] libBletchley commented on #729
@Shifterovich

Copious issues stem from Google Playstore:
* Users must give google their phone number to get a google account.
* Google records the IMEI number for the device you are using and links that to your account.
* Google records users' IP addresses and browser prints when logged in, which is later used to link to your logged-out traffic and behavior.
* Google keeps track of what users' do

[2019-01-20 13:16] Shifterovich commented on #729
True.

I checked if they publish the apks elsewhere, but apparently they're only on Playstore. Releases don't come with the builds https://github.com/signalapp/Signal-Android/releases/tag/v4.32.7.

Yeah, Signal should definitely use F-Droid.

[2019-01-20 13:19] Shifterovich commented on #729
https://github.com/signalapp/Signal-Android/issues/127#issuecomment-13335689

[2019-01-20 14:17] libBletchley commented on #729
That discussion continues to re-appear because Google PlayStore is rightly unpopular among privacy advocates.  They've pushed the discussion out of github and the discussion continues [here](https://community.signalusers.org/t/signal-f-droid-repository/2808/44).  In the end their reasons are flimsy.  They want to track crashes and have stats on crash reports.  This does not justify pushing users i

[2019-01-20 14:35] Shifterovich commented on #729
If Jami is as easy to use as Signal (and also as secure), sure. Otherwise, we need to discuss that change.

[2019-01-20 19:41] libBletchley commented on #711
# CloudFlare site - must reject
Voat is jailed in the privacy-hostile walled-garden of CloudFlare.  This makes Voat unsuitable for privacy proponents.  In fact, this project should fundamentally reject any product or service that has ties to CloudFlare.

# What is CloudFlare (for the uninitiated)
CloudFlare is a vigilante extremist organization who takes the decentralized web and centralizes it un

[2019-01-20 19:45] danarel commented on #711
@libBletchley you may want to check the DNS on PrivacyTools.io then.

[2019-01-20 19:53] libBletchley commented on #682
Ecosia has always been hostile toward Tor users which makes it a non-starter from a privacy viewpoint.

ATM it's just dropping packets from Tor and timing out, which IMO is even less diplomacy than a "403 forbidden".

[2019-01-21 09:53] Mikaela opened #731 "🌐 Website Issue | DNSSEC support?"
## Description

Why DNSSEC isn't enabled on privacytools.io?

* [Understanding and configuring DNSSEC in Cloudflare DNS](https://support.cloudflare.com/hc/en-us/articles/360006660072-Understanding-and-Configuring-DNSSEC-in-Cloudflare-DNS)
* [DNSSEC Analyzer - privacytools.io](https://dnssec-debugger.verisignlabs.com/privacytools.io)

[2019-01-21 18:43] libBletchley commented on #711
@danarel
Oh shit that's really despicable.  I couldn't tell from the `dig` output but there is indeed a `cf-ray` in the headers.

[2019-01-21 19:00] Shifterovich commented on #711
@BurungHantu1605 used it for HTTPS but GH pages now support HTTPS without CF.

[2019-01-21 21:59] libBletchley commented on #711
Is there an onion service?  That wouldn't require HTTPS.

For the surface web combining GH with Netlify will give HTTPS but I'm not sure if that solves your issue.

[2019-01-22 13:33] tya99 commented on #603
|                 | Response | [DNSSEC](https://en.wikipedia.org/wiki/Domain_Name_System_Security_Extensions) | [CAA](https://tools.ietf.org/html/rfc6844) | TLS Errors | [MTA-STS](https://tools.ietf.org/html/rfc8461) | [TLS-RPT](https://tools.ietf.org/html/rfc8460) | [DANE](https://en.wikipedia.org/wiki/DNS-based_Authentication_of_Named_Entities) | [DANE](https://en.wikipedia.org/wiki/DNS-based_Au

[2019-01-22 13:52] zero77 opened #733 "✨ Feature Suggestion | Disposable Email and Email Forwarding Categories"
## Description:
I think it may be a good idea to add two new email categories.
Disposable Email and Email Forwarding, both of which help when you need to give out an email but dont want to use your personal one.
Forinstance, when creating an account or accessing content like downloads.

[2019-01-22 20:33] Atavic commented on #733
For temporary emails, see:

https://gist.github.com/Atavic/38bee9a52537a7c4b187175b675800d8

For email forwarding, I hasn't seen any for years. Do you have any example?

[2019-01-22 20:42] Atavic commented on #729
Re: Signal, Wire

Privacy matters [securemessagingapps comparison](https://www.securemessagingapps.com/)

...GNU Ring isn't listed

[2019-01-23 00:39] danarel commented on #729
@Shifterovich Jami is actually on the list, but listed as Ring (they changed their name about a month ago)

[2019-01-23 09:59] libBletchley commented on #729
Jami is missing from the [Encrypted Instant Messenger section](https://www.privacytools.io/#im).  It's in *video and voice* but it should appear in both.

[2019-01-23 14:43] TNTBOMBOM opened #735 "🆕 Disable Firefox network captive portal"
Add [here](https://www.privacytools.io/#about_config) enhancement to FF privacy by disabling network captive protal:

Why?Read here:

https://forums.whonix.org/t/universal-firefox-attack-through-http-manipulation-and-wont-fix/6726

[2019-01-23 14:52] TNTBOMBOM opened #736 "🆕 Software Suggestion | Tox Chat"
## Basic Information

**Name:**

Tox Chat

**Category:**

Encrypted Instant Messenger

**URL:**

https://tox.chat/

## Description

Tox Chat is the real meaning of decentralization chat , There are no servers between users at all , End2End encryption, VOIP , Works with Torification, Doesnt require Email or Mobile Number for registration , only Username and Password.

- Better than Singal because i

[2019-01-23 15:01] TNTBOMBOM commented on #474
better removing ricochet is outdated as hell and there are many bugs inside it and Tor new versions not supported by it. Wonder why the hell its still hanging there.

[2019-01-23 15:03] Shifterovich commented on #736
You might find [the other Tox threads interesting](https://github.com/privacytoolsIO/privacytools.io/pulls?utf8=%E2%9C%93&q=tox).

[2019-01-23 17:16] victorhck opened #737 "🌐 Website Issue | Old code about Laverna in netbooks section"
## Description
Remove old code about laverna in netbooks section.

I wanted to fix the cod by myself, but I get an error when I pushed my fix.
this error:

Greetings

PS: Seems that I don't have access to master branch. I can't either fix it via GitHub editor.

[2019-01-23 17:53] tya99 commented on #736
Yes but that does come at the cost of certain features, such as push notifications, which impacts on mobile battery life.

Data still leaves the Tor network.

Matrix is audited, and can do things Tox cannot.

A part from the fact that Tox is already mentioned. https://www.privacytools.io/#voip

[2019-01-23 18:04] tya99 commented on #474
It still works, does it not and has been audited by NCC.

Such as?

My understanding was it still worked with Hidden Services v2 does it not? Documentation was being improved to instruct how to replace the binary with a newer version.

Is there something better that uses HiddenServices?

[2019-01-23 18:35] #737 closed

[2019-01-23 18:39] Atavic commented on #735
Same principles apply to *network.connectivity-service* prefs in FF 65, see:
https://github.com/intika/Librefox/issues/102

[2019-01-23 19:29] Atavic opened #739 "🆕 Software Suggestion | Manyverse"
## Basic Information

**Name:Manyverse**
**Category:Social network for Android**
**URL:https://manyver.se**

## Description

A social network off the grid, See the [repo](https://gitlab.com/staltz/manyverse).

It uses the [Secure ScuttleButt](https://www.scuttlebutt.nz/) [protocol](https://ssbc.github.io/scuttlebutt-protocol-guide/).

**Currently in Beta**

[2019-01-23 20:20] TNTBOMBOM commented on #736
For offline messages this is optional to user and he can fix that if the user wants so:

https://wiki.tox.chat/users/offline_messaging

Push notification? whats wrong with it?

im sorry what? also read:

https://wiki.tox.chat/users/tox_over_tor_tot

qTox now added to debian buster repos , so lets say experimental but its reliable.

Matrix its horrible design because its not really decentralized ,

[2019-01-23 20:21] beerisgood commented on #735
@Atavic or as you write here: https://github.com/ghacksuserjs/ghacks-user.js/issues/610#issuecomment-451689075

[2019-01-23 20:22] TNTBOMBOM commented on #736
yes i know but i hope to be added to instant messages. because its worth more than matrix/riot or open whisper/signal

[2019-01-23 20:37] TNTBOMBOM commented on #474
working with dying soul. i dunno what kind of a joke of audition is this.

yeah but bugs in this case wont fix inside ricochet stuff from 2011 ... example im facing chat deletion,contact removal [issue](https://github.com/ricochet-im/ricochet/issues/593), tor not updated and 2.x has alot of horrible hidden services issues... no way to be considered reliable.  Good replacement is [Tox Chat](https:/

[2019-01-23 20:42] TNTBOMBOM commented on #739
so it will shift data and the protocol ? like freenet or zeronet ? because that gives security concerns about that.

[2019-01-24 03:47] tya99 commented on #736
Not a part of the official client. Queuing messages until the contact comes online isn't true offline messaging. Imagine if email worked like that? What you'd keep your computer on until your contact came back online? lol. As for the other options:

- **Message Relay for Tox**
Hack job, not a part of the client

- **ToxMail**
Says "HIGHLY EXPERIMENTAL - DON'T USE IT" on the page and uses words lik

[2019-01-24 03:59] tya99 commented on #474
You're welcome to check out the code and make some of the improvements you desire. I'm sure your PRs will be appreciated. Also [Ricochet Security Assessment February 15, 2016 – Version 1.2](https://ricochet.im/files/ricochet-ncc-audit-2016-01.pdf).

See above, or you could pay for a bug bounty and someone else might fix it for you.

Considering the [authors of Tox clearly state it is experimental]

[2019-01-24 04:58] danarel commented on #739
Also seems pretty narrow given that it's only for android users, and android itself is inherently non-secure. Though it's available on F-Droid, which is a plus.

[2019-01-24 08:11] vladimiry commented on #670
@kewde

The original issue has actually been addressed by https://github.com/vladimiry/email-securely-app desktop app which goes with prepackaged/built-in web clients for both ProtonMail / Tutanota email providers. Related issues:
- https://github.com/vladimiry/email-securely-app/issues/80
- https://github.com/vladimiry/email-securely-app/issues/79

[2019-01-24 15:14] TNTBOMBOM commented on #474
not reliable. since the project havent been active since more than 3 years, plus the one who involved there is the same maintainer of Ricochet itself who left it and run away.. (are you kidding me..) .

Anyone whos running ricochet know how sucks its performance and stability (unless the user too blind to see that) , no need logs to prove it. and im just a user of whonix not a developer.

I wont p

[2019-01-24 16:05] tya99 commented on #474
Well unless you can point to some new 0days out there, I think the report from NCC is still valid enough. As far as I am aware the only vulnerabilities relate to the old Tor binary distributed (which can be replaced) and not Ricochet itself.

That issue you cited had nothing to do with performance. It was a null pointer exception.

You didn't make any effort to correct people when they assumed you

[2019-01-24 16:45] Atavic commented on #739
This tool is for android only, I see it as a decentralized alternative to twitter. It is built on top of Secure Scuttlebutt (SSB) like other tools like [patchwork](https://github.com/ssbc/patchwork) for desktops.

I have not enough knowledge to compare SSB with freenet or zeronet.

[2019-01-24 17:20] pahakalle commented on #670
Protonmail made a blog post about this too https://protonmail.com/blog/cryptographic-architecture-response/

[2019-01-24 17:33] TNTBOMBOM commented on #736
Thats the only TRUE way to handle really your data and connection = privacy. and no one said Emails are encrypted or safe unless use some extra extensions like enigmail,gpg..etc , so i dont consider the convenient behind unsafely measurements to look at over less convenient but higher security.

everything mentioned in tox website. and for ratox check here:

https://git.2f30.org/ratox-nuggets/

Wh

[2019-01-25 00:51] josephholsten commented on #84
Don't forget, DDG is reported to use US dollars, and the US is well known for invading peoples privacy, to say nothing of engaging in warfare, so we can't support them! Of course, @libBletchley did made his proposal on a site operated by Microsoft, so let's entirely ignore whether he would cut off his nose to spite his face.

[2019-01-25 03:51] tya99 commented on #736
Yes and emails aren't real-time and don't have [PFS](https://en.wikipedia.org/wiki/Forward_secrecy). GPG and S/MIME also do  not protect the metadata in the email's header, so that is a sacrifice you have to make.

If we suggested unusable and difficult products people would just use centralized and proprietary products. So it is something that we must consider.

I see a changelog, no documentatio

[2019-01-26 02:16] pdjpdjpdj opened #740 "🆕 Software Suggestion | Keybase"
## Basic Information

**Name:** Keybase
**Category:** e2eE chat, e2eE storage with kbfs, e2eE private git repo, cryptographic account linkability and proof of identity
**URL:** https://keybase.io/

## Description
Imho Keybase should be added. It's early days for a lot of it's features but still already nice filestorage with better guarantees than the competitors. E2E chat and

[2019-01-26 02:20] pdjpdjpdj commented on #740
So Adding keybase to?
-  Encrypted Cloud Storage Services
- Secure hosting provider (e2eE git repository hosting)

[2019-01-26 02:34] pdjpdjpdj opened #741 "✨ Feature Suggestion | Darkpatterns Category"
To raise public awareness make a seperate page with several dark patterns explainded that are being used by survcap companies to manipulate users and steer behavior towards desirable.

## Description:

e.g. [on twitter](https://twitter.com/darkpatterns)
(Speaking of twitter. Signing up with a non survcap email (e.g. tuta) is pretty much impossible (works flawlessly on mastodon and github though.)

[2019-01-26 02:39] pdjpdjpdj opened #742 "✨ Feature Suggestion | Gitlab mirroring"
## Description:
In these days and certainly for this project certainly a backup on another public git repository hoster is imho recommended. I was thinking of GitLab using [anyone experience with it](https://github.com/samrocketman/gitlab-mirrors)?

[2019-01-26 02:48] pdjpdjpdj opened #743 "✨ Feature Suggestion | Privacy activism"
## Description:
Privacy issues are of high complexity but plenty out there. Given the amazing platform directly targeted to end-users it might be a good idea to have a privacy activism blog. Detailing the associated risks of certain features in soft/hard/carpware/SCAPSware. There's this new [LINDDUN Privacy SDLC Framework](https://distrinet.cs.kuleuven.be/software/linddun/linddun.php) that could b

[2019-01-26 02:58] pdjpdjpdj commented on #579
I see those 2 vids on GoogleTube links in the entire repository.
A simple replace should do the job s/youtube.com\/oldlink/thoselinks.

[2019-01-26 03:24] pdjpdjpdj opened #745 "✨ Feature Suggestion | SCAPS transparency and avoidance"
## Description:

I think we should be
1) Avoiding as much ties with Surveillance Capitalism Corporations (SCAPS e.g. GAFA, Alibaba, Tencent, Samsung,...)
2) Being transparent about potential exceptions:
- Facebook page (as of now still required to reach a broad audience imho) - Needs new issue?
- Github (status of Microsoft (GAFA**M**) while far better than Google/Facebook is not clear to me yet t

[2019-01-26 08:09] beerisgood commented on #740
Site doesn't have CSP policy, track referer, use Amazon AWS server (from USA)
Not realy recommend for important/ private data.

See https://webbkoll.dataskydd.net/en/results?url=http%3A%2F%2Fkeybase.io

[2019-01-26 15:20] infosec-handbook commented on #740
@beerisgood

You don't have to go to the website to use Keybase.

DuckDuckGo uses AWS, Signal uses AWS, GitHub uses AWS – all recommended by privacytools.io … So there are more recommendations on privacytools.io that don't match your criteria.

[2019-01-26 15:22] tya99 commented on #729
I used Ring.cx a while back and did notice a few issues with it. The windows client didn't uninstall cleanly, and I did have trouble with initiating a video conferencing call. In the end I used qTox for that call.

One of the things to keep in mind about Signal, is that it supports push notifications, which means there's likely to be better battery life on mobile platforms.

I wish there were more

[2019-01-26 16:34] beerisgood commented on #740
@infosec-handbook maybe nobody see this problem with Amazon yet?
But it's there and should be noticed

[2019-01-27 19:42] Atavic commented on #743
:+1: This LINDDUN project is interesting. But the site itself loads analytics.js by google over unencrypted HTTP.

[Good insights](https://webbkoll.dataskydd.net/en/results?url=http%3A%2F%2Fdistrinet.cs.kuleuven.be%2Fsoftware%2Flinddun%2Flinddun.php#sri), @beerisgood

[2019-01-27 19:47] Atavic commented on #741
SurveillanceCapitalism on sites that force users to login only with Firefox or Chrome browsers.

[2019-01-27 21:20] pdjpdjpdj commented on #741
Or even a more general darkpattern of the way websites handicap their mobile website to push their data hungry mobile apps. Also twitter as example, but examples are plenty on this one.

Could also be included:
- Facebook only services.
- Google only services.
- Sites handicapping non-mainstream browsers
- Services pushing you towards privacy unfriendly behavior.

Idk maybe this is not the place t

[2019-01-28 09:26] tya99 opened #746 "💬 Discussion | Change Encrypted Instant Messenger to Zero Metadata IM."
So, there's a fair bit of crossover between these two categories:

- Encrypted Instant Messenger
- Encrypted Video & Voice Messenger

Something that has become apparent to me is that there's a lot of "Matrix vs Tox" and "Ricochet vs Some other messenger that has servers". "Jami vs Linphone" etc.

A lot of instant messengers *do* support video these days, should we even bother with having a separat

[2019-01-28 09:37] tya99 commented on #596
Please see https://github.com/privacytoolsIO/privacytools.io/issues/746 I think they are related.

[2019-01-28 09:44] tya99 commented on #736
Clearly as there's been a lack of understanding here, I suggest https://github.com/privacytoolsIO/privacytools.io/issues/746

[2019-01-28 09:45] tya99 commented on #474
Clearly as there's been a lack of understanding here, I suggest https://github.com/privacytoolsIO/privacytools.io/issues/746

[2019-01-28 10:33] tya99 commented on #375
This should be closed as WONTFIX. Waterfox and Palemoon should **never** be recommended. They often lag way behind upstream and depend on a huge load of unmaintained code.

XUL is dead and WebExtensions is here to stay.

A web browser is a highly complicated piece of software that requires quite a lot of resources to maintain.

There are also significant issues related to trust. We should never be

[2019-01-28 11:11] tya99 commented on #121
If you have uMatrix, you do not need NoScript. However by default uMatrix does not block all first party scripts.

Currently I am using:
* Cookie AutoDelete
* Decentraleyes
* HTTPS Everywhere
* Redirect AMP to HTML
* uBlock Origin
* uMatrix

I posted about [this on Reddit](https://reddit.com/r/privacytoolsIO/comments/aig2j5/umatrix_vs_noscript/eepfxz7/?context=1)

Using both at the same time is a

[2019-01-28 11:13] zero77 commented on #733
@Atavic

https://gist.github.com/Atavic/38bee9a52537a7c4b187175b675800d8

Yes there's lots out there, as there's so many it may be worth finding the ones that are least blacklisted.

I haven't used them for a while but, there are also lots out there, i will post examples when i find the ones i use to use.

[2019-01-28 12:35] mattatobin commented on #375
Nothing original again. Very disappointing!

[2019-01-28 12:42] tya99 commented on #375
You may not like it as a member of the [Moonchild appreciation society](https://github.com/MoonchildProductions) but that doesn't make it any less true.

[2019-01-28 13:35] #530 closed

[2019-01-28 13:59] mattatobin commented on #375
Actually, it isn't true. You know what it is though @tya99? It is Fake News!

You are Fake News.

[2019-01-28 16:46] mattatobin commented on #375
@Shifterovich A number and as already stated we are often ahead of the curve when it comes to security. Of course we also take in any applicable security fixes from Mozilla including those of a defense-in-depth nature which are not actively exploitable but could be if surrounding code were to expose it.

For instance, there was a secbug involving javascript timers we came across and fixed a full y

[2019-01-28 18:42] beerisgood commented on #375
Wow what a post. I wonder how much money you got from Moonchild for writing such irrelevant stuff on whole internet again and again.

Also let's see how long your fork works if Modern Mozilla Mozilla exclude you from security Infos or your users leave cause they want up2date add-ons

[2019-01-28 22:45] mattatobin commented on #375
That would be a big fat check of zero dollars and zero cents @beerisgood. There are more important things than money in this world such as my work work outlined above.

Though it does raise the question in some peoples minds like how much do people like you but not necessarily you specifically get paid for this kind opposition?

I hear in other causes it can be quite generous but what is the going

[2019-01-28 23:14] Ascrod commented on #375
@tya99

This wouldn't be a problem if the teams weren't so small, now would it? Also, as stated before, a hard fork does not necessarily depend upon the upstream.

[Yes.](https://github.com/Ascrod) As a developer, I might use WebExtensions more if the APIs were functionally on par with what XUL and XPCOM can do. But despite its occasional clunkiness, XUL/XPCOM remains the framework that provides m

[2019-01-29 01:54] tya99 commented on #375
Many of the points in your comment  @mattatobin there lack citation or any kind of evidence https://github.com/privacytoolsIO/privacytools.io/issues/375#issuecomment-458208166 I am expected to just "take your word for it", so I am not convinced.

You make it sound like you're some industry moving force when that's not the case.

You may have a few contributors but that those aren't full time devel

[2019-01-29 02:11] mattatobin commented on #375
Nah, but we are tuned in to the industry standards.

All you need is a few good men to create the future!

No, we collectively aren't interested in Servo or anything Mozilla is really doing these days. Mainly, because we all feel it is wrong. Let them be who they have decided to be.. Doesn't have anything to do with us at this point.

See above about Servo. Though I should have clarified as "All b

[2019-01-29 02:22] tya99 commented on #375
So what are you going to do when pages don't work in anything but Blink and Servo? Eventually those engines are going to implement features you do not have and site developers will test in those environments and nothing else.

This will in turn create even more work. Even Microsoft (with their resources) gave up developing EdgeHTML and opted to use Chromium.

😢

[2019-01-29 03:22] tya99 commented on #375
Okay.

If you're concerned about privacy there are better ways to achieve this, such as [Tor Browser](https://en.wikipedia.org/wiki/Tor_(anonymity_network)#Tor_Browser). At least your fingerprint won't then be so unique and you actually have Tor to not expose your IP address.

[Nuke the sandbox](https://github.com/MoonchildProductions/UXP/commit/43f7a588f96aaf88e7b69441c3b50bc9c7b20df7) too hard?

[2019-01-29 05:50] tya99 commented on #144
It should be noted that I am working on something like this and have begun research. https://github.com/privacytoolsIO/privacytools.io/issues/603

[2019-01-29 07:12] mattatobin commented on #375
I came here because I was made aware of people spreading falsehoods about something I been helping develop and drive for years now.

The sandbox doesn't work, Mozilla's own security bugs prove that. As for HSTS that is under user control.. Like I said, by default is for it to be enabled.

Above all else the stuff we collectively do is done in the hopes it will be useful. Choice also remains paramo

[2019-01-29 08:17] beerisgood commented on #375
No one wants stop your project, but don't list it on privacytools.io

[2019-01-29 09:08] mattatobin commented on #375
That is totally up to you. I just don't get all the overdramatic bashing that happened. Don't want to list any UXP Application on privacytools then don't.

I have no opinion one way or another on that but this crusade against us is what I have a problem with. One of course is free to have their own opinions but that doesn't require 10+ posts of bashing for the crime of existing.

[2019-01-29 09:18] tya99 commented on #375
You edited your last reply a number of times. I was already in the process of replying.

Well I don't believe that at all based on your edits.

Nope. If there was evidence of the latter then it would still be something valid you could say about a person. There is certainly evidence of the former, so we can still say it about Pale Moon.

[2019-01-29 09:33] mattatobin commented on #375
https://freenode.logbot.info/palemoon/20190116#c1926961-c1927067

[2019-01-29 09:38] tya99 commented on #375
So that user was trying to form a brigade.

I have clearly stated why (in previous comments) why they are wrong.

[2019-01-29 09:40] mattatobin commented on #375
Where is your proof and evidence in this? Cause I see nothing that supports your so called facts. Our work can speak for its self.. What do you have to counter it?

[2019-01-29 09:51] tya99 commented on #375
Your browser hasn't had the scrolling code removed? Read my previous replies.

Note the key word in my comment **trying**.

[2019-01-29 09:54] mattatobin commented on #375
What scrolling code? I see no mention of it in this issue.

[2019-01-29 09:58] tya99 commented on #375
I was referring to your inability to use your [scrollbar](https://en.wikipedia.org/wiki/Scrollbar) to read my previous comments. Ie:

[2019-01-29 10:09] mattatobin commented on #375
Well that was misleading.. Anyway, the burden of proof really is on you to support the `old and insecure` narrative. OH you can link to those bashing articles but that just makes you fake news.. Where is your first hand proof.

[2019-01-29 10:21] tya99 commented on #375
I figured other huge portions of your browser are missing so why not that.. 🙃

I have done so in my comments. You have just been in denial and haven't provided anything to counter it.

[I know you will just keep responding until the issue is closed](https://reddit.com/r/linux/comments/7w61aw/pale_moon_removed_from_openbsd_ports_due_to/dtxzobv/). So I won't be responding after this unless there is

[2019-01-29 10:36] mattatobin commented on #375
That's okay. Also, the public record is all the proof I need. Our work like the truth speaks for its self.

Also, you didn't need to cite the bsd issue because I already admitted that I handled that poorly. But you wouldn't know that since you don't seem to know much beyond what you are told. That is okay too.

I also directly said I wouldn't quit as long as you want to continue this.

[2019-01-29 12:47] Ligge commented on #375
I was not trying to form a brigade. Instead, I was annoyed at what appeared to be yet another example of someone repeating the same old claims that I have seen being spouted for years, as a user of the browser, when the fact is that independent development - when done seriously, as Pale Moon (and Basilisk, along with other UXP applications) is - isn't actually a bad thing just because someone does

[2019-01-29 14:23] tya99 commented on #375
Complaining to your friends about misinformation that is **not** misinformation and expecting someone to do something about it is brigading.

Old claims, because they are old problems, being in denial isn't going to solve them. There's a very good chance the future will only make them worse.

Just because you make some modifications to an old discarded Mozilla codebase doesn't make it yours.

Sure

[2019-01-29 14:47] mattatobin commented on #375
I have formed an opinion on if Pale Moon et all should be listed by privacytools.. I am against it because this organization gives bad advice like disabling the blocklist and supports the very mainstream companies they apparently want to fight against vs any alternative.

So yeah, I can secure an official statement from Moonchild if you want but you should just consider adding any Moonchild Produc

[2019-01-29 15:09] tya99 commented on #375
Nobody cares for your opinion so yeah... It wasn't going to be listed anyway.

Well actually if you read what it says there:

Notice the word **optionally**. Yeah. The first recommendation is simply to remove the parts of the blocklist URL string that might infringe on one's privacy ie `%APP_ID%/%APP_VERSION%/%PRODUCT%/%BUILD_ID%/%BUILD_TARGET%/%LOCALE%/%CHANNEL%/%OS_VERSION%/%DISTRIBUTION%/%DISTR

[2019-01-29 15:47] Shifterovich commented on #375
I don't really have the time to read all this but assuming @mattatobin is a Pale Moon dev,

sounds like we shouldn't add Pale Moon. Not sure if I can see all the org members here https://github.com/orgs/MoonchildProductions/people but looking at the [commit history](https://github.com/MoonchildProductions/UXP/commits/master), Pale Moon is too small to be added to PTIO imo.

This thread is very lon

[2019-01-29 19:38] Atavic commented on #375
I don't see mattatobin as a member of privacytools organization.

Everytime I found issues with mattatobin, I had the impression of reading boring words by some lawyer.

[2019-01-30 03:05] tya99 commented on #375
A practicing lawyer would almost certainly not have issues with reading comprehension, punctuation and writing coherent sentences.

[2019-01-30 14:47] Atavic commented on #375
Yes, it appears like they want their browser banned from most of the projects: some distributions have banned it.

[2019-01-30 16:52] atomGit commented on #577
@hugoncosta - finally getting back to you with this, and requesting your help

i have 2 Firefox config guides which you may want to reference/link on privacytools.io - they are...

[Firefox Configuration Guide for Privacy Freaks and Performance Buffs – 12Bytes.org](https://12bytes.org/articles/tech/firefox/firefoxgecko-configuration-guide-for-privacy-and-performance-buffs)

and...

[The Firefox Pr

[2019-02-02 11:08] hugoncosta commented on #577
I'll make the PR then, we'll continue the discussion there :)

[2019-02-02 21:22] leonallen22 opened #750 "💬 Discussion | Ring -> Jami"
Ring (https://ring.cx/) has recently changed its name to "jami"
Blog post with more details here: https://blog.savoirfairelinux.com/fr-ca/card/ring-devient-jami/
(Although it's in French)

[2019-02-03 18:36] libBletchley commented on #740
This criticism of keybase is 1 year old, so I'm not sure how much of it still applies:

# Keybase, we have a problem.
The Keybase software and service are both littered with severe bugs
that create a security and legal nightmare.  Here are some of the
issues:

  * Deception: Their software is a server masquerading as a client
    app.  They simply call it an "app" on this page:
    https://keybase

[2019-02-03 18:50] libBletchley commented on #374
I have a few issues with CloudFlare:

# Problem with CloudFlare
CloudFlare is a vigilante extremist organization who takes the decentralized web and centralizes it under one corporate power that controls the worlds largest walled-garden. A very large portion of the web (10%+) that was once freely open to all is now controlled and monitored by one central authority who decides for everyone who can

[2019-02-04 20:14] Atavic commented on #374
I won't touch that cloudflare onion site even with a ten foot pole.

[2019-02-04 21:08] libBletchley commented on #374
@Mikaela

Perhaps, if by "better" you mean fewer CAPTCHAs.  I've actually come to appreciate the CloudFlare CAPTCHAs because they quickly indicate a site I should avoid.  The non-CAPTCHA related privacy abuses still remain for everyone and the CAPTCHA abuses still persist for Tor users who are not using CF's chosen browser.  I shit you not, CF is dictating to Tor users which browser they may use -

[2019-02-04 21:14] Atavic commented on #374
ReCAPTCHA is a google service. Tor users are abused by this thing, Cloudflare offers - out of thin air - a ReCAPTCHA bypassing option for Tor users. Surely they track those who use their sevice.

[2019-02-04 21:18] Atavic commented on #480
Privacyscore has a list of [VPN sites](https://privacyscore.org/list/276/?categories=privacy%2Cssl%2Csecurity%2Cmx) where some don't pass this review:
out of 278 websites, 128 failed critical checks.

[2019-02-06 16:51] Atavic commented on #126
Most "recent" ROMS were released in 2017 (Huawei, Oppo).

[2019-02-06 21:54] tya99 commented on #121
I have done a bit of research and I think you might be right. I was having a look at https://github.com/ghacksuserjs/ghacks-user.js/wiki/4.1-Extensions looking to see how I could improve things.

It would appear currently I wasn't protecting against cache related [tracking with HTTP ETags](https://en.wikipedia.org/wiki/HTTP_ETag#Tracking_using_ETags). Using this website https://lucb1e.com/rp/cooki

[2019-02-06 22:49] beerisgood commented on #121
Resist fingerprinting is fine and recommend in gHacks user.js
Also better solution then canvas blocker add-on and don't forget that this simple setting don't just change canvas. It change a lot!

[2019-02-07 02:12] tya99 commented on #121
I might just do that then. I like to avoid addons if I can help it. On mobile Android it seems [Temporary Container](https://addons.mozilla.org/firefox/addon/temporary-containers/) isn't supported because of [tabs.create API on Android does not support cookieStoreId](https://bugzilla.mozilla.org/show_bug.cgi?id=1398097).

I guess there I will go with [ETag Stoppa](https://addons.mozilla.org/en-US/

[2019-02-07 06:12] shortenjukebox commented on #711
Tildes is open source, though the project’s focus is just not on federation.

[2019-02-07 06:23] shortenjukebox opened #751 "✨ Feature Suggestion | Mention Princeton Web Census"
## Description:

To help visualize how prevalent web tracking and fingerprinting is, I’d suggest mentioning the [Princeton Web Census](https://webtransparency.cs.princeton.edu/webcensus/index.html) under _Browser Fingerprint § Related Information_ or _Recommended Privacy Resources § Tools_. The study it’s based on was conducted in 2016, though I feel the website is still a timely resource.

[2019-02-08 11:11] misaka00251 opened #752 "🆕 Software Suggestion | EncryptPad"
## Basic Information

**Name:** EncryptPad
**Category:** Digital Notebook
**URL:** [Github](https://github.com/evpo/EncryptPad), [Website](https://evpo.net/encryptpad/)

## Description

EncryptPad is an application for viewing and editing symmetrically encrypted text. Using a simple and convenient graphical and command line interface, EncryptPad provides a tool for encrypting and decrypting binary

[2019-02-08 11:12] misaka00251 commented on #752
### Known weaknesses
EncryptPad stores unencrypted text in memory. If a memory dump is automatically taken after a system or application crash or some of the memory is saved to a swap file, the sensitive information will be present on the disk. Sometimes it is possible to configure an operating system not to use a dump and swap files. It is a good practice to close EncryptPad when not in use.

[2019-02-08 12:15] tya99 commented on #121
@beerisgood

There's a nice writeup about that here https://medium.com/@stoically/enhance-your-privacy-in-firefox-with-temporary-containers-33925cd6cd21

@stoically points out that in that post that:

Also ghacks-user [points out](https://github.com/ghacksuserjs/ghacks-user.js/wiki/4.1-Extensions):

[2019-02-09 13:07] pdjpdjpdj opened #753 "✨ Feature Suggestion | Maturity/independant audit matrix"
## Description:

I think it might be useful to score the listed applications on software maturity, security maturity and or whether the software had an independent audit. Maybe starting out making a large spreadsheet (is that easy/possible on GitHub??) to list the software so we want to rate/check.

What do you guys think about this suggestion?

[2019-02-09 13:11] pdjpdjpdj opened #754 "💬 Discussion | Alternative to Facebook Events"
Facebook is ever present with it's 2billion plus user base. Yet it's hard to just ditch it altogether and one of the factors is of course the network effect and specifically for Events. Do you guys see/know any viable alternatives?

It should be:
- easy to use
- easy to migrate to (start with scraped public Fb events?)
- contain important event features (attendance, location, discussion, ...)
- pr

[2019-02-09 13:14] pdjpdjpdj commented on #740
@beerisgood and @libBletchley Thanks for the feedback I'll look into this because I wasn't aware honestly.

[2019-02-09 13:16] pdjpdjpdj commented on #741
Bad usability is imho a darkpattern in itself because it hinders user adoption which is often crucial.

[2019-02-09 13:17] pdjpdjpdj commented on #742
Anyone know whether you can configure git hooks to do just that? Mirror the repository/issues to e.g. gitlab?

[2019-02-09 13:20] Shifterovich commented on #742
If a GitLab mirror is set up, it should be read only with a link to the main repo. We don't want people opening issues/PRs on GL.

[2019-02-09 13:22] pdjpdjpdj commented on #743
Fair point @beerisgood but so do most academic institutions in this day and age. I don't agree with their choice but it's a reality in this day and age just like Facebook has become (an unfortunate but) important part of society. Whether you want it or not. But please don't let it distract you from the content. I'm sure that the authors are open to constructive criticisms about their site/project.

[2019-02-09 15:10] beerisgood commented on #743
The problem is that WE users need saying no to stuff like that. If we just ignore the bad thinks, it even get worse.

So I can not agree with you @pdjpdjpdj.
Professional sites should know that

[2019-02-09 15:12] beerisgood commented on #754
Fediverse

[2019-02-10 17:59] Atavic commented on #743
Upcoming Webauth: https://github.com/ghacksuserjs/ghacks-user.js/issues/644

[2019-02-10 18:00] Atavic commented on #741
Upcoming Webauth: ghacksuserjs/ghacks-user.js#644

[2019-02-11 10:31] PrivSecurity commented on #754
I think Hubzilla or Friendica are the two Fediverse platforms that are closest to what you are asking for. Correct me if I am wrong. Here is some info regarding the differences between the two:

https://github.com/friendica/friendica/issues/2894

[2019-02-11 16:46] dg01d opened #756 "💬 Discussion | Move site from .io ccTLD"
Please move the site from the .io ccTLD.

The .io domain is a terrible one to use, as every subscription sees money flowing directly to the people who have carried out an effective genocide of an entire people, and who continue to perpetrate that oppression even today.

The .io domain operates almost exclusively to provide funding and support to the British Military occupation of the Chagos Island

[2019-02-11 16:51] Shifterovich commented on #756
The `.io` is part of the project name. There are many links to PTIO online, the subreddit is called privacytoolsIO etc. This is not really something that can be easily changed, sorry.

[2019-02-11 16:51] #756 closed

[2019-02-11 17:09] dg01d commented on #756
That's what you call a `Discussion`???

Your site is supporting the near genocide of a people. Your money is helping to pay for a **CIA Black Site**. People who support your work are, likewise, supporting these things.

But you don't care, because you didn't bother to find any of this out? Or because you just don't care?

[2019-02-11 17:16] bakku commented on #756
@dg01d It's not that you don't have a point, but where would this stop? Should this project also stop using github because it also has a `.io` domain for some of its services?

[2019-02-11 17:28] Shifterovich commented on #756
Because:

1. I have no control over the DNS
2. We would still need to pay for this domain as to make old links work
3. We would have to change the project's name. This means:
    - updating the graphics
    - renaming reddit community if that is even possible?
    - somehow informing every single person that knows about this project about the name/"brand" change

[2019-02-11 17:30] dg01d commented on #756
What's wrong with doing all those things?

Your effective answer to "Your site registration funds a CIA Black Site, yet you claim to be against Surveillance" is "Politics is Hard. Technology is Hard."??

[2019-02-11 17:32] Shifterovich commented on #756
Why do you use GitHub if you're against .io domains?

[2019-02-11 17:34] dg01d commented on #756
Where should it stop, I don't know. I do know where it can start though - by changing the domain to one that doesn't support the repression of the Chagossians.

Should a project which aims to educate people on the global surveillance apparatus use Microsoft GitHub? Do I really need to answer that question, leaving aside the Chagos Islands issue?

[2019-02-11 18:01] dg01d commented on #756
Aside: I see that "please be civil" is, as usual, honoured solely in the gatekeeping sense, and doesn't apply to Project Members.

My hypocrisy in... using Github?

As opposed to your projects actions in **actively supporting** genocide, colonialism and rendition sites?

Yes, github uses .io domains - I've been in correspondence with them about it before, but never used one of their .io domains fo

[2019-02-11 18:21] Shifterovich commented on #756
If you look at previous threads you will see this rule is followed by project members until it's broken by others. Then it's broken by me in conversations with those people.

Actively? That's like saying buying something manufactured in China is actively supporting genocide.

You seem to like projects that run on .io domains https://github.com/dg01d/KnownPnut (did you actually pay $42 to a company

[2019-02-11 19:05] bakku commented on #756
@dg01d I can understand your cause however switching the domain would do more harm than good...CIA and British Military are government funded, them receiving a few dollars less per year won't help much compared to the impact of a domain change on this project.

Sorry, but this sentence applies to you as well by immediately getting salty after your proposal was rejected.

Thank you however for rais

[2019-02-11 19:20] Atavic commented on #751
Also scroll down on linked page for other Studies Using [OpenWPM](https://github.com/mozilla/OpenWPM).

[2019-02-11 20:26] pdjpdjpdj commented on #754
Thanks both for the info. I haven't tried those will give it a shot. Are they interconnected Hubzilla and Friendica? Can a bridge be made for Mastodon?

[2019-02-11 20:31] pdjpdjpdj opened #757 "💬 Discussion | Presence on privacy respecting social media"
While I agree that it's way to early to no longer have a foot inside Facebook/Twitter/... I do think that it would be beneficial to give people options to follow the progress of this awesome project on alternative, more privacy respecting social media.

I'm thinking of:

- Diaspora
- Friendica
- Mastodon
- ...

I'd like to propose managing the mastodon one myself, if we agree that it's a good idea

[2019-02-11 20:40] danarel opened #758 "❌ Software Removal | Brave Browser"
More evidence that Brave is just Malware to push profit towards their own cryptocurrency.

https://glitch.social/@tessaracht/101572578668968885

"first, they sold exceptions to privacy tracking to Facebook and Twitter, now it comes out they've got a header override that allows them to set header exceptions on demand."

https://laptop-updates.brave.com/promo/custom-headers

[2019-02-11 20:57] PrivSecurity commented on #754
If I remember correctly both hubzilla and friendica  can have friends on and post to Mastodon as well as other platforms on the free Social Web. If you read the link I posted I think it says there that those two are the only platforms that can you connect to both fediverse and Federated or whatever they're called those two parts of the free Social Web.

[2019-02-11 20:58] Shifterovich commented on #758
Please use this thread: https://github.com/privacytoolsIO/privacytools.io/pull/657#issuecomment-462383956

[2019-02-11 20:58] #758 closed

[2019-02-11 22:41] Mikaela commented on #757
I think Hubzilla and Pleroma are worth mentioning.

Hubzilla would federate with Mastodon/Pleroma and Diaspora* and while it's more complicated, it would allow multiple people to share the channel without knowing the account password. Pleroma again is similar to Mastodon and supposedly (I haven't read the documentation for either nor selfhost) easier to setup and lighter. It also has a Mastodon UX

[2019-02-12 00:50] dietercastel opened #759 "🆕 Software Suggestion | One-Time pad / 2FA apps"
## Basic Information

**Name:** FreeOTP
**Category:** One-Time pad/2FA
**URL:** https://freeotp.github.io/

## Description
As per this comparison:
https://blog.devolutions.net/2017/8/updated-most-popular-2-factor-authentication-2fa-compared

Still looking into it's privacy aspects.

[2019-02-12 00:52] dietercastel opened #760 "🆕 Software Suggestion | Librem Key"
## Basic Information

**Name:** Librem key
**Category:** One-Time pad/2FA app
**URL:** https://puri.sm/posts/purism-launches-librem-key-only-security-key-to-offer-tamper-evident-protection/

## Description
Second suggestion in the new One-Time pad/2FA app as per #759

[2019-02-12 06:18] ghost opened #761 "🆕 Software Suggestion | Njalla VPS"
## Basic Information

**Name:** Njalla VPS
**Category:** Secure Hosting Provider
**URL:** njal.la

## Description

Njalla has started new VPS service. Since Njalla is already vetted to be included in the list for DNS, it can be added to Secure Hosting Provider as well.

[2019-02-12 12:19] Vincevrp commented on #761
Good to know, though there's currently almost no information available on their website, unless you create an account.

[2019-02-12 13:01] pahakalle commented on #761
Njalla vps specs, prices and supported operating systems for those who don't want to register

![capture](https://user-images.githubusercontent.com/1533244/52637038-d7358a00-2ed6-11e9-9ba7-71f4e848a21e.PNG)

[2019-02-12 13:08] Vincevrp commented on #761
Is there any info on where the severs are hosted?

[2019-02-12 13:10] pahakalle commented on #761
@Vincevrp not that i can find, i made a support request for that info i will post here when i get a reply on that.

[2019-02-12 13:14] pahakalle commented on #761
Took a fast stoll trough the [Njalla ](https://twitter.com/njal_la) twitter and someone said the servers are located in Sweden

[2019-02-12 13:17] pahakalle commented on #761
Got a fast answer
![njalla](https://user-images.githubusercontent.com/1533244/52637865-38f6f380-2ed9-11e9-9f07-59c56719c908.PNG)

[2019-02-12 13:33] Vincevrp commented on #761
Sounds good, though we might want to wait until they publish some more details on their website.

[2019-02-12 16:10] Vanecx commented on #754
I think what you're looking is already under construction thanks to Framasoft : https://github.com/framasoft/mobilizon

[2019-02-12 17:18] Mikaela opened #762 "💬 Discussion | Alternative to Facebook Groups"
The two features I miss the most from Facebook are events (https://github.com/privacytoolsIO/privacytools.io/issues/754) and Groups as somehow many different groups have ended up there.

Do you have any suggestions on which privacy friendly open source services provide similar features being a good competitor to them?

I can only think of [Loomio](https://www.loomio.org/) and [Hubzilla](https://zo

[2019-02-12 18:53] Atavic commented on #759
See: https://github.com/freeotp/freeotp-android/issues/207

[2019-02-12 19:54] Zig-03 opened #763 "💬 Discussion | privacytools.io says that "Windows 10 - is a privacy nightmare" yet you use GitHub which is owned by MS, just like Windows 10 is?"
Have you considered self-hosting or using a privacy-oriented github alternative? :-)

[2019-02-12 20:11] beerisgood commented on #763
GitHub is fine. It changes nothing that it's now owned by Microsoft. Microsoft even make it better for users.

Also you can config Windows 10 as you like.
It's not a privacy nightmare, it just have more features and more control about permissions.
And you can stop the telemetry

[2019-02-12 22:03] Kcchouette commented on #750
Indeed, you should changed that on the website. No idea why it need feedback…

[2019-02-12 22:09] Kcchouette commented on #757
How can we be sure that you'll not fuck up with the IP/data/etc?

[2019-02-13 05:35] leonallen22 commented on #750
@Kcchouette I believe all new issues are tagged with the "feedback wanted" tag automatically, I did not add the tag :+1:

[2019-02-13 11:23] #750 closed

[2019-02-13 11:48] Shifterovich commented on #763
The issue with W10 isn't MS, the issue is that it tracks the users so much. Being owned by MS isn't _necessarily_ bad.

Fewer people use GitHub alternatives, so I don't think moving is a good idea. Just look at prism break on GH and on GitLab.

[2019-02-13 11:48] #763 closed

[2019-02-13 12:29] Zig-03 commented on #763
@Shifterovich

Sure, people will always choose convenience but if you archive the GitHub repo and motivate them to move to an alternative, this is what's gonna happen:

- https://github.com/f-droid/fdroidclient (archived)
- https://gitlab.com/fdroid/fdroidclient (active) - _IMO the GitLab version is doing great!_

TBH I'm deeply disappointed by your decision, this is not some random project, **it'

[2019-02-13 13:28] Vincevrp commented on #759
[andOTP](https://github.com/andOTP/andOTP) seems to be more actively maintained, and is more feature-rich. I personally use this.

[2019-02-13 14:46] Shifterovich commented on #763
Our goal is to teach people about privacy. It doesn't matter whether we do it from a GH server or from a GL server. What's wrong with GH? And don't say "it's owned by Microsoft", say also what that implies.

If we are to compare us with another project, it's prism break. They have 1128 stars on GH and only 77 on GL. GitLab is a dead place compared to GH. Also, here's a fun thing. If you look at th

[2019-02-13 16:34] Shifterovich commented on #763
I agree about your self-hosted point, since GL isn't really any better than GH. It's just another San Francisco company.

After some time? Would PRs and issues be deleted too (_associated information_)? I never had issues with GH and Tor.

Either way, GH has a much bigger community and Microsoft owning GH doesn't make it any worse than GL. There's just no reason to move to GL.

[2019-02-13 17:16] danarel commented on #759
Tofu and OTP Auth are great iOS 2FA clients.

[2019-02-13 19:07] raghavgururajan commented on #761
The following is the information I got from them.
![screenshot from 2019-02-13 14-05-57](https://user-images.githubusercontent.com/28721371/52736785-9b77ee80-2fc2-11e9-8ff6-cebd2e87659f.png)

[2019-02-14 11:57] matsest commented on #731
Sites hosted on GitHub Pages does not support DNSSEC (yet). I received this in November after asking them directly:

[2019-02-14 15:40] Mikaela commented on #731
Privacytools.io is using Cloudflare for DNS and as a reverse proxy, so GitHub pages not supporting DNSSEC doesn't prevent it. I think there are many pages with similar setup without issues, for example [mine (DNSSEC Analyzer link)](https://dnssec-debugger.verisignlabs.com/mikaela.info) which until recently had a similar setup, currently I am only using Cloudflare for www.

Of course GitHub pages n

[2019-02-14 16:22] matsest commented on #731
@Mikaela Oh, I did not know about the setup with using it as a reverse proxy and I'm somewhat confused over GitHub's support pages regarding this, resulting in my correspondence with them.

From my experience with Github using the "[regular](https://help.github.com/articles/setting-up-an-apex-domain-and-www-subdomain/)" setup for DNS with a apex and subdomain with the CNAME my site [fails in DNSSE

[2019-02-14 18:16] Atavic commented on #762
:+1: for Hubzilla, or [GNU social](http://savannah.gnu.org/search/?words=gnu+social&type_of_search=soft&Search=Search&exact=1#options)... or [pump.io](https://github.com/pump-io/pump.io) + forks?

[2019-02-14 19:07] Mikaela commented on #731
I don't know what was your original message to GitHub support, but from their response I think they were talking about GitHub pages without custom domain, `<username>.github.io`, but that should fix your issue.

(Sorry if I am not making much sense, I am multitasking.)

[2019-02-16 05:02] White-Clouds opened #765 "✨ Feature Suggestion | Add Simplified Chinese"
## Description:
Please add Simplified Chinese. There are many differences between Simplified Chinese and Traditional Chinese and Traditional Chinese sometimes misleads users of Simplified Chinese.
Translating from Traditional Chinese to Simplified Chinese is not difficult, please add Simplified Chinese.
I'll thank you very much.

[2019-02-16 18:48] Zig-03 opened #766 "🆕 Software Suggestion | Silence - Encrypted SMS/MMS conversations"
## Basic Information

**Name:**
Silence
**Category:**
SMS/MMS Encryption
**URL:**
https://f-droid.org/en/packages/org.smssecure.smssecure/
## Description
I'm not associated in any way with this app.

[2019-02-16 20:07] pahakalle commented on #766
For those who don't want to open the url:
---
Silence is an SMS/MMS application that allows you to protect your privacy while communicating with friends.
Using Silence, you can send SMS messages and share media or attachments with complete privacy.

Features:
* Easy. Silence works like any other SMS application. There\'s nothing to sign up for and no new service your friends need to join.
* Reliab

[2019-02-16 20:49] pahakalle commented on #766
Silence Changelog:
https://github.com/SilenceIM/Silence/blob/HEAD/CHANGELOG.md

[2019-02-17 08:18] ghost opened #767 "🆕 Software Suggestion | Mail Cow"
## Basic Information

**Name:** Mail Cow
**Category:** Privacy E-Mail
**URL:** https://mailcow.email

## Description
mailcow is a docker based GNU/Linux mail server suite.

[2019-02-17 21:22] Vincevrp commented on #766
#634

[2019-02-17 21:22] #766 closed

[2019-02-18 11:46] puzzle0solver commented on #374
@libBletchley [do you know this?](https://addons.mozilla.org/en-US/firefox/addon/are-links-vulnerable-to-mitm/)

[2019-02-20 18:52] simooooone opened #768 "🆕 Software Suggestion |"
## Basic Information

**Name:**
Berryer

**Category:**
Domain Name System (DNS)

**URL:**
https://github.com/riminilug/berryer

## Description
Procedure to install, configure and update a working suite of privacy respectful docker containers and docker itself on a Raspberry PI 3B+. Other platforms has not been tested as I am almost alone at the moment.

[2019-02-21 15:08] tya99 opened #769 "🌐 Website Issue | dom.battery.enabled incorrect description "Website owners can track the battery status of your device""
I was having a look through ghacks/user.js and I noticed this one:

[code]

So I don't think it's strictly fair anymore to say that "website owners can track the battery status of your device". As of FF52+ you'd have to have a malicious addon installed that was reporting that back not just "on a website".

[2019-02-22 21:16] lambtho12 opened #770 "🌐 Website Issue | French website not https"
## Description
The french translation (https://privacytools.dreads-unlock.fr/) seems to have an invalid certificate. It should be corrected for proper https connection.

[2019-02-22 21:20] Shifterovich commented on #770
@Booteille

[2019-02-22 23:42] Booteille commented on #770
I fixed it.

Thanks for the notification.

BTW, sorry for the lack of updates past two months, I am really busy ATM.

[2019-02-23 10:25] #770 closed

[2019-02-23 12:53] Mikaela commented on #518
It looks like the extension has changed it's name to _True Sight_ and attempts to detect other CDNs too in addition to only Cloudflare. Could you update the issue title and maybe details?

Source: clicking https://addons.mozilla.org/en-US/firefox/addon/detect-cloudflare-plus/

[2019-02-23 18:13] pahakalle commented on #518
The github repo of the addon: https://github.com/claustromaniac/detect-cloudflare-plus

[2019-02-24 19:37] Vincevrp commented on #752
Considering our "quality over quantity" guideline, this seems useless to me. This could easily be replaced by on of our recommended digital notebooks or file encryption software.

[2019-02-24 19:37] #752 closed

[2019-02-24 19:40] Vincevrp commented on #733
Relevant: https://github.com/privacytoolsIO/privacytools.io/pull/732#issuecomment-464964634

[2019-02-24 19:48] Vincevrp commented on #683
What's the maximum size of an LFS repository on Github?

[2019-02-24 19:58] John3 commented on #733
Actually I can recommend Guerrilla Mail https://github.com/flashmob/go-guerrilla, I had few issues with 10email in the past and with a few other in tha gist list that was not accepted anywhere so pretty useless.

[2019-02-24 20:07] John3 commented on #733
About "Email Forwarding" I not sure if is the same think I have in mind right now... But years ago I used and was not really useful. Because It forwarded a lot of spam... It suppose to have filter and only forward good email but not always works.

[2019-02-24 22:30] Mikaela commented on #683
* https://help.github.com/en/articles/about-storage-and-bandwidth-usage

* https://help.github.com/en/articles/about-git-large-file-storage

I guess the second may be about the software even if you self-host, but I am not sure.

[2019-02-26 15:55] anon88391 opened #771 "❌ Software Removal | Cryptocat"
Cryptocat is mentioned in the Encrypted Instand Messenger section on the website. Cryptocat is however no longer maintained which potentially exposes users to security risks and as such its use should not be recommended.
Proof that Cryptocat is no longer maintained can be found on its home website:
https://crypto.cat/